/* ==========================================================================
   Title styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Title style - begin
   ========================================================================== */
.qodef-title-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 80px;
  background-color: #f6f6f6;
  background-image: url(../img/standard-title-image.png);
  background-position: center 0;
  background-repeat: no-repeat;
  z-index: 101;
}

.qodef-title-holder.qodef-title-full-width .qodef-grid {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0 40px;
  box-sizing: border-box;
}

.qodef-title-holder.qodef-bg-responsive {
  height: auto !important;
}

.qodef-title-holder.qodef-bg-responsive .qodef-title-image {
  display: block;
}

.qodef-title-holder.qodef-bg-responsive .qodef-title-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.qodef-title-holder.qodef-bg-parallax {
  background-attachment: fixed;
}

.qodef-title-holder .qodef-title-image {
  display: none;
}

.qodef-title-holder .qodef-title-image img {
  display: block;
  width: 100%;
}

.qodef-title-holder .qodef-title-wrapper {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.qodef-title-holder .qodef-title-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

/* ==========================================================================
   Title style - end
   ========================================================================== */
/* ==========================================================================
   Centered Title type style - begin
   ========================================================================== */
.qodef-title-holder.qodef-boxed-type.qodef-bg-responsive .qodef-title-wrapper {
  top: auto;
  bottom: 0;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.qodef-title-holder.qodef-boxed-type .qodef-boxed-title-holder {
  position: absolute;
  min-width: 518px;
  bottom: 40px;
  padding: 50px 60px;
  box-sizing: border-box;
  background-color: #fff;
}

.qodef-title-holder.qodef-boxed-type .qodef-boxed-title-holder .qodef-page-title,
.qodef-title-holder.qodef-boxed-type .qodef-boxed-title-holder .qodef-page-subtitle {
  margin: 0;
}

.qodef-title-holder.qodef-boxed-type .qodef-boxed-title-holder .qodef-page-subtitle {
  text-transform: capitalize;
  margin-top: 15px;
}

.qodef-title-holder.qodef-boxed-type .qodef-boxed-title-holder .qodef-title-separator {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 5px;
  background-color: #f39e59;
  margin: 25px 0 10px;
}

/* ==========================================================================
   Centered Title type style - end
   ========================================================================== */
/* ==========================================================================
   Breadcrumbs Title type style - begin
   ========================================================================== */
.qodef-title-holder.qodef-breadcrumbs-type .qodef-breadcrumbs {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  color: #555555;
}

.qodef-title-holder.qodef-breadcrumbs-type .qodef-breadcrumbs.qodef-has-inline-style a {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.qodef-title-holder.qodef-breadcrumbs-type .qodef-breadcrumbs.qodef-has-inline-style a:hover {
  color: inherit;
  opacity: 0.9;
}

.qodef-title-holder.qodef-breadcrumbs-type .qodef-breadcrumbs a,
.qodef-title-holder.qodef-breadcrumbs-type .qodef-breadcrumbs span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #959494;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.qodef-title-holder.qodef-breadcrumbs-type .qodef-breadcrumbs a:hover {
  color: #d56a36;
}

/* ==========================================================================
   Breadcrumbs Title type style - end
   ========================================================================== */
/* ==========================================================================
   Centered Title type style - begin
   ========================================================================== */
.qodef-title-holder.qodef-centered-type .qodef-title-inner {
  text-align: center;
}

.qodef-title-holder.qodef-centered-type .qodef-page-title {
  margin: 0;
}

.qodef-title-holder.qodef-centered-type .qodef-page-subtitle {
  display: block;
  margin: 10px 0 0;
  box-sizing: border-box;
}

/* ==========================================================================
   Centered Title type style - end
   ========================================================================== */
/* ==========================================================================
   Standard With Breadcrumbs Title type style - begin
   ========================================================================== */
.qodef-title-holder.qodef-standard-with-breadcrumbs-type .qodef-title-info,
.qodef-title-holder.qodef-standard-with-breadcrumbs-type .qodef-breadcrumbs-info {
  display: block;
  vertical-align: middle;
}

.qodef-title-holder.qodef-standard-with-breadcrumbs-type .qodef-breadcrumbs-info {
  white-space: nowrap;
}

.qodef-title-holder.qodef-standard-with-breadcrumbs-type .qodef-page-title {
  margin: 0;
}

.qodef-title-holder.qodef-standard-with-breadcrumbs-type .qodef-page-subtitle {
  margin: 5px 0 0;
}

.qodef-title-holder.qodef-standard-with-breadcrumbs-type .qodef-breadcrumbs {
  color: #555555;
}

.qodef-title-holder.qodef-standard-with-breadcrumbs-type .qodef-breadcrumbs.qodef-has-inline-style a {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.qodef-title-holder.qodef-standard-with-breadcrumbs-type .qodef-breadcrumbs.qodef-has-inline-style a:hover {
  color: inherit;
  opacity: 0.9;
}

.qodef-title-holder.qodef-standard-with-breadcrumbs-type .qodef-breadcrumbs a,
.qodef-title-holder.qodef-standard-with-breadcrumbs-type .qodef-breadcrumbs span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #959494;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.qodef-title-holder.qodef-standard-with-breadcrumbs-type .qodef-breadcrumbs a:hover {
  color: #d56a36;
}

/* ==========================================================================
   Standard With Breadcrumbs Title type style - end
   ========================================================================== */
/* ==========================================================================
   Standard Title type style - begin
   ========================================================================== */
.qodef-title-holder.qodef-standard-type .qodef-page-title {
  margin: 0;
}

.qodef-title-holder.qodef-standard-type .qodef-page-subtitle {
  margin: 10px 0 0;
}

/* ==========================================================================
   Standard Title type style - end
   ========================================================================== */
/* ==========================================================================
   Title styles - end
   ========================================================================== */

/*# sourceMappingURL=title-map.css.map */
