/* ==========================================================================
   Blog List widget style - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
.widget.qodef-blog-list-widget .qodef-blog-list-holder.qodef-bl-simple .qodef-post-image {
  width: 100px;
}

.widget.qodef-blog-list-widget .qodef-blog-list-holder.qodef-bl-simple .qodef-bli-content {
  padding: 25px 17px;
  background-color: #fafafa;
}

.widget.qodef-blog-list-widget .qodef-blog-list-holder.qodef-bl-simple .qodef-post-title {
  color: #4c494a;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: .1em;
  line-height: 1.5em;
}

.widget.qodef-blog-list-widget .qodef-blog-list-holder.qodef-bl-simple .qodef-post-info-date {
  display: none;
}

/* ==========================================================================
   Blog List widget style - end
   ========================================================================== */

/*# sourceMappingURL=blog-list-widget-map.css.map */
