/* ==========================================================================
   Custom Font widget style - begin
   ========================================================================== */
.widget.qodef-custom-font-widget {
  margin: 0;
}

.widget.qodef-custom-font-widget > * {
  margin: 0;
}

/* ==========================================================================
   Custom Font widget style - end
   ========================================================================== */

/*# sourceMappingURL=custom-font-widget-map.css.map */
