/* ==========================================================================
   Social Icons Group widget style - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
.qodef-social-icons-group-widget.qodef-square-icons .qodef-social-icon-widget-holder {
  position: relative;
  width: 44px;
  height: 44px;
  margin: 0 7px;
  font-size: 17px;
  color: #fff;
  background-color: #4c494a;
}

.qodef-social-icons-group-widget.qodef-square-icons .qodef-social-icon-widget-holder:hover {
  color: #4c494a;
  background-color: #d56a36;
}

.qodef-social-icons-group-widget.qodef-square-icons .qodef-social-icon-widget-holder .qodef-social-icon-widget {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.qodef-social-icons-group-widget.qodef-square-icons.qodef-light-skin .qodef-social-icon-widget-holder {
  color: #4c494a;
  background-color: #fff;
}

.qodef-social-icons-group-widget.qodef-square-icons.qodef-light-skin .qodef-social-icon-widget-holder:hover {
  color: #4c494a;
  background-color: #d56a36;
}

.qodef-social-icons-group-widget .qodef-social-icon-widget-holder {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
  text-align: center;
}

.qodef-social-icons-group-widget .qodef-social-icon-widget-holder:first-child {
  margin-left: 0;
}

.qodef-social-icons-group-widget .qodef-social-icon-widget-holder:last-child {
  margin-right: 0;
}

/* ==========================================================================
   Social Icons Group widget style - end
   ========================================================================== */

/*# sourceMappingURL=social-icons-group-widget-map.css.map */
