.sidebar-qodef-custom{
	position: relative;
}

.qodef-delete-button{
	height:24px;
	width: 24px;
	position: absolute;
	z-index: 100;
	top: 12px;
	right: 42px;
	background: transparent url(img/delete.png) no-repeat top left;
}

.qodef-delete-button:hover{
	background: transparent url(img/delete.png) no-repeat bottom left;
	cursor: pointer;
}

.activate_spinner{
	display: block !important;
	position: absolute;
	top: 10px;
	right: 4px;
	background-color: #ECECEC;
}

.qodef-add-widget{
	background-color: #FCFCFC;
	border: 1px solid #DFDFDF;
	padding:10px;
	text-align: center;
	margin: 12px 0px;
}

#wpwrap .qodef-add-widget .button{
	margin-top:15px;
}

.qodef-add-widget .input_wrap {
	display: block;
	position: relative;
}

.qodef-add-widget .input_wrap input{
	width: 100%;
}

.qodef-field-description {
    display: block;
    font-style: italic;
    margin-top: 5px;
}

.qodef-widget-color-picker > label,
.qodef-widget-color-picker span {
	display: block;
}