/*
Theme Name: Duc Nha Theme
Theme URL: http://hostinger-tutorials.com
Description: Twenty Seventeen Child Theme
Author: Minh Nhat
Author URL: http://hostinger-tutorials.com
Template: peggi
Version: 1.0.0
Text Domain: peggi-child
*/

@font-face {
    font-family: 'Roboto';
    src: url("assets/css/font/GoogleSans-Regular.ttf");
}

@media only screen and (max-width: 1199px) and (min-width: 1025px) {
	.frm-lienhe .qodef-eh-item .qodef-eh-item-content {
		padding: 12% 0 0 0 !important;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.qodef-container-inner, .qodef-grid, .qodef-row-grid-section ,
    .qodef-woo-single-page .qodef-container-inner {
        width: calc(100% - 30px);
    }

    .qodef-content .qodef-content-inner .qodef-container-inner {
        width: calc(100% - 60px);
    }

    .home .qodef-grid-row .qodef-row-grid-section {
        width: calc(100% - 60px) !important;
    }

}

@media (min-width: 1025px) and (max-width: 1200px) {
    .qodef-woocommerce-page .qodef-container-inner,
    .qodef-woo-single-page .qodef-container-inner,
    .page-template-default .qodef-content .qodef-container-inner{
        width: 920px;
    }

}

@media only screen and (min-width: 1400px) {
    .qodef-grid-1300 .qodef-container-inner {
        width: 1270px;
    }
}

@media only screen and (max-width: 480px) {
	.qodef-container-inner, .qodef-grid, .qodef-row-grid-section {
	    width: 100% !important;
	}

    .qodef-wrapper-inner .qodef-top-bar .qodef-position-right .qodef-btn.qodef-btn-small {
        padding: 16px 15px !important;
    }

    div.qodef-title-holder.qodef-breadcrumbs-type .qodef-grid {
        width: calc(100% - 60px) !important;
    }

    .home .qodef-grid-row .qodef-row-grid-section,
    .qodef-content .qodef-content-inner .qodef-container-inner {
        width: calc(100% - 30px) !important;
    }

    .qodef-woocommerce-page .qodef-content .qodef-content-inner .qodef-container-inner {
        width: calc(100% - 60px) !important;
    }

    .qodef-woocommerce-page.qodef-woo-single-page .qodef-container-inner.clearfix {
        width: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
	.cart-mb-section .qodef-view-cart {
		width: 100%;
	}

	.cart-mb-section .qodef-view-checkout {
		width: 100%;
		margin-top: 10px;
	}

    .qodef-breadcrumbs-type .qodef-grid {
        width: calc(100% - 60px) !important;
    }

    
}

@media only screen and (max-width: 480px) {
	.qodef-newsletter .qodef-column-left {
		display: block;
		width: 100%;
		padding: 0;
	}
	
	.qodef-newsletter .qodef-column-right {
		display: block;
		width: 100%;
		padding: 0;
	}
	
	.qodef-newsletter .qodef-column-right .wpcf7-submit {
		width: 100%;
	}

	.cart-mb-section .qodef-shopping-cart-dropdown {
		width: 100%;
		margin-top: 0;
	}

	.cart-mb-section .qodef-shopping-cart-holder,
	.cart-mb-section .qodef-shopping-cart-inner {
		position: unset;
	}
}

@media only screen and (max-width: 680px) {
    .qodef-woo-single-page .product-type-simple .qodef-single-product-summary,
    .qodef-woo-single-page .product-type-simple ul.products,
    .qodef-woo-single-page .product-type-simple .woocommerce-product-gallery {
        padding: 0 30px;
    }

	.qodef-pli.qodef-item-space  {
		text-align: center;
	}

	.qodef-grid-row {
		margin-left: 0;
		margin-right: 0;
	}

    .qodef-woocommerce-page .qodef-container-inner,
    .qodef-title-holder.qodef-breadcrumbs-type .qodef-grid {
        width: calc(100% - 90px) !important;
    }

    .qodef-woo-single-page .qodef-container-inner.clearfix {
        width: calc(100% - 30px) !important;
    }

}

@media only screen and (min-width: 1025px) {
    .qodef-title-holder.qodef-breadcrumbs-type .qodef-breadcrumbs {
        padding: 0 15px;
    }

	.qodef-logo-wrapper {
		padding: 0 !important;
	}

	header.qodef-page-header .qodef-logo-area {
		height: auto !important;
	}

	header.qodef-page-header .qodef-logo-area .qodef-position-center {
		position: unset;
	}

	header.qodef-page-header .qodef-logo-area .qodef-logo-wrapper a {
		/*height: 160px !important;*/
		/*max-height: 160px !important;*/
		margin-top: 20px;
		margin-bottom: 20px;
	}

	header .qodef-vertical-align-containers .qodef-position-left {
		position: absolute;
	}

	header .qodef-vertical-align-containers .qodef-position-right {
	    right: 15px;
	    position: absolute;
	    top: 0;
	}

	header .qodef-fixed-wrapper .qodef-menu-area .qodef-grid {
		width: 100%;
	}

	.qodef-page-header .qodef-fixed-wrapper.fixed .qodef-menu-area {
	    background-color: #D54025;
	}

	.qodef-fixed-wrapper .qodef-main-menu > ul > li > a {
		color: #fff;
	}

	.qodef-fixed-wrapper .qodef-main-menu>ul>li.qodef-active-item>a,
	.qodef-fixed-wrapper .qodef-main-menu ul li:hover>a {
		color: #000;
	}

	.qodef-fixed-wrapper .qodef-main-menu ul li.qodef-active-item > a .item_text:after,
	.qodef-fixed-wrapper .qodef-main-menu ul li:hover>a .item_text:after {
		background-image: url(../peggi/framework/modules/header/assets/img/peggi_brush_black.svg);
	}

	.qodef-main-menu>ul>li>a {
		padding: 0 15px;
	}

}

@media (max-width: 1024px) and (min-width: 681px) {
    .qodef-mobile-header .qodef-vertical-align-containers {
        padding: 0 7.5px !important;
    }
}
@media only screen and (max-width: 1024px) {
    .qodef-woocommerce-page .qodef-container-inner .qodef-grid-row {
        margin: 0;
    }

    .qodef-sidebar-holder,
    .qodef-page-content-holder {
        padding: 0;
    }

	.search-mb-section,
	.cart-mb-section {
	    float: right;
	    display: block;
	    height: 100%;
	    padding-right: 10px;
	    vertical-align: middle;
	    text-align: center;
	    padding: 0;
	}

	.search-mb-section .qodef-search-opener {
		height: 100%;
        margin: 0;
	}

	.search-mb-section .qodef-search-opener-wrapper {
		display: table;
		height: 100%;
	}

	.search-mb-section .qodef-search-opener-wrapper > span {
		display: table-cell;
	}

	.cart-mb-section .qodef-shopping-cart-holder:hover .qodef-shopping-cart-dropdown {
		margin-top: 0;
	}

	.qodef-sidebar-holder {
		margin-top: 40px !important;
	    border-top: 1px solid #ddd;
	    padding-top: 40px;
	    border-style: dashed;
	}

    .qodef-container-inner,
    .qodef-breadcrumbs-type .qodef-grid {
        width: 738px;
    }

    .qodef-grid-row .wpb_content_element {
        padding: 0 15px;
    }

}

#qodef-back-to-top {
	bottom: 100px;
}

.qodef-mobile-header .qodef-mobile-menu-opener {
	float: right;
}


.qodef-mobile-menu-opened .fa-bars:before {
    content: "\f00d";
    transition: opacity .3s, transform .3s;
}

.qodef-drop-down .second .inner ul li a {
    padding: 5px 20px;

}

.qodef-wrapper-inner .qodef-top-bar {
	background-color: #D54025;
	display: block !important;
	height: 54px;
}

.qodef-wrapper-inner .qodef-top-bar .qodef-position-right .qodef-btn.qodef-btn-small {
    padding: 16px 30px;
}

.qodef-mobile-header .qodef-mobile-menu-opener a span i,
.qodef-main-menu>ul>li.qodef-active-item>a {
    color: #D54025;
}

.qodef-main-menu ul li:hover>a, .qodef-top-bar .widget a:hover {
    color: #000;
}

a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, p a:hover {
    color: #D54025;
}

.qodef-page-footer .widget a:hover, .qodef-side-menu .widget a:hover {
    color: #D54025;
}

.qodef-page-footer .widget.widget_archive ul li a:hover, .qodef-page-footer .widget.widget_categories ul li a:hover, .qodef-page-footer .widget.widget_meta ul li a:hover, .qodef-page-footer .widget.widget_nav_menu ul li a:hover, .qodef-page-footer .widget.widget_pages ul li a:hover, .qodef-page-footer .widget.widget_recent_comments ul li a:hover {
    color: #D54025;
}

.call-now-button {
	left: 50px !important;
    top: calc(100% - 100px) !important;
}

.qodef-mobile-header .qodef-mobile-nav {
	height: 220px !important;
    box-shadow: 0 9px 20px 0 #cfd0d0;
}

.qodef-page-footer .qodef-footer-top-holder {
	background-image: unset !important;
}

.qodef-mobile-header .qodef-mobile-logo-wrapper a {
    height: 67px !important;
}

.qodef-grid-list .qodef-pl-outer.qodef-outer-space {
	margin: 0;
}

.qodef-grid-row .qodef-icon-widget-holder .qodef-icon-text {
	padding: 0;
	width: calc(100% - 40px);
    margin-left: 10px;
}

.qodef-grid .qodef-icon-widget-holder .qodef-icon-text {
	width: 100% !important;
}

.title-bg-mobile {
	text-align: left;
    display: block;
}

.title-bg-mobile .qodef-iwt-title a {
	color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    background: #D54025;
    padding: 3px 20px 0px 15px;
    border: 0 solid transparent;
    position: relative;
    border-radius: 0px 50px 0px 0px;
}

.title-bg-mobile .qodef-iwt-content{
	padding-left: 0 !important;
}

.title-bg-mobile:after {
	content: '';
    height: 2px;
    width: 100%;
    display: block;
    background: #D54025;
}

/* FOOTER */

.qodef-page-footer .widget, .qodef-side-menu .widget,
footer.qodef-page-footer .widget a,
footer.qodef-page-footer .widget.widget_nav_menu ul li a {
	color: #fff;
}

footer.qodef-page-footer .widget.widget_nav_menu ul li a:hover,
footer.qodef-page-footer .widget a:hover,
footer .qodef-side-menu .widget a:hover {
    color: #000;
}

.qodef-page-header .qodef-menu-area {
    background: #D54025;
}

.qodef-page-footer .qodef-footer-top-holder .qodef-footer-top-inner.qodef-grid {
	padding: 50px 0 20px;
}



/* PRODUCT */
.woocommerce-page .qodef-content .button.add_to_cart_button,
.woocommerce-page .qodef-content .product .button.product_type_simple,
.qodef-pli-text-outer .button.add_to_cart_button,
.qodef-woo-pl-info-below-image .product .button.add_to_cart_button {
	color: #fff;
    background-color: #D54025;
    border: none;
    position: relative;
    display: block;
    vertical-align: middle;
    width: auto;
    margin: 0;
    font-family: inherit;
    font-size: 11px;
    line-height: 2em;
    letter-spacing: .2em;
    margin-top: 15px;
    text-align: center;
    font-weight: 500;
    outline: 0;
    box-sizing: border-box;
    -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    padding: 5px;
    white-space: nowrap;
    z-index: 3;
    text-transform: initial;
}

.qodef-pli-text-outer .button.add_to_cart_button:hover,
.qodef-woo-pl-info-below-image .product .button.add_to_cart_button:hover {
	color: #fff;
	background: #000;
}

.trend-product .qodef-pli {
	display: block;
    width: 100% !important;
    padding: 5px 5px 10px 5px !important;
    border: 1px solid #ddd;
    background: #fafafadd;
    margin-bottom: 10px !important;
}

.trend-product .qodef-pli-inner {
    width: 125px;
    display: inline-block;
}

.trend-product .qodef-pli-text-wrapper {
	display: inline-block;
    width: calc(100% - 150px);
    text-align: left;
    margin-top: 0;
    padding-left: 10px;
}

#qodef-back-to-top .qodef-icon-stack {
	background-color: #000;
}

.qodef-sidebar-holder h5.qodef-widget-title {
    color: #fff;
    padding: 5px 10px;
    background: #D54025;
    text-transform: none;
    font-weight: 600;
}

.qodef-shopping-cart-dropdown .qodef-cart-bottom .qodef-view-checkout:hover,
.qodef-shopping-cart-dropdown .qodef-cart-bottom .qodef-view-cart {
    background-color: #000;
}

.qodef-shopping-cart-dropdown .qodef-cart-bottom .qodef-view-checkout,
.qodef-shopping-cart-dropdown .qodef-cart-bottom .qodef-view-cart:hover {
    background-color: #D54025;
}

ul.products>.product .price,
.qodef-pl-holder .qodef-pli .qodef-pli-price {
	font-weight: bold;
}

.qodef-pl-holder .qodef-pli .qodef-pli-price ins,
.qodef-title-holder.qodef-breadcrumbs-type .qodef-breadcrumbs a:hover,
.qodef-mobile-header .qodef-mobile-nav .qodef-grid>ul>li.qodef-active-item>a, .qodef-mobile-header .qodef-mobile-nav .qodef-grid>ul>li.qodef-active-item>h6, .qodef-mobile-header .qodef-mobile-nav ul li a:hover, .qodef-mobile-header .qodef-mobile-nav ul li h6:hover, .qodef-mobile-header .qodef-mobile-nav ul ul li.current-menu-ancestor>a, .qodef-mobile-header .qodef-mobile-nav ul ul li.current-menu-ancestor>h6, .qodef-mobile-header .qodef-mobile-nav ul ul li.current-menu-item>a, .qodef-mobile-header .qodef-mobile-nav ul ul li.current-menu-item>h6 {
	color: #D54025;
}


.product-categories .cat-item:last-child {
	display: none !important;
}

.products h5.qodef-product-list-title a,
.qodef-pli h5.qodef-pli-title a {
    display: -webkit-box;
    height: 47px;
    font-size: 15px;
    font-weight: 600;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.qodef-search-fade .qodef-fullscreen-search-holder .qodef-fullscreen-search-table {
	background-color: rgb(238, 72, 33);
	background-image: none;
}

.woocommerce-cart-form .product-quantity {
    text-align: center !important;
}

.woocommerce-cart-form .qodef-quantity-buttons {
    width: 50px;
}

.woocommerce-cart-form .qodef-quantity-buttons .qodef-quantity-input {
    display: block;
    margin: 0;
    width: 100% !important;
}

.woocommerce-cart-form .qodef-quantity-buttons .qodef-quantity-plus,
.woocommerce-cart-form .qodef-quantity-buttons .qodef-quantity-minus {
    width: 100% !important;
    text-align: center !important;
}

.qodef-position-left-inner a {
	color : #000;
}

.qodef-top-bar a:hover span {
	color: #fff !important;
}

.qodef-top-bar .qodef-position-right-inner a {
    letter-spacing: inherit;
}

.btn-lienhe {
	margin-top: 20px;
}

.cty-ducnha-title {
    margin-top: 20px;
    font-weight: 700;
    color: #d54025;
    font-size: 17px;
    text-transform: uppercase;
}


@media screen and (max-width:680px){
    .call-now-button{
        display:flex!important;
        background:transparent
    }

    .call-now-button .call-text{
        display:none
    }

    .qodef-top-bar .qodef-vertical-align-containers {
        padding: 0 30px !important;
    }
}
.quick-call-button{
    display:none
}
.call-now-button{
	background: #ffffff;
    z-index:9999;
    clear:both;
    margin:0 auto;
    position:fixed;
    border-radius:50px
}
.call-now-button div{
    display:flex
}
.call-now-button div p{
    color:#d54025;
    display:table;
    padding:10px;
    border-radius:21px;
    height:34px;
    line-height:14px;
    font-size:14px;
    margin:8px 5px 8px 50px;
    text-transform:uppercase;
    font-weight:normal;
    text-align:center;
    box-sizing:content-box;
    text-decoration:none!important;
    box-sizing:border-box
}
.quick-alo-ph-circle.active{
    width:130px;
    height:130px;
    top:-40px;
    left:-40px;
    position:absolute;
    background-color:transparent;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    border:2px solid rgba(30,30,30,.4);
    opacity:1;
    -webkit-animation:quick-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation:quick-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation:quick-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation:quick-alo-circle-anim 1.2s infinite ease-in-out;
    animation:quick-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s;
    -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    -o-transform-origin:50% 50%;
    transform-origin:50% 50%
}
.quick-alo-ph-circle-fill.active{
    width:80px;
    height:80px;
    top:-15px;
    left:-15px;
    position:absolute;
    background-color:#000;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    border:2px solid transparent;
    opacity:1;
    -webkit-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s;
    -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    -o-transform-origin:50% 50%;
    transform-origin:50% 50%
}

.quick-alo-phone-img-circle.shake{
    width:50px;
    height:50px;
    top:0;
    left:0;
    position:absolute;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    background-color: #d54025 !important;
    border:2px solid transparent;
    opacity:1;
    background:url(assets/img/quick-call-button-phone.png) no-repeat center center;
    -webkit-animation:quick-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation:quick-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation:quick-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation:quick-alo-circle-img-anim 1s infinite ease-in-out;
    animation:quick-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    -o-transform-origin:50% 50%;
    transform-origin:50% 50%
}

@-moz-keyframes quick-alo-circle-anim{
    0%{
        -moz-transform:rotate(0) scale(.5) skew(1deg);
        opacity:.1;
        -moz-opacity:.1;
        -webkit-opacity:.1;
        -o-opacity:.1
    }
    30%{
        -moz-transform:rotate(0) scale(.7) skew(1deg);
        opacity:.5;
        -moz-opacity:.5;
        -webkit-opacity:.5;
        -o-opacity:.5
    }
    100%{
        -moz-transform:rotate(0) scale(1) skew(1deg);
        opacity:.6;
        -moz-opacity:.6;
        -webkit-opacity:.6;
        -o-opacity:.1
    }
}
@-webkit-keyframes quick-alo-circle-anim{
    0%{
        -webkit-transform:rotate(0) scale(.5) skew(1deg);
        -webkit-opacity:.1
    }
    30%{
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
        -webkit-opacity:.5
    }
    100%{
        -webkit-transform:rotate(0) scale(1) skew(1deg);
        -webkit-opacity:.1
    }
}
@-o-keyframes quick-alo-circle-anim{
    0%{
        -o-transform:rotate(0) kscale(.5) skew(1deg);
        -o-opacity:.1
    }
    30%{
        -o-transform:rotate(0) scale(.7) skew(1deg);
        -o-opacity:.5
    }
    100%{
        -o-transform:rotate(0) scale(1) skew(1deg);
        -o-opacity:.1
    }
}
@-moz-keyframes quick-alo-circle-fill-anim{
    0%{
        -moz-transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }
    50%{
        -moz-transform:rotate(0) -moz-scale(1) skew(1deg);
        opacity:.2
    }
    100%{
        -moz-transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }
}
@-webkit-keyframes quick-alo-circle-fill-anim{
    0%{
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }
    50%{
        -webkit-transform:rotate(0) scale(1) skew(1deg);
        opacity:.2
    }
    100%{
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }
}
@-o-keyframes quick-alo-circle-fill-anim{
    0%{
        -o-transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }
    50%{
        -o-transform:rotate(0) scale(1) skew(1deg);
        opacity:.2
    }
    100%{
        -o-transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }
}
@-moz-keyframes quick-alo-circle-img-anim{
    10%{
        transform:rotate(0) scale(1) skew(1deg)
    }
    10%{
        -moz-transform:rotate(-25deg) scale(1) skew(1deg)
    }
    20%{
        -moz-transform:rotate(25deg) scale(1) skew(1deg)
    }
    30%{
        -moz-transform:rotate(-25deg) scale(1) skew(1deg)
    }
    40%{
        -moz-transform:rotate(25deg) scale(1) skew(1deg)
    }
    50%{
        -moz-transform:rotate(0) scale(1) skew(1deg)
    }
    100%{
        -moz-transform:rotate(0) scale(1) skew(1deg)
    }
}
@-webkit-keyframes quick-alo-circle-img-anim{
    0%{
        -webkit-transform:rotate(0) scale(1) skew(1deg)
    }
    10%{
        -webkit-transform:rotate(-25deg) scale(1) skew(1deg)
    }
    20%{
        -webkit-transform:rotate(25deg) scale(1) skew(1deg)
    }
    30%{
        -webkit-transform:rotate(-25deg) scale(1) skew(1deg)
    }
    40%{
        -webkit-transform:rotate(25deg) scale(1) skew(1deg)
    }
    50%{
        -webkit-transform:rotate(0) scale(1) skew(1deg)
    }
    100%{
        -webkit-transform:rotate(0) scale(1) skew(1deg)
    }
}
@-o-keyframes quick-alo-circle-img-anim{
    0%{
        -o-transform:rotate(0) scale(1) skew(1deg)
    }
    10%{
        -o-transform:rotate(-25deg) scale(1) skew(1deg)
    }
    20%{
        -o-transform:rotate(25deg) scale(1) skew(1deg)
    }
    30%{
        -o-transform:rotate(-25deg) scale(1) skew(1deg)
    }
    40%{
        -o-transform:rotate(25deg) scale(1) skew(1deg)
    }
    50%{
        -o-transform:rotate(0) scale(1) skew(1deg)
    }
    100%{
        -o-transform:rotate(0) scale(1) skew(1deg)
    }
}

.banner-home .wpb_wrapper.vc_figure,
.banner-home .wpb_wrapper.vc_figure .vc_single_image-wrapper,
.banner-home .wpb_wrapper.vc_figure .vc_single_image-wrapper img {
    display: block;
    width: 100% !important;
}

.qodef-row-grid-section-wrapper .title-bg-mobile,
.qodef-vertical-align-containers,
.banner-home .wpb_single_image {
    padding: 0 15px !important;
}

.qodef-mobile-header-holder .qodef-position-left {
    float: none;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.woocommerce-page .qodef-content input[type=text],
.woocommerce-page .qodef-content input[type=email],
.woocommerce-page .qodef-content input[type=tel], 
.woocommerce-page .qodef-content input[type=password], 
.woocommerce-page .qodef-content textarea, 
div.woocommerce input[type=text], 
div.woocommerce input[type=email], 
div.woocommerce input[type=tel], 
div.woocommerce input[type=password], 
div.woocommerce textarea {
    font-size: 14px;
    text-transform: initial;
}

.qodef-woocommerce-page .woocommerce-checkout p.update_totals_on_change:not(#billing_state_field):not(#shipping_state_field) {
    margin-top: 20px;
}

header.qodef-page-header .qodef-logo-area .qodef-vertical-align-containers .woocommerce.widget_product_search {
    background: #fff;
}

header.qodef-page-header .qodef-logo-area .qodef-vertical-align-containers:after {
    background:url(assets/img/bg-header.png);
    content: '';
    display: block;
    width: calc(100% - 30px);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}