/* ==========================================================================
   Blog styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Blog Common style - begin
   ========================================================================== */
.qodef-blog-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 40px;
  clear: both;
  box-sizing: border-box;
}

.qodef-blog-holder.qodef-blog-standard article .qodef-post-excerpt-holder {
  margin: 17px 0 0;
}

.qodef-blog-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.qodef-blog-holder article.sticky .qodef-post-title a {
  color: #d56a36;
}

.qodef-blog-holder article .qodef-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-blog-holder article .qodef-post-image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.qodef-blog-holder article .qodef-post-image img {
  display: block;
}

.qodef-blog-holder article .qodef-post-image-background {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.qodef-blog-holder article .qodef-post-image-background a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.qodef-blog-holder article .qodef-post-image-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  line-height: 1;
  color: #d56a36;
  background-color: #fff;
  border-radius: 50%;
}

.qodef-blog-holder article .qodef-post-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.qodef-blog-holder article .qodef-post-title {
  margin: 0;
}

.qodef-blog-holder article .qodef-post-excerpt-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 27px 0 0;
}

.qodef-blog-holder article .qodef-post-excerpt-holder p {
  margin: 0;
}

.qodef-blog-holder article .qodef-post-excerpt:after {
  content: '...';
}

.qodef-blog-holder article .qodef-more-link-container {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 15px 0 0;
}

.qodef-blog-holder article .qodef-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-blog-holder article .qodef-post-info > * {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: currentColor;
}

.qodef-blog-holder article .qodef-post-info > * a {
  color: inherit;
}

.qodef-blog-holder article .qodef-tags-holder .qodef-tags a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 4px 11px;
  margin-right: 8px;
  box-sizing: border-box;
  background-color: #fbfbfb;
  font-size: 11px;
  line-height: 2.2em;
  font-weight: 500;
  letter-spacing: .15em;
  color: #4c494a;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  -moz-transition: color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.qodef-blog-holder article .qodef-tags-holder .qodef-tags a:last-child {
  margin-right: 0;
}

.qodef-blog-holder article .qodef-tags-holder .qodef-tags a:hover {
  color: #fff;
  background-color: #d56a36;
}

.qodef-blog-holder article .qodef-post-info-top {
  margin-bottom: 5px;
}

.qodef-blog-holder article .qodef-post-info-top > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 8px 0 0;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;
}

.qodef-blog-holder article .qodef-post-info-top > div:after {
  content: '/';
  position: absolute;
  top: 0;
  right: -2px;
}

.qodef-blog-holder article .qodef-post-info-top > div:last-child {
  padding: 0;
}

.qodef-blog-holder article .qodef-post-info-top > div:last-child:after {
  content: '';
}

.qodef-blog-holder article .qodef-post-info-top > div a {
  color: inherit;
}

.qodef-blog-holder article .qodef-post-info-top > div a:hover {
  color: #d56a36;
}

.qodef-blog-holder article .qodef-post-info-bottom {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding-top: 40px;
}

.qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-left,
.qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-right {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

@media only screen and (min-width: 769px) {
  .qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-left {
    width: 60%;
    float: left;
  }
  .qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-right {
    width: 40%;
    text-align: right;
    float: right;
  }
}

.qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-right > div {
  margin-left: 17px;
}

.qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-right > div:first-child {
  margin-left: 0;
}

.qodef-blog-holder article.format-link .qodef-post-text {
  padding: 74px 53px;
  background: url("../img/link-background-image.jpg");
  background-position-x: right;
  background-size: cover;
  box-sizing: border-box;
}

.qodef-blog-holder article.format-link .qodef-post-link-holder .qodef-link-title {
  padding-right: 43%;
  box-sizing: border-box;
}

.qodef-blog-holder article.format-link .qodef-post-text-main {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
}

.qodef-blog-holder article.format-link .qodef-post-mark {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 50px;
  vertical-align: top;
  text-align: left;
}

.qodef-blog-holder article.format-link .qodef-post-mark .qodef-link-mark {
  padding-top: 5px;
  font-size: 36px;
  color: #d56a36;
}

.qodef-blog-holder article.format-link .qodef-post-link-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: top;
  text-align: left;
}

.qodef-blog-holder article.format-quote .qodef-post-text {
  padding: 52px 53px 50px;
  background: url("../img/quote-background-image.jpg");
  background-position-x: right;
  background-size: cover;
  box-sizing: border-box;
}

.qodef-blog-holder article.format-quote .qodef-post-text-main {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
}

.qodef-blog-holder article.format-quote .qodef-post-quote-holder .qodef-quote-title {
  padding-right: 24%;
  box-sizing: border-box;
}

.qodef-blog-holder article.format-quote .qodef-post-quote-holder .qodef-quote-author {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-top: 15px;
  color: #4c494a;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.qodef-blog-holder article.format-quote .qodef-post-link-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: top;
  text-align: left;
}

.qodef-blog-holder article.format-quote .qodef-post-author {
  display: inline-block;
  margin-bottom: 23px;
  font-size: 13px;
  line-height: 20px;
}

.qodef-blog-holder article.format-gallery .qodef-post-image {
  width: 100%;
}

.qodef-blog-holder article.format-gallery .owl-carousel .owl-item {
  z-index: 2;
}

.qodef-blog-holder article.format-gallery .owl-carousel .owl-item.active {
  z-index: 3;
}

.qodef-blog-holder article.format-gallery .qodef-owl-slider .owl-nav .owl-next,
.qodef-blog-holder article.format-gallery .qodef-owl-slider .owl-nav .owl-prev {
  position: absolute;
  top: auto;
  right: 18px;
  padding: 9px;
  margin: 0;
  background-color: #fff;
  z-index: 3;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.qodef-blog-holder article.format-gallery .qodef-owl-slider .owl-nav .owl-next > span,
.qodef-blog-holder article.format-gallery .qodef-owl-slider .owl-nav .owl-prev > span {
  font-size: 14px;
}

.qodef-blog-holder article.format-gallery .qodef-owl-slider .owl-nav .owl-next:hover,
.qodef-blog-holder article.format-gallery .qodef-owl-slider .owl-nav .owl-prev:hover {
  color: #d56a36;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.qodef-blog-holder article.format-gallery .qodef-owl-slider .owl-nav .owl-next:hover span:before,
.qodef-blog-holder article.format-gallery .qodef-owl-slider .owl-nav .owl-prev:hover span:before {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.qodef-blog-holder article.format-gallery .qodef-owl-slider .owl-nav .owl-next {
  bottom: 18px;
}

.qodef-blog-holder article.format-gallery .qodef-owl-slider .owl-nav .owl-prev {
  left: auto;
  bottom: 53px;
}

.qodef-blog-holder article.format-audio.has-post-thumbnail .qodef-post-heading {
  position: relative;
}

.qodef-blog-holder article.format-audio.has-post-thumbnail .qodef-blog-audio-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.qodef-blog-holder article.format-audio .qodef-post-image-icon {
  font-size: 40px;
  padding: 20px;
}

.qodef-blog-holder article.format-audio .qodef-post-image {
  width: 100%;
  max-width: inherit;
}

.qodef-blog-holder article.format-audio .qodef-post-image img {
  width: 100%;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container, .qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-embed, .qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-embed body, .qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls {
  background: none;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container {
  background-color: #4c494a;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls {
  height: 38px !important;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls {
  padding: 0 10px 0 4px;
  box-sizing: border-box;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button {
  width: 39px;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  width: 30px;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  height: 38px;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button button {
  position: relative;
  height: 100%;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  border: 0;
  outline: none;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-play button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-replay button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-play button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-replay button {
  width: 39px;
  background-image: url("../img/audio/play.png");
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-pause button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-pause button {
  width: 39px;
  background-image: url("../img/audio/pause.png");
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-stop button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-stop button {
  width: 39px;
  background-image: url("../img/audio/stop.png");
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-mute button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-mute button {
  width: 30px;
  background-image: url("../img/audio/sound.png");
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-unmute button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-unmute button {
  width: 30px;
  background-image: url("../img/audio/mute.png");
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time {
  height: 100%;
  padding: 0;
  font-family: inherit;
  font-size: 13px;
  color: #fff;
  line-height: 36px;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail {
  height: 100%;
  padding: 0;
  font-family: inherit;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total {
  height: 5px;
  margin: 15px 0;
  background: none;
  background-color: #fff;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-current {
  height: 5px;
  background-color: #d56a36;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-buffering,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered {
  height: 5px;
  z-index: 9999;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered {
  background: rgba(0, 0, 0, 0.5);
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  top: -16px;
  border: 0;
  color: #fff;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-handle-content {
  display: none;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float-corner {
  top: 11px;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-loaded,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  background: none;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider {
  height: 38px;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  height: 5px;
  background: none;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  top: 15px;
  background-color: #fff;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #d56a36;
}

.qodef-blog-holder article.format-video .qodef-post-heading {
  position: relative;
}

.qodef-blog-holder article.format-video .qodef-self-hosted-video {
  max-width: 100%;
}

.qodef-blog-holder article.format-video .qodef-post-image-icon {
  font-size: 50px;
  padding: 15px;
}

/* ==========================================================================
   Blog Common style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination standard style - begin
   ========================================================================== */
.qodef-blog-pagination-wp {
  display: none;
}

.qodef-blog-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 20px 0 30px;
  clear: both;
}

.qodef-blog-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.qodef-blog-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 3px;
}

.qodef-blog-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 5px 15px;
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

.qodef-blog-pagination ul li a.qodef-pag-active, .qodef-blog-pagination ul li a:hover {
  color: #fff;
  background-color: #f39e59;
}

.qodef-blog-pagination ul li.qodef-pag-prev, .qodef-blog-pagination ul li.qodef-pag-next, .qodef-blog-pagination ul li.qodef-pag-first, .qodef-blog-pagination ul li.qodef-pag-last {
  top: -1px;
  margin: 0;
}

.qodef-blog-pagination ul li.qodef-pag-prev a, .qodef-blog-pagination ul li.qodef-pag-next a, .qodef-blog-pagination ul li.qodef-pag-first a, .qodef-blog-pagination ul li.qodef-pag-last a {
  font-size: 22px;
}

.qodef-blog-pagination ul li.qodef-pag-prev a:hover, .qodef-blog-pagination ul li.qodef-pag-next a:hover, .qodef-blog-pagination ul li.qodef-pag-first a:hover, .qodef-blog-pagination ul li.qodef-pag-last a:hover {
  background-color: transparent;
  color: #d56a36;
}

.qodef-blog-pagination ul li.qodef-pag-prev a span, .qodef-blog-pagination ul li.qodef-pag-next a span, .qodef-blog-pagination ul li.qodef-pag-first a span, .qodef-blog-pagination ul li.qodef-pag-last a span {
  display: block;
  line-height: inherit;
}

.qodef-blog-pagination ul li.qodef-pag-prev a span:before, .qodef-blog-pagination ul li.qodef-pag-next a span:before, .qodef-blog-pagination ul li.qodef-pag-first a span:before, .qodef-blog-pagination ul li.qodef-pag-last a span:before {
  display: block;
  line-height: inherit;
}

/* ==========================================================================
   Blog pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode pagination standard style - begin
   ========================================================================== */
.qodef-blog-list-holder.qodef-bl-pag-standard-shortcodes .qodef-blog-list {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.qodef-blog-list-holder.qodef-bl-pag-standard-shortcodes.qodef-bl-pag-standard-shortcodes-animate .qodef-blog-list {
  opacity: 0;
}

.qodef-bl-standard-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 20px 0 0;
  clear: both;
}

.qodef-bl-standard-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.qodef-bl-standard-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 12px;
  padding: 0;
}

.qodef-bl-standard-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-active a {
  color: #d56a36;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev, .qodef-bl-standard-pagination ul li.qodef-bl-pag-next {
  position: absolute;
  top: 0;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev a, .qodef-bl-standard-pagination ul li.qodef-bl-pag-next a {
  font-size: 30px;
  -webkit-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  transition: color 0.2s ease-out, opacity 0.2s ease-out;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev a span, .qodef-bl-standard-pagination ul li.qodef-bl-pag-next a span {
  display: block;
  line-height: inherit;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev a span:before, .qodef-bl-standard-pagination ul li.qodef-bl-pag-next a span:before {
  display: block;
  line-height: inherit;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev {
  left: 0;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev a {
  opacity: 0;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-next {
  right: 0;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-next a {
  opacity: 1;
}

/* ==========================================================================
   Blog List shortcode pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination load more style - begin
   ========================================================================== */
.qodef-blog-pag-load-more {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 40px 0 30px;
  text-align: center;
}

/* ==========================================================================
   Blog pagination load more style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination loading element style - begin
   ========================================================================== */
.qodef-blog-pag-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  color: #4c494a;
  text-align: center;
}

.qodef-blog-pag-loading.qodef-standard-pag-trigger {
  position: absolute;
  top: 50px;
  left: 0;
}

.qodef-blog-pag-loading.qodef-showing {
  display: block;
}

.qodef-blog-pag-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #4c494a;
  border-radius: 100%;
  -webkit-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
}

.qodef-blog-pag-loading .qodef-blog-pag-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.qodef-blog-pag-loading .qodef-blog-pag-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog pagination loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Masonry style - begin
   ========================================================================== */
.qodef-blog-holder.qodef-blog-masonry article {
  margin: 0 0 20px;
  padding: 0 0 30px;
}

.qodef-blog-holder.qodef-blog-masonry article .qodef-post-image {
  overflow: hidden;
}

.qodef-blog-holder.qodef-blog-masonry article .qodef-post-image img {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.21, 0.6, 0.44, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0.21, 0.6, 0.44, 1);
  transition: transform 0.25s cubic-bezier(0.21, 0.6, 0.44, 1);
}

.qodef-blog-holder.qodef-blog-masonry article .qodef-post-image a:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.21, 0.6, 0.44, 2.18);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.21, 0.6, 0.44, 2.18);
  transition: transform 0.4s cubic-bezier(0.21, 0.6, 0.44, 2.18);
}

@media only screen and (max-width: 1024px) {
  .qodef-blog-holder.qodef-blog-masonry article .qodef-post-image-icon {
    bottom: 15px;
    right: 15px;
  }
}

.qodef-blog-holder.qodef-blog-masonry article.format-link .qodef-post-link-holder .qodef-link-title {
  padding-right: 14%;
}

@media only screen and (max-width: 1024px) {
  .qodef-blog-holder.qodef-blog-masonry article.format-link .qodef-post-link-holder .qodef-link-title {
    padding-right: 0;
  }
}

.qodef-blog-holder.qodef-blog-masonry article.format-link.qodef-post-has-media .qodef-post-text {
  background: url("../img/masonry-link-background-image.png");
  padding: 51% 53px 65%;
}

@media only screen and (max-width: 1024px) {
  .qodef-blog-holder.qodef-blog-masonry article.format-link.qodef-post-has-media .qodef-post-text {
    padding: 65% 39px 65%;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-blog-holder.qodef-blog-masonry article.format-link.qodef-post-has-media .qodef-post-text {
    padding: 52% 53px 60%;
  }
}

.qodef-blog-holder.qodef-blog-masonry article.format-quote .qodef-post-quote-holder .qodef-quote-title {
  padding-right: 14%;
}

@media only screen and (max-width: 1024px) {
  .qodef-blog-holder.qodef-blog-masonry article.format-quote .qodef-post-quote-holder .qodef-quote-title {
    padding-right: 0;
  }
}

.qodef-blog-holder.qodef-blog-masonry article.format-quote.qodef-post-has-media .qodef-post-text {
  background: url("../img/masonry-quote-background-image.png");
  padding: 34% 30px 52%;
}

@media only screen and (max-width: 1024px) {
  .qodef-blog-holder.qodef-blog-masonry article.format-quote.qodef-post-has-media .qodef-post-text {
    padding: 34% 30px 50%;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-blog-holder.qodef-blog-masonry article.format-quote.qodef-post-has-media .qodef-post-text {
    padding: 43% 30px 48%;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-blog-holder.qodef-blog-masonry article.format-video .qodef-post-image-icon {
    font-size: 32px;
    padding: 9px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-blog-holder.qodef-blog-masonry article.format-audio .qodef-post-image-icon {
    font-size: 25px;
    padding: 13px;
  }
}

.qodef-blog-holder.qodef-blog-masonry article.qodef-post-has-media .qodef-post-text {
  background-color: #fff;
  padding: 20px 30px 35px;
}

.qodef-blog-holder.qodef-blog-masonry article .qodef-post-info-bottom {
  padding-top: 15px;
}

.qodef-blog-holder.qodef-blog-masonry article .qodef-post-info-bottom .qodef-post-info-author {
  color: #4c494a;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.qodef-blog-holder.qodef-blog-masonry article .qodef-post-info-top {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 9;
}

.qodef-blog-holder.qodef-blog-masonry article .qodef-post-info-top > div a {
  padding: 10px 15px;
  box-sizing: border-box;
  background-color: #fafafa;
}

.qodef-blog-holder.qodef-blog-masonry article .qodef-post-info-top > div a:hover {
  color: #fff;
  background-color: #d56a36;
}

/* ==========================================================================
   Blog List - Masonry style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Standard style - begin
   ========================================================================== */
.qodef-blog-holder.qodef-blog-standard article {
  margin: 0 0 83px;
  padding: 0;
}

.qodef-blog-holder.qodef-blog-standard article.qodef-post-has-media .qodef-post-heading {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 28px;
}

/* ==========================================================================
   Blog List - Standard style - end
   ========================================================================== */
/* Single author box styles - begin
	====================================================================== */
.qodef-author-description {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  background-color: #fafafa;
  background-image: url(../img/author-background.png);
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  overflow: hidden;
  text-align: left;
}

.qodef-author-description .qodef-author-description-inner {
  padding: 45px 34px 40px;
  min-height: 150px;
  clear: both;
}

.qodef-author-description .qodef-author-description-image {
  position: absolute;
  width: 150px;
  margin: 0 auto;
}

.qodef-author-description .qodef-author-description-image:after {
  position: absolute;
  top: -67px;
  left: -160px;
  width: 350px;
  height: 350px;
  content: '';
  background-color: #bfdedc;
  border-radius: 100%;
  z-index: 0;
}

.qodef-author-description .qodef-author-description-image a, .qodef-author-description .qodef-author-description-image img {
  display: block;
}

.qodef-author-description .qodef-author-description-image img {
  position: relative;
  border-radius: 50%;
  border: 10px solid #fff;
  z-index: 2;
}

.qodef-author-description .qodef-author-description-text-holder {
  position: relative;
  padding: 10px 0 0 235px;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-name {
  margin: 0;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-name a {
  color: #4c494a;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-name a:hover {
  color: #d56a36;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-email {
  margin: 0;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-text > p {
  margin: 17px 0;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-social-icons {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-social-icons a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 15px 0 0;
  font-size: 16px;
  color: #4c494a;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-social-icons a:last-child {
  margin: 0;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-social-icons a:hover {
  color: #d56a36;
}

@media only screen and (max-width: 768px) {
  .qodef-author-description .qodef-author-description-text-holder {
    padding: 0 0 0 209px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-author-description .qodef-author-description {
    background-size: cover !important;
  }
  .qodef-author-description .qodef-author-description-image {
    display: block;
    width: 100%;
  }
  .qodef-author-description .qodef-author-description-text-holder {
    display: block;
    padding: 174px 0 0 0;
  }
}

/* Single author box styles - end
	====================================================================== */
/* Single posts navigation styles - begin
    ====================================================================== */
.qodef-blog-single-navigation {
  position: relative;
  display: table;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  clear: both;
  box-sizing: border-box;
}

.qodef-blog-single-navigation .qodef-blog-single-navigation-inner {
  padding: 78px 0 30px;
}

.qodef-blog-single-navigation .qodef-blog-single-prev,
.qodef-blog-single-navigation .qodef-blog-single-next {
  color: #555555;
}

.qodef-blog-single-navigation .qodef-blog-single-prev .qodef-blog-single-nav-mark,
.qodef-blog-single-navigation .qodef-blog-single-next .qodef-blog-single-nav-mark {
  font-size: 48px;
  line-height: inherit;
  color: inherit;
}

.qodef-blog-single-navigation .qodef-blog-single-prev .qodef-blog-single-nav-mark:before,
.qodef-blog-single-navigation .qodef-blog-single-next .qodef-blog-single-nav-mark:before {
  display: block;
  line-height: inherit;
}

.qodef-blog-single-navigation .qodef-blog-single-prev .qodef-blog-single-nav-label,
.qodef-blog-single-navigation .qodef-blog-single-next .qodef-blog-single-nav-label {
  color: inherit;
}

.qodef-blog-single-navigation .qodef-blog-single-prev:hover,
.qodef-blog-single-navigation .qodef-blog-single-next:hover {
  color: #d56a36;
}

.qodef-blog-single-navigation .qodef-blog-single-prev {
  float: left;
}

.qodef-blog-single-navigation .qodef-blog-single-prev .qodef-blog-single-nav-mark,
.qodef-blog-single-navigation .qodef-blog-single-prev .qodef-blog-single-nav-label {
  float: left;
}

.qodef-blog-single-navigation .qodef-blog-single-prev .qodef-blog-single-nav-mark {
  margin: 0 14px 0 0;
}

.qodef-blog-single-navigation .qodef-blog-single-next {
  float: right;
}

.qodef-blog-single-navigation .qodef-blog-single-next .qodef-blog-single-nav-mark,
.qodef-blog-single-navigation .qodef-blog-single-next .qodef-blog-single-nav-label {
  float: right;
}

.qodef-blog-single-navigation .qodef-blog-single-next .qodef-blog-single-nav-mark {
  margin: 0 0 0 14px;
}

.qodef-single-links-pages {
  clear: both;
  margin: 20px 0 5px;
}

.qodef-single-links-pages .qodef-single-links-pages-inner > a,
.qodef-single-links-pages .qodef-single-links-pages-inner > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px 5px 0;
}

.qodef-single-links-pages .qodef-single-links-pages-inner > span {
  color: #d56a36;
}

.qodef-single-links-pages .qodef-single-links-pages-inner > a:hover {
  color: #4c494a;
}

/* Single posts navigation styles - end
    ====================================================================== */
/* Related posts styles - begin
	====================================================================== */
.qodef-related-posts-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  box-sizing: border-box;
}

.qodef-related-posts-holder .qodef-related-posts-holder-inner {
  padding: 46px 0 26px;
}

.qodef-related-posts-holder .qodef-related-posts-title {
  margin: 0 0 29px;
}

.qodef-related-posts-holder .qodef-related-posts-title > * {
  margin: 0;
}

.qodef-related-posts-holder .qodef-related-posts-inner {
  margin: 0 -15px;
}

.qodef-related-posts-holder .qodef-related-post {
  position: relative;
  display: inline-block;
  float: left;
  width: 33.33333333333333%;
  margin: 0 0 30px;
  padding: 0 15px;
  box-sizing: border-box;
}

.touch .qodef-related-posts-holder .qodef-related-post {
  cursor: pointer;
}

.qodef-related-posts-holder .qodef-related-post:hover .qodef-related-post-image a:after {
  opacity: 1;
}

.qodef-related-posts-holder .qodef-related-post .qodef-related-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.qodef-related-posts-holder .qodef-related-post .qodef-related-post-image a {
  position: relative;
  display: block;
}

.qodef-related-posts-holder .qodef-related-post .qodef-related-post-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(76, 73, 74, 0.11);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.qodef-related-posts-holder .qodef-related-post .qodef-related-post-image img {
  display: block;
}

.qodef-related-posts-holder .qodef-related-post .qodef-related-post-category .qodef-post-info-category {
  position: absolute;
  top: 20px;
  left: 20px;
}

.qodef-related-posts-holder .qodef-related-post .qodef-related-post-category .qodef-post-info-category a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #4c494a;
  background-color: #fff;
  box-sizing: border-box;
}

.qodef-related-posts-holder .qodef-related-post .qodef-related-post-category .qodef-post-info-category a:after {
  display: none;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-title {
  margin: 24px 0 10px;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-title:first-child {
  margin-top: 0;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 4px 0 0;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 0 13px 0 0;
  color: inherit;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div:after {
  position: absolute;
  top: 0;
  right: 4px;
  content: '/';
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div:last-child {
  padding: 0;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div:last-child:after {
  display: none;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div a {
  color: #4c494a;
  line-height: inherit;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div a:hover {
  color: #d56a36;
}

/* Related posts styles - end
	====================================================================== */
/* ==========================================================================
   Blog Single style - begin
   ========================================================================== */
.qodef-blog-holder.qodef-blog-single article {
  margin: 0 0 88px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-heading {
  margin-bottom: 28px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom {
  padding-top: 60px;
}

/* ==========================================================================
   Blog Single style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode global style - begin
   ========================================================================== */
.qodef-blog-list-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
}

.qodef-blog-list-holder .qodef-blog-list {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
}

.qodef-blog-list-holder .qodef-bl-item {
  padding: 0;
  margin: 0;
}

.qodef-blog-list-holder .qodef-bli-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-blog-list-holder .qodef-bli-inner .qodef-bli-info-top {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #fff;
  padding: 4px 12px;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;
}

.qodef-blog-list-holder .qodef-bli-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.qodef-blog-list-holder .qodef-bli-content .qodef-bli-info-bottom {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;
  margin-top: 15px;
}

.qodef-blog-list-holder .qodef-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 25px;
  overflow: hidden;
}

.qodef-blog-list-holder .qodef-post-image a {
  display: block;
}

.qodef-blog-list-holder .qodef-post-image a:hover:after {
  opacity: 1;
}

.qodef-blog-list-holder .qodef-post-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(76, 73, 74, 0.11);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.qodef-blog-list-holder .qodef-post-image a:hover img {
  -webkit-transform: scale(1.05) translateZ(0);
  -moz-transform: scale(1.05) translateZ(0);
  transform: scale(1.05) translateZ(0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.21, 0.6, 0.44, 2.18);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.21, 0.6, 0.44, 2.18);
  transition: transform 0.4s cubic-bezier(0.21, 0.6, 0.44, 2.18);
}

.qodef-blog-list-holder .qodef-post-image img {
  display: block;
  -webkit-transform: scale(1) translateZ(0);
  -moz-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.21, 0.6, 0.44, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0.21, 0.6, 0.44, 1);
  transition: transform 0.25s cubic-bezier(0.21, 0.6, 0.44, 1);
}

.qodef-blog-list-holder .qodef-post-title {
  margin: 0;
}

.qodef-blog-list-holder .qodef-post-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 20px 0 0;
}

.qodef-blog-list-holder .qodef-post-excerpt p {
  margin: 0;
}

.qodef-blog-list-holder .qodef-post-excerpt:after {
  content: '...';
}

.qodef-blog-list-holder .qodef-post-read-more-button {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 12px 0 0;
}

/* ==========================================================================
   Blog List shortcode global style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Boxed type style - begin
   ========================================================================== */
.qodef-blog-list-holder.qodef-bl-boxed .qodef-bli-content {
  padding: 26px 30px 30px;
  background-color: #fff;
}

.qodef-blog-list-holder.qodef-bl-boxed .qodef-post-image {
  margin: 0;
}

/* ==========================================================================
   Blog List shortcode - Boxed type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Masonry type style - begin
   ========================================================================== */
.qodef-blog-list-holder.qodef-bl-masonry {
  transition: none !important;
  overflow: visible !important;
}

.qodef-blog-list-holder.qodef-bl-masonry .qodef-bl-item {
  z-index: 100;
}

/* ==========================================================================
   Blog List shortcode - Masonry type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Minimal type style - begin
   ========================================================================== */
.qodef-blog-list-holder.qodef-bl-minimal .qodef-post-info-date {
  display: block;
  margin: 7px 0 12px;
  line-height: 1;
}

.qodef-blog-list-holder.qodef-bl-minimal .qodef-post-info-date a {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  color: #555555;
}

.qodef-blog-list-holder.qodef-bl-minimal .qodef-post-info-date a:hover {
  color: #4c494a;
}

/* ==========================================================================
   Blog List shortcode - Minimal type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Simple type style - begin
   ========================================================================== */
.qodef-blog-list-holder.qodef-bl-simple .qodef-post-image {
  display: table-cell;
  vertical-align: top;
  width: 84px;
}

.qodef-blog-list-holder.qodef-bl-simple .qodef-bli-content {
  display: table-cell;
  vertical-align: top;
  width: auto;
  padding-left: 25px;
}

.qodef-blog-list-holder.qodef-bl-simple .qodef-bli-content .qodef-post-info-date {
  display: block;
  margin: 7px 0 0;
  line-height: 1;
}

.qodef-blog-list-holder.qodef-bl-simple .qodef-bli-content .qodef-post-info-date a {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  color: #555555;
}

.qodef-blog-list-holder.qodef-bl-simple .qodef-bli-content .qodef-post-info-date a:hover {
  color: #4c494a;
}

/* ==========================================================================
   Blog List shortcode - Simple type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List loading element style - begin
   ========================================================================== */
.qodef-bl-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  text-align: center;
}

.qodef-bl-loading.qodef-showing {
  display: block;
}

.qodef-bl-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #4c494a;
  border-radius: 100%;
  -webkit-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-bouncedelay 1.4s infinite ease-in-out both;
}

.qodef-bl-loading .qodef-bl-loading-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.qodef-bl-loading .qodef-bl-loading-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog List loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog Slider shortcode style - begin
   ========================================================================== */
.qodef-blog-slider-holder {
  /***** Slider Type Style - begin *****/
  /***** Slider Type Style - end *****/
  /***** Carousel Type Style - begin *****/
  /***** Carousel Type Style - end *****/
  /***** Carousel Centered Type Style - begin *****/
  /***** Carousel Centered Type Style - end *****/
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-blog-slider-item {
  text-align: center;
}

.touch .qodef-blog-slider-holder.qodef-bs-slider .qodef-blog-slider-item {
  cursor: pointer;
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-blog-slider-item:hover .qodef-item-text-wrapper {
  opacity: 1;
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-post-title {
  color: #fff;
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-post-title a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-post-read-more-button a {
  color: #fff;
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-post-read-more-button a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.qodef-blog-slider-holder.qodef-bs-carousel .qodef-item-image a:hover:after {
  opacity: 1;
}

.qodef-blog-slider-holder.qodef-bs-carousel .qodef-item-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(76, 73, 74, 0.11);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.qodef-blog-slider-holder.qodef-bs-carousel .qodef-post-title {
  margin: 29px 0 0;
}

.qodef-blog-slider-holder.qodef-bs-carousel .qodef-post-read-more-button {
  margin: 15px 0 0;
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .active.center .qodef-item-text-wrapper {
  opacity: 1;
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .qodef-blog-slider-item {
  text-align: center;
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .qodef-post-title {
  color: #fff;
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .qodef-post-title a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .qodef-post-read-more-button a {
  color: #fff;
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .qodef-post-read-more-button a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.qodef-blog-slider-holder .qodef-blog-slider-item {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style-type: none;
}

.qodef-blog-slider-holder .qodef-item-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-blog-slider-holder .qodef-item-text-wrapper {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(213, 106, 54, 0.85);
  opacity: 0;
  -webkit-transition: opacity 0.45s ease-out;
  -moz-transition: opacity 0.45s ease-out;
  transition: opacity 0.45s ease-out;
}

.qodef-blog-slider-holder .qodef-item-text-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.qodef-blog-slider-holder .qodef-item-text-holder-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 0 5%;
}

.qodef-blog-slider-holder .qodef-item-info-section {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 2px;
}

.qodef-blog-slider-holder .qodef-item-info-section > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  margin-right: 3px;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}

.qodef-blog-slider-holder .qodef-item-info-section > div a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.qodef-blog-slider-holder .qodef-item-info-section > div a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.qodef-blog-slider-holder .qodef-item-info-section > div:after {
  content: "/";
  position: absolute;
  top: 0;
  right: 2px;
}

.qodef-blog-slider-holder .qodef-item-info-section > div:last-child {
  padding-right: 0;
  margin-right: 0;
}

.qodef-blog-slider-holder .qodef-item-info-section > div:last-child:after {
  content: '';
}

.qodef-blog-slider-holder .qodef-post-title {
  margin: 0;
}

.qodef-blog-slider-holder .qodef-bli-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 12px 0 0;
}

.qodef-blog-slider-holder .qodef-bli-excerpt p {
  margin: 0;
}

.qodef-blog-slider-holder .qodef-post-read-more-button {
  margin: 5px 0 0;
}

/* ==========================================================================
   Blog Slider shortcode style - end
   ========================================================================== */
/* ==========================================================================
   Blog styles - end
   ========================================================================== */

/*# sourceMappingURL=blog-map.css.map */
