/* ==========================================================================
   Blog responsive styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
@media only screen and (max-width: 768px) {
  .qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-right {
    margin-top: 15px;
  }
  .qodef-blog-holder article.format-link .qodef-post-link-holder .qodef-link-title {
    padding-right: 35%;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-blog-holder article .qodef-tags-holder .qodef-tags a {
    margin-bottom: 8px;
  }
  .qodef-blog-holder article .qodef-post-image-icon {
    bottom: 15px;
    right: 15px;
  }
  .qodef-blog-holder article.format-video .qodef-post-image-icon {
    font-size: 33px;
    padding: 7px;
  }
  .qodef-blog-holder article.format-audio .qodef-post-image-icon {
    font-size: 20px;
    padding: 15px;
  }
  .qodef-blog-holder article.format-link .qodef-post-link-holder .qodef-link-title {
    padding-right: 0;
  }
  .qodef-blog-holder article.format-quote .qodef-post-quote-holder .qodef-quote-title {
    padding-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-related-posts-holder .qodef-related-post {
    width: 50% !important;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-related-posts-holder .qodef-related-post {
    width: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom .qodef-post-info-bottom-left,
  .qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom .qodef-post-info-bottom-right {
    width: 100%;
    float: none;
  }
  .qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom .qodef-post-info-bottom-right {
    text-align: inherit;
    margin: 15px 0 0;
  }
}

/* ==========================================================================
   Blog Slider shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .qodef-blog-slider-holder.qodef-bs-carousel-centered .active.center .qodef-item-text-wrapper {
    opacity: 1;
  }
}

/* ==========================================================================
   Blog Slider shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   Blog responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=blog-map-responsive.css.map */
