/* ==========================================================================
   Tabs styles
   ========================================================================== */
/* line 6, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper {
	/* Vertical tabs
   ========================================================================== */
}

/* line 8, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper .nav-tabs {
	margin-top: 0;
}

/* line 13, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper .nav-tabs > li.active > a {
	border-radius: 0;
	border-left-color: transparent;
}

/* line 18, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper .nav-tabs > li.active > a:hover, .qodef-tabs-wrapper .nav-tabs > li.active > a:focus {
	border-radius: 0;
}

/* line 24, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper .nav-tabs > li a > i {
	width: 25px;
}

/* line 30, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper .qodef-tabs-content {
	background-color: #fcfcfc;
	padding: 30px;
}

/* line 37, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper.vertical {
	/* Vertical left tabs
	========================================================================== */
	/* Vertical right tabs
	========================================================================== */
}

/* line 38, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper.vertical .nav-tabs {
	border-bottom: 0;
}

/* line 41, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper.vertical .nav-tabs > li {
	float: none;
	width: 100%;
}

/* line 48, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper.vertical .nav-tabs > li.active a, .qodef-tabs-wrapper.vertical .nav-tabs > li.active a:focus, .qodef-tabs-wrapper.vertical .nav-tabs > li.active a:hover {
	border-bottom: 1px solid #dbdee0;
	margin-bottom: 0;
	background-color: #ced1d4;
	border-left: none;
}

/* line 57, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper.vertical .nav-tabs > li a {
	border-bottom: 1px solid #dbdee0;
}

/* line 61, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper.vertical .nav-tabs > li a:focus, .qodef-tabs-wrapper.vertical .nav-tabs > li a:hover {
	background-color: #ced1d4;
	border-top: 1px solid #dbdee0;
	border-left: none;
}

/* line 72, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper.vertical .qodef-tabs-navigation-wrapper,
.qodef-tabs-wrapper.vertical .qodef-tabs-content {
	min-height: 300px;
}

/* line 76, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper.vertical .qodef-tabs-navigation-wrapper {
	width: 200px;
}

/* line 80, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper.vertical .qodef-tabs-content {
	margin-left: 199px;
	border-left: 1px solid #dbdee0;
	background: #f3f3f3;
	color: #34383C
}

/* line 89, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper.vertical.left .nav-tabs > li:first-child > a {
	border-top: none;
}

/* line 93, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper.vertical.left .nav-tabs > li > a {
	border-right: none;
	border-left: none;
	margin-right: 0;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	border-radius: 0
}

/* line 99, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper.vertical.left .qodef-tabs-navigation-wrapper {
	float: left;
}

/* line 108, ../scss/qodef-ui/partials/_tabs.scss */
.qodef-tabs-wrapper.vertical.right .qodef-tabs-navigation-wrapper,
.qodef-tabs-wrapper.vertical.right .qodef-tabs-wrapper.vertical.right .qodef-tabs-content {
	float: right;
}

/* ==========================================================================
   Messages styles
   ========================================================================== */
/* line 4, ../scss/qodef-ui/partials/_messages.scss */
.qodef-page-content-wrapper .qodef-page-message .alert {
	margin: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

/* line 1, ../scss/qodef-ui/partials/_switches.scss */
.cb-enable, .cb-disable, .cb-enable span, .cb-disable span {
	background: url(img/switch.gif) repeat-x;
	display: block;
	float: left;
}

/* line 1, ../scss/qodef-ui/partials/_switches.scss */
.switch-type .cb-enable, .switch-type .cb-disable, .switch-type .cb-enable span, .switch-type .cb-disable span {
	background: url(img/switch-type.gif) repeat-x;
	display: block;
	float: left;
}

/* line 2, ../scss/qodef-ui/partials/_switches.scss */
.cb-enable span, .cb-disable span, .switch-type .cb-enable span, .switch-type .cb-disable span {
	line-height: 30px;
	display: block;
	background-repeat: no-repeat;
	font-weight: bold;
}

/* line 3, ../scss/qodef-ui/partials/_switches.scss */
.cb-enable span, .switch-type .cb-enable span {
	background-position: left -90px;
	padding: 0 10px;
}

/* line 4, ../scss/qodef-ui/partials/_switches.scss */
.cb-disable span, .switch-type .cb-disable span {
	background-position: right -180px;
	padding: 0 10px;
}

/* line 5, ../scss/qodef-ui/partials/_switches.scss */
.cb-disable.selected {
	background-position: 0 -30px;
}

/* line 6, ../scss/qodef-ui/partials/_switches.scss */
.cb-disable.selected span {
	background-position: right -210px;
	color: #fff;
}

/* line 7, ../scss/qodef-ui/partials/_switches.scss */
.cb-enable.selected {
	background-position: 0 -60px;
}

/* line 8, ../scss/qodef-ui/partials/_switches.scss */
.cb-enable.selected span {
	background-position: left -150px;
	color: #fff;
}

/* line 9, ../scss/qodef-ui/partials/_switches.scss */
.switch label {
	cursor: pointer;
}

/* line 10, ../scss/qodef-ui/partials/_switches.scss */
.switch input {
	display: none;
}

/* line 11, ../scss/qodef-ui/partials/_switches.scss */
.field.switch input[type=checkbox]:checked:before {
	content: '';
}

/* line 15, ../scss/qodef-ui/partials/_switches.scss */
.qodef-page .switch .checkbox {
	display: none;
}

/* line 1, ../scss/qodef-ui/partials/_tooltips.scss */
.qodef-tooltip {
	display: inline-block;
	color: #7c848d;
}

/* line 5, ../scss/qodef-ui/partials/_tooltips.scss */
.qodef-tooltip.qodef-inline-tooltip.left {
	margin-right: 10px;
}

/* line 9, ../scss/qodef-ui/partials/_tooltips.scss */
.qodef-tooltip.qodef-inline-tooltip.right {
	margin-left: 10px;
}

/* line 2, ../scss/qodef-ui/partials/_colorpicker.scss */
.qodef-page .wp-color-result {
	height: auto;
	outline: none;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-target, .noUi-target * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-touch-action: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-handle {
	position: relative;
	z-index: 1;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-stacking .noUi-handle {
	z-index: 10;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-stacking + .noUi-origin {
	*z-index: -1;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-state-tap .noUi-origin {
	-webkit-transition: left .3s, top .3s;
	transition: left .3s, top .3s;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-state-drag * {
	cursor: inherit !important;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-horizontal {
	height: 18px;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-horizontal .noUi-handle {
	width: 34px;
	height: 28px;
	left: -17px;
	top: -6px;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-horizontal.noUi-extended {
	padding: 0 15px;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-horizontal.noUi-extended .noUi-origin {
	right: -15px;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-vertical {
	width: 18px;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-vertical .noUi-handle {
	width: 28px;
	height: 34px;
	left: -6px;
	top: -17px;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-vertical.noUi-extended {
	padding: 15px 0;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-vertical.noUi-extended .noUi-origin {
	bottom: -15px;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-background {
	background: #FAFAFA;
	box-shadow: inset 0 1px 1px #f0f0f0;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-connect {
	background: #3FB8AF;
	box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
	-webkit-transition: background 450ms;
	transition: background 450ms;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-origin {
	border-radius: 2px;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-target {
	border-radius: 4px;
	border: 1px solid #D3D3D3;
	box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbbbbb;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-target.noUi-connect {
	box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #bbbbbb;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-dragable {
	cursor: w-resize;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-vertical .noUi-dragable {
	cursor: n-resize;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-handle {
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	background: #FFF;
	cursor: default;
	box-shadow: inset 0 0 1px white, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbbbbb;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-active {
	box-shadow: inset 0 0 1px white, inset 0 1px 7px #dddddd, 0 3px 6px -3px #bbbbbb;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-handle:after, .noUi-handle:before {
	content: "";
	display: block;
	position: absolute;
	height: 14px;
	width: 1px;
	background: #E8E7E6;
	left: 14px;
	top: 6px;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-handle:after {
	left: 17px;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-vertical .noUi-handle:after, .noUi-vertical .noUi-handle:before {
	width: 14px;
	height: 1px;
	left: 6px;
	top: 14px;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
.noUi-vertical .noUi-handle:after {
	top: 17px;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
[disabled] .noUi-connect, [disabled].noUi-connect {
	background: #B8B8B8;
}

/* line 1, ../scss/qodef-ui/partials/_nouislider.scss */
[disabled] .noUi-handle {
	cursor: not-allowed;
}

/* line 5, ../scss/qodef-ui/partials/_range_slider.scss */
.qodef-page .qodef-slider-range-wrapper .qodef-slider-range {
	margin-left: 130px;
	position: relative;
	top: 7px;
}

/* line 10, ../scss/qodef-ui/partials/_range_slider.scss */
.qodef-page .qodef-slider-range-wrapper .qodef-slider-range .noUi-base {
	background-color: #428bca;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#236694));
	background-image: -webkit-linear-gradient(top, #3093c7, #236694);
	background-image: -moz-linear-gradient(top, #3093c7, #236694);
	background-image: -ms-linear-gradient(top, #3093c7, #236694);
	background-image: -o-linear-gradient(top, #3093c7, #236694);
	background-image: linear-gradient(to bottom, #3093c7, #236694);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3093c7, endColorstr=#236694);
}

/* line 14, ../scss/qodef-ui/partials/_range_slider.scss */
.qodef-page .qodef-slider-range-wrapper .qodef-slider-range .noUi-origin {
	background-color: #fff;
}

/* line 18, ../scss/qodef-ui/partials/_range_slider.scss */
.qodef-page .qodef-slider-range-wrapper .qodef-slider-range .noUi-handle {
	width: 20px;
	height: 23px;
	top: -4px;
}

/* line 24, ../scss/qodef-ui/partials/_range_slider.scss */
.qodef-page .qodef-slider-range-wrapper .qodef-slider-range .noUi-handle:after, .qodef-page .qodef-slider-range-wrapper .qodef-slider-range .noUi-handle:before {
	display: none;
}

/* line 30, ../scss/qodef-ui/partials/_range_slider.scss */
.qodef-page .qodef-slider-range-wrapper .qodef-slider-range.noUi-horizontal.xsmall {
	width: 150px;
	margin-left: 90px;
}

/* line 30, ../scss/qodef-ui/partials/_range_slider.scss */
.qodef-page .qodef-slider-range-wrapper .qodef-slider-range.noUi-horizontal.small {
	width: 200px;
}

/* line 34, ../scss/qodef-ui/partials/_range_slider.scss */
.qodef-page .qodef-slider-range-wrapper .qodef-slider-range.noUi-horizontal.medium {
	width: 350px;
}

/* line 38, ../scss/qodef-ui/partials/_range_slider.scss */
.qodef-page .qodef-slider-range-wrapper .qodef-slider-range.noUi-horizontal.large {
	width: 500%;
}

/* line 43, ../scss/qodef-ui/partials/_range_slider.scss */
.qodef-page .qodef-slider-range-wrapper .qodef-slider-range.noUi-vertical {
	height: 150px;
}

/* line 46, ../scss/qodef-ui/partials/_range_slider.scss */
.qodef-page .qodef-slider-range-wrapper .qodef-slider-range.noUi-vertical .noUi-handle {
	left: -2px;
}

/* line 52, ../scss/qodef-ui/partials/_range_slider.scss */
.qodef-page .qodef-slider-range-wrapper .qodef-field-description {
	display: block;
}

/* line 1, ../scss/qodef-ui/partials/_thumbnails.scss */
.thumbnail {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	border: none;
	padding: 0;
}

/* line 8, ../scss/qodef-ui/partials/_thumbnails.scss */
.qodef-page .img-thumbnail {
	margin-bottom: 15px;
	max-width: 100px;
}

/* used on blog post formats for video cover image upload */
input.upload_button {
	border: 1px solid #acacac;
	border-radius: 3px 3px 3px 3px;
	color: #444;
	padding: 2px;
	width: auto;
}

/* tinymce in portfolio */

/* used in multiple images upload for portfolio */
.qodef-gallery-images-holder li.qodef-gallery-image-holder {
	float: left;
	margin: 0 20px 20px 0;
	width: 100px;
}

.qodef-gallery-images-holder li.qodef-gallery-image-holder img {
	width: 100%;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ddd;
}

/* Select Slider custom fields - start*/

.form-field.slider-field input {
	width: auto;
}

.form-field.slider-field .inline label {
	float: left;
	line-height: 28px;
	margin-right: 5px;
}

.inline {
	display: inline-block;
	margin: 0px 10px 0px 0px;
	font-size: 13px;
}

/* Select Slider custom fields - end*/