/* ==========================================================================
   Author Info widget style - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
.qodef-author-info-widget {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  background: url("../img/author-info-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 18px 15px 29px;
}

.qodef-author-info-widget .qodef-aiw-image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  overflow: hidden;
  border: 10px solid #fff;
}

.qodef-author-info-widget .qodef-aiw-image img {
  display: block;
}

.qodef-author-info-widget .qodef-aiw-name {
  margin: 18px 0 0;
}

.qodef-author-info-widget .qodef-aiw-role {
  margin: 7px 0 0;
  text-transform: capitalize;
}

.qodef-author-info-widget .qodef-aiw-title {
  margin: 28px 0 0;
}

.qodef-author-info-widget .qodef-aiw-text {
  display: block;
  margin: 10px 0 0;
}

/* ==========================================================================
   Author Info widget style - end
   ========================================================================== */

/*# sourceMappingURL=author-info-widget-map.css.map */
