html {
    background:#fff !important;
}
body {
    line-height: 1.5;
    color:#777;
}
em {
    font-style: italic
}
p img:first-child {
	margin-right: 20px;
}
img {
	max-width: 100%;
	height: auto !important;
}
h1 {
    color: #013859;
    margin-bottom:20px;
}
h2, h3, h4, h5, h6, strong {
    color:#333
}
p, ul, ol {
    line-height:1.7;
    text-align:justify;
}
pre, xmp, plaintext, listing {
 white-space: normal;
}
hr.notop {
    display: none;
}
#documenter_sidebar #documenter_logo {
    background-position: center;
    width:100%;
}
#documenter_content a {
    color: #000
}
#documenter_content h1,
#documenter_content h2,
#documenter_content h3,
#documenter_content h4,
#documenter_content h5,
#documenter_content h6{
 line-height: 1.2em;
}
#documenter_content {
    width: 100%;
	padding-left: 240px;
    padding-right: 20px;
    box-sizing: border-box;
	right: 0;
    left: 0;
}
#documenter_cover h1 {
    font-size: 45px;
    font-weight: normal;
    display: inline-block;
    padding: 15px 30px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
#documenter_cover h2 {
    font-size: 28px;
    margin-bottom: 30px;
    padding-left:30px;
}
#documenter_content h3 {
    font-size: 35px;
    margin: 0 0 60px 0;
	box-sizing: border-box;
    background-color:#f8f8f8;
    padding: 65px 30px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;

}
#documenter_content h4 {
    margin: 40px 0;
    color: #013859;
	font-size: 24px;
}
#documenter_content h5 {
    font-size: 16px;
    margin: 10px 0;
    border-bottom: 1px solid #e7e7e7;
    display: inline-block;
    font-weight: normal;
}
#documenter_cover ul {
    background: #f5f5f5;
    display: inline-block;
    padding: 35px;
    margin-left: 30px;
    font-style: italic;
    }
#documenter_cover p {
    padding:50px 0 0 30px;
    font-size: 14px;
}
#documenter_cover hr {
    display: none
}
#documenter_content section {
    margin-right: 0;
}
#documenter_sidebar {
    width:220px
}
#documenter_sidebar ul {
    font-weight:normal;
}
#documenter_sidebar>ul>li>a {
    font-size: 14px;
    border-bottom:1px solid #00446c;
    text-align:left;
    padding-left:20px;
}
#documenter_sidebar>ul>li >a.current {
    background:#f5f5f5;
    color: #013859;
}
#documenter_sidebar ul a {
    border:none;
}
#documenter_sidebar ul>li>ul>li>a.current {
    background:#eb1b47 ;
    border-top: none;
}
#documenter_content div.alert.alert-info {
	color: #917040;
	background:#fcf8e3;
	border: 1px solid #e0dfcd;
	padding: 20px;
	margin: 20px 20px 20px 0;
	border: none;
}
#documenter_content ul li {
	list-style:disc;
}
#documenter_content ul li ul li {
	list-style:circle;
}
#documenter_content ol li, #documenter_content ul li ol li {
	list-style:decimal;
}
#documenter_content ul li ul li ul li {
	list-style:lower-latin;
}
#documenter_copyright {
	left: 15px;
	width: 100%;
	text-align: left;
}
pre {
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
}