/* ==========================================================================
   Header styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Header styles - begin
   ========================================================================== */
.qodef-page-header {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  z-index: 110;
  box-sizing: border-box;
  /* ==========================================================================
    #General header layout - start
    ========================================================================== */
  /* ==========================================================================
    #General header layout - end
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - start
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - end
    ========================================================================== */
}

.qodef-page-header a img {
  display: block;
}

.qodef-page-header p {
  margin: 0;
}

.qodef-page-header .qodef-vertical-align-containers {
  padding: 0 40px;
}

.qodef-paspartu-enabled .qodef-page-header .qodef-vertical-align-containers {
  padding: 0;
}

.qodef-page-header .qodef-grid {
  height: 100%;
}

.qodef-page-header .qodef-grid .qodef-vertical-align-containers {
  padding: 0;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.qodef-page-header .qodef-logo-area {
  position: relative;
  height: 100px;
  overflow: hidden;
  background-color: #fff;
}

.qodef-page-header .qodef-logo-area .qodef-logo-wrapper a {
  max-height: 100px;
}

.qodef-page-header .qodef-menu-area {
  position: relative;
  height: 100px;
  background-color: #fff;
  box-sizing: border-box;
}

.qodef-boxed .qodef-page-header .qodef-menu-area {
  padding: 0;
}

.qodef-page-header .qodef-menu-area .qodef-logo-wrapper a {
  max-height: 100px;
}

.qodef-page-header .qodef-menu-area .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.qodef-logo-area-border-disable .qodef-page-header .qodef-logo-area {
  border: none;
}

.qodef-logo-area-in-grid-border-disable .qodef-page-header .qodef-logo-area .qodef-grid .qodef-vertical-align-containers {
  border: none;
}

.qodef-header-logo-area-in-grid-padding .qodef-page-header .qodef-logo-area .qodef-vertical-align-containers {
  padding: 0 25px;
}

.qodef-menu-area-shadow-disable .qodef-page-header .qodef-menu-area {
  box-shadow: none;
}

.qodef-menu-area-shadow-disable .qodef-page-header .qodef-menu-area .qodef-grid .qodef-vertical-align-containers {
  box-shadow: none;
}

.qodef-menu-area-border-disable .qodef-page-header .qodef-menu-area {
  border: none;
}

.qodef-menu-area-in-grid-border-disable .qodef-page-header .qodef-menu-area .qodef-grid .qodef-vertical-align-containers {
  border: none;
}

.qodef-header-logo-area-in-grid-padding .qodef-page-header .qodef-menu-area .qodef-vertical-align-containers {
  padding: 0 25px;
}

/* ==========================================================================
#Light header - begin
========================================================================== */
.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-logo-wrapper .qodef-light-logo {
  opacity: 1;
}

.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-logo-wrapper .qodef-normal-logo,
.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-logo-wrapper .qodef-dark-logo {
  opacity: 0;
}

.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-menu-area {
  color: #fff !important;
}

.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-menu-area .widget {
  color: #fff !important;
}

.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-menu-area .widget p,
.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-menu-area .widget a,
.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-menu-area .widget span,
.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-menu-area .widget i,
.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-menu-area .widget .widgettitle {
  color: #fff !important;
}

.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-menu-area .widget a:hover {
  color: #d56a36 !important;
}

.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header).qodef-menu-area {
  color: #fff !important;
}

.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header).qodef-menu-area .widget {
  color: #fff !important;
}

.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header).qodef-menu-area .widget p,
.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header).qodef-menu-area .widget a,
.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header).qodef-menu-area .widget span,
.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header).qodef-menu-area .widget i,
.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header).qodef-menu-area .widget .widgettitle {
  color: #fff !important;
}

.qodef-light-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header).qodef-menu-area .widget a:hover {
  color: #d56a36 !important;
}

/* ==========================================================================
#Light header - end
========================================================================== */
/* ==========================================================================
#Dark header - begin
========================================================================== */
.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-logo-wrapper .qodef-dark-logo {
  opacity: 1;
}

.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-logo-wrapper .qodef-normal-logo,
.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-logo-wrapper .qodef-light-logo {
  opacity: 0;
}

.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-menu-area {
  color: #4c494a !important;
}

.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-menu-area .widget {
  color: #4c494a !important;
}

.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-menu-area .widget p,
.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-menu-area .widget a,
.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-menu-area .widget span,
.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-menu-area .widget i,
.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-menu-area .widget .widgettitle {
  color: #4c494a !important;
}

.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header) .qodef-menu-area .widget a:hover {
  color: #d56a36 !important;
}

.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header).qodef-menu-area {
  color: #4c494a !important;
}

.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header).qodef-menu-area .widget {
  color: #4c494a !important;
}

.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header).qodef-menu-area .widget p,
.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header).qodef-menu-area .widget a,
.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header).qodef-menu-area .widget span,
.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header).qodef-menu-area .widget i,
.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header).qodef-menu-area .widget .widgettitle {
  color: #4c494a !important;
}

.qodef-dark-header .qodef-page-header > div:not(.fixed):not(.qodef-sticky-header).qodef-menu-area .widget a:hover {
  color: #d56a36 !important;
}

/* ==========================================================================
#Dark header - end
========================================================================== */
/* ==========================================================================
   Header end - end
   ========================================================================== */
/* ==========================================================================
   Header widgets styles - begin
   ========================================================================== */
.qodef-page-header .widget,
.qodef-top-bar .widget,
.qodef-sticky-header .widget,
.qodef-mobile-header .widget {
  /* To display none */
}

.qodef-page-header .widget.widget_pages, .qodef-page-header .widget.widget_archive, .qodef-page-header .widget.widget_categories, .qodef-page-header .widget.widget_meta, .qodef-page-header .widget.widget_recent_entries, .qodef-page-header .widget.widget_recent_comments, .qodef-page-header .widget.widget_rss, .qodef-page-header .widget.widget_calendar, .qodef-page-header .widget.widget_rss, .qodef-page-header .widget.widget_archive, .qodef-page-header .widget.widget_categories, .qodef-page-header .widget.widget_tag_cloud, .qodef-page-header .widget.widget_nav_menu, .qodef-page-header .widget.widget_search,
.qodef-top-bar .widget.widget_pages,
.qodef-top-bar .widget.widget_archive,
.qodef-top-bar .widget.widget_categories,
.qodef-top-bar .widget.widget_meta,
.qodef-top-bar .widget.widget_recent_entries,
.qodef-top-bar .widget.widget_recent_comments,
.qodef-top-bar .widget.widget_rss,
.qodef-top-bar .widget.widget_calendar,
.qodef-top-bar .widget.widget_rss,
.qodef-top-bar .widget.widget_archive,
.qodef-top-bar .widget.widget_categories,
.qodef-top-bar .widget.widget_tag_cloud,
.qodef-top-bar .widget.widget_nav_menu,
.qodef-top-bar .widget.widget_search,
.qodef-sticky-header .widget.widget_pages,
.qodef-sticky-header .widget.widget_archive,
.qodef-sticky-header .widget.widget_categories,
.qodef-sticky-header .widget.widget_meta,
.qodef-sticky-header .widget.widget_recent_entries,
.qodef-sticky-header .widget.widget_recent_comments,
.qodef-sticky-header .widget.widget_rss,
.qodef-sticky-header .widget.widget_calendar,
.qodef-sticky-header .widget.widget_rss,
.qodef-sticky-header .widget.widget_archive,
.qodef-sticky-header .widget.widget_categories,
.qodef-sticky-header .widget.widget_tag_cloud,
.qodef-sticky-header .widget.widget_nav_menu,
.qodef-sticky-header .widget.widget_search,
.qodef-mobile-header .widget.widget_pages,
.qodef-mobile-header .widget.widget_archive,
.qodef-mobile-header .widget.widget_categories,
.qodef-mobile-header .widget.widget_meta,
.qodef-mobile-header .widget.widget_recent_entries,
.qodef-mobile-header .widget.widget_recent_comments,
.qodef-mobile-header .widget.widget_rss,
.qodef-mobile-header .widget.widget_calendar,
.qodef-mobile-header .widget.widget_rss,
.qodef-mobile-header .widget.widget_archive,
.qodef-mobile-header .widget.widget_categories,
.qodef-mobile-header .widget.widget_tag_cloud,
.qodef-mobile-header .widget.widget_nav_menu,
.qodef-mobile-header .widget.widget_search {
  display: none !important;
}

.qodef-top-bar .widget {
  color: #fff;
}

.qodef-top-bar .widget a {
  color: #fff;
}

.qodef-top-bar .widget a:hover {
  color: #d56a36;
}

/* ==========================================================================
   Header widgets styles - end
   ========================================================================== */
/* ==========================================================================
   Header logo styles - begin
   ========================================================================== */
.qodef-logo-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.qodef-logo-wrapper a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.qodef-logo-wrapper a img {
  height: 100%;
  width: auto;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.qodef-logo-wrapper a img.qodef-normal-logo {
  opacity: 1;
}

.qodef-logo-wrapper a img.qodef-dark-logo {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.qodef-logo-wrapper a img.qodef-light-logo {
  opacity: 0;
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-200%);
}

/* ==========================================================================
   Header logo styles - end
   ========================================================================== */
/* ==========================================================================
   Header main menu style - begin
   ========================================================================== */
.qodef-main-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  width: auto;
}

.qodef-main-menu ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.qodef-main-menu ul li {
  position: relative;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
}

.qodef-main-menu ul li:hover > a {
  color: #d56a36;
}

.qodef-main-menu ul li a {
  color: #4c494a;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: .15em;
  text-transform: uppercase;
}

.qodef-main-menu ul li a i:before {
  margin: 0 7px 0 0;
}

.qodef-main-menu ul li a .menu_icon_wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.qodef-main-menu ul li a .qodef-menu-featured-icon {
  position: relative;
  top: -4px;
  left: 5px;
  color: currentColor;
  font-size: 10px;
  margin: 0;
}

.qodef-main-menu ul li a .qodef-menu-featured-icon:before {
  margin: 0;
}

.qodef-main-menu > ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

.qodef-main-menu > ul > li {
  float: left;
  height: 100%;
  box-sizing: border-box;
}

.qodef-main-menu > ul > li:hover > a > span.item_outer .item_text:after {
  width: 80px;
}

.qodef-main-menu > ul > li > a {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.qodef-main-menu > ul > li > a > span.item_outer {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.qodef-main-menu > ul > li > a > span.item_outer .item_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.qodef-main-menu > ul > li > a > span.item_outer .item_text:after {
  position: absolute;
  content: '';
  left: -10px;
  bottom: -3px;
  display: block;
  width: 0;
  height: 4px;
  background-image: url(../img/peggi_brush.svg);
  background-size: 80px 4px;
  -webkit-transition: width 0.25s cubic-bezier(0.63, 0.04, 0.22, 0.95);
  -moz-transition: width 0.25s cubic-bezier(0.63, 0.04, 0.22, 0.95);
  transition: width 0.25s cubic-bezier(0.63, 0.04, 0.22, 0.95);
}

.qodef-main-menu > ul > li.qodef-active-item > a {
  color: #d56a36;
}

.qodef-main-menu > ul > li.has_sub > a .qodef-menu-arrow {
  display: none;
}

.qodef-light-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-main-menu > ul > li > a {
  color: #fff;
}

.qodef-light-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-main-menu > ul > li > a:hover {
  color: #d56a36;
}

.qodef-light-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-main-menu > ul > li.qodef-active-item > a {
  color: #d56a36;
}

.qodef-dark-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-main-menu > ul > li > a {
  color: #4c494a;
}

.qodef-dark-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-main-menu > ul > li > a:hover {
  color: #d56a36;
}

.qodef-dark-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-main-menu > ul > li.qodef-active-item > a {
  color: #d56a36;
}

/* Narrow drop down styles
   ========================================================================== */
.qodef-drop-down .second {
  position: absolute;
  display: block;
  left: -5px;
  top: 100%;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: top 0.15s ease-out;
  -moz-transition: top 0.15s ease-out;
  transition: top 0.15s ease-out;
}

.qodef-drop-down .second.qodef-drop-down-start {
  visibility: visible;
  overflow: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.qodef-drop-down .second.right {
  right: -5px;
  left: auto;
}

.qodef-drop-down .second .inner {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  z-index: 997;
  border-top: 3px solid #f2f2f2;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}

.qodef-drop-down .second .inner ul li {
  display: block;
  float: none;
  height: auto;
}

.qodef-drop-down .second .inner ul li .widget {
  width: 100%;
  margin: 0 !important;
}

.qodef-drop-down .second .inner ul li a {
  display: block;
  float: none;
  margin: 0;
  padding: 5px 30px;
  font-size: 12px;
}

.qodef-drop-down .second .inner ul li a .item_outer {
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-transition: padding 0.2s ease-in-out;
  -moz-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.qodef-drop-down .second .inner ul li.current-menu-ancestor > a,
.qodef-drop-down .second .inner ul li.current-menu-item > a {
  color: #d56a36;
}

.qodef-drop-down .second .inner ul li.sub > a .item_outer:after {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: -1px;
  right: -4px;
  content: '\e876';
  font-family: 'Linearicons-Free';
  font-size: 9px;
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.qodef-drop-down .second .inner ul.right li.sub > a .item_outer:after {
  right: auto;
  left: 0;
  content: "\e875";
}

.qodef-drop-down .second .inner ul.right li a {
  text-align: right;
}

.qodef-drop-down .second .inner ul.right li ul {
  left: -100%;
}

.qodef-drop-down li.left_position .second {
  left: 0;
}

.qodef-drop-down li.right_position .second {
  left: auto;
  right: 0;
}

.qodef-drop-down > ul > li:hover > .second {
  z-index: 20;
}

.qodef-drop-down .narrow .second .inner ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  padding: 18px 0;
}

.qodef-drop-down .narrow .second .inner ul li {
  width: 230px;
}

.qodef-drop-down .narrow .second .inner ul li ul {
  position: absolute;
  left: 100%;
  top: -18px;
  height: auto;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
  border-left: 3px solid #f2f2f2;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.qodef-drop-down .narrow .second .inner ul li:hover ul {
  z-index: 20;
  opacity: 1;
}

.qodef-drop-down .narrow .second .inner ul.right li ul {
  left: -100%;
  border-right: 3px solid #f2f2f2;
  border-left: none;
}

/* Wide drop down styles
   ========================================================================== */
.qodef-drop-down .wide .second .inner {
  background-color: #fff;
  text-align: center;
}

.qodef-drop-down .wide .second .inner ul li a {
  padding: 7px 0;
}

.qodef-drop-down .wide .second .inner ul li ul {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  visibility: visible;
}

.qodef-drop-down .wide .second .inner ul li ul li:last-child a {
  padding-bottom: 0;
}

.qodef-drop-down .wide .second .inner > ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 45px 0;
  box-sizing: border-box;
  width: 100%;
}

.qodef-wide-dropdown-menu-content-in-grid .qodef-drop-down .wide .second .inner > ul {
  width: 1100px;
}

@media only screen and (min-width: 1400px) {
  .qodef-grid-1300.qodef-wide-dropdown-menu-content-in-grid .qodef-drop-down .wide .second .inner > ul {
    width: 1300px;
  }
}

@media only screen and (min-width: 1300px) {
  .qodef-grid-1200.qodef-wide-dropdown-menu-content-in-grid .qodef-drop-down .wide .second .inner > ul {
    width: 1200px;
  }
}

@media only screen and (min-width: 1200px) {
  .qodef-grid-1000.qodef-wide-dropdown-menu-content-in-grid .qodef-drop-down .wide .second .inner > ul {
    width: 1000px;
  }
}

@media only screen and (min-width: 1024px) {
  .qodef-grid-800.qodef-wide-dropdown-menu-content-in-grid .qodef-drop-down .wide .second .inner > ul {
    width: 800px;
  }
}

.qodef-drop-down .wide .second .inner > ul > li {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0 26px;
  box-sizing: border-box;
}

.qodef-drop-down .wide .second .inner > ul > li:nth-child(4n+1) {
  clear: both;
}

.qodef-drop-down .wide .second .inner > ul > li > a {
  padding: 0 0 13px;
  color: #4c494a;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1em;
  letter-spacing: .08em;
}

.qodef-drop-down .wide .second .inner > ul > li > a.no_link {
  cursor: default;
}

.qodef-drop-down .wide .second .inner > ul > li > a .item_outer {
  padding: 0;
  overflow: inherit;
}

.qodef-drop-down .wide .second .inner > ul > li > a .item_outer:before, .qodef-drop-down .wide .second .inner > ul > li > a .item_outer:after {
  display: none;
}

.qodef-drop-down .wide .second .inner > ul > li.current-menu-ancestor > a,
.qodef-drop-down .wide .second .inner > ul > li.current-menu-item > a {
  color: #d56a36;
}

.qodef-drop-down .wide.left_position .second .inner > ul, .qodef-drop-down .wide.right_position .second .inner > ul {
  width: auto;
  white-space: nowrap;
}

.qodef-drop-down .wide.left_position .second .inner > ul > li, .qodef-drop-down .wide.right_position .second .inner > ul > li {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.qodef-drop-down .wide.left_position .second .inner > ul > li:nth-child(4n+1), .qodef-drop-down .wide.right_position .second .inner > ul > li:nth-child(4n+1) {
  border-left: none;
}

.qodef-drop-down .wide.left_position .second ul li, .qodef-drop-down .wide.right_position .second ul li {
  width: 200px;
}

/* ==========================================================================
   Header main menu style - end
   ========================================================================== */
/* ==========================================================================
   Fixed header style - begin
   ========================================================================== */
.qodef-page-header .qodef-fixed-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.admin-bar .qodef-page-header .qodef-fixed-wrapper.fixed {
  top: 32px;
}

.qodef-page-header .qodef-fixed-wrapper.fixed .qodef-menu-area {
  background-color: #fff;
}

/* ==========================================================================
   Fixed header style - end
   ========================================================================== */
/* ==========================================================================
   Header Centered style - begin
   ========================================================================== */
.qodef-header-centered .qodef-page-header .qodef-logo-area {
  overflow: visible;
  z-index: 2;
  box-sizing: border-box;
  height: 112px;
}

.qodef-header-centered .qodef-page-header .qodef-menu-area {
  z-index: 1;
  height: 54px;
}

.qodef-header-centered .qodef-page-header .qodef-menu-area .qodef-vertical-align-containers .qodef-position-center-inner {
  height: 100%;
}

.qodef-header-centered .qodef-page-header .qodef-sticky-header .qodef-position-left-inner {
  height: auto;
}

.qodef-header-centered .qodef-page-header .qodef-sticky-header .qodef-position-right-inner {
  height: 100%;
}

/* ==========================================================================
   Header Centered style - end
   ========================================================================== */
/* ==========================================================================
   Header Divided style - begin
   ========================================================================== */
.qodef-header-divided .qodef-page-header .qodef-logo-wrapper a img {
  margin: 0 auto;
}

.qodef-header-divided .qodef-page-header .qodef-menu-area {
  opacity: 0;
}

.qodef-header-divided .qodef-page-header .qodef-menu-area .qodef-grid {
  height: 100%;
}

.qodef-header-divided .qodef-page-header .qodef-main-menu {
  width: auto;
  margin: 0;
}

.qodef-header-divided .qodef-page-header .qodef-main-menu > ul > li > a span.item_inner {
  padding: 0 28px;
}

.qodef-header-divided .qodef-page-header .qodef-vertical-align-containers {
  padding: 0;
}

.qodef-header-divided .qodef-page-header .qodef-vertical-align-containers .qodef-position-left {
  text-align: right;
}

.qodef-header-divided .qodef-page-header .qodef-vertical-align-containers .qodef-position-left .qodef-divided-left-widget-area {
  display: inline-block;
  float: left;
  height: 100%;
  vertical-align: middle;
}

.qodef-header-divided .qodef-page-header .qodef-vertical-align-containers .qodef-position-left .qodef-divided-left-widget-area .qodef-divided-left-widget-area-inner {
  display: table;
  height: 100%;
}

.qodef-header-divided .qodef-page-header .qodef-vertical-align-containers .qodef-position-left .qodef-divided-left-widget-area .qodef-divided-left-widget-area-inner > * {
  display: table-cell;
  vertical-align: middle;
}

.qodef-header-divided .qodef-page-header .qodef-vertical-align-containers .qodef-position-left .qodef-position-left-inner {
  height: 100%;
  text-align: left;
  padding-right: 10px;
}

.qodef-header-divided .qodef-page-header .qodef-vertical-align-containers .qodef-position-right {
  text-align: left;
}

.qodef-header-divided .qodef-page-header .qodef-vertical-align-containers .qodef-position-right .qodef-divided-right-widget-area {
  display: inline-block;
  float: right;
  height: 100%;
  vertical-align: middle;
}

.qodef-header-divided .qodef-page-header .qodef-vertical-align-containers .qodef-position-right .qodef-divided-right-widget-area .qodef-divided-right-widget-area-inner {
  display: table;
  height: 100%;
}

.qodef-header-divided .qodef-page-header .qodef-vertical-align-containers .qodef-position-right .qodef-divided-right-widget-area .qodef-divided-right-widget-area-inner > * {
  display: table-cell;
  vertical-align: middle;
}

.qodef-header-divided .qodef-page-header .qodef-vertical-align-containers .qodef-position-right .qodef-position-right-inner {
  height: 100%;
  padding-left: 10px;
}

.qodef-header-divided .qodef-page-header .qodef-vertical-align-containers .qodef-position-center {
  position: absolute;
  width: 100%;
}

.qodef-header-divided .qodef-page-header .qodef-sticky-header .qodef-position-center-inner {
  height: auto;
}

/* ==========================================================================
   Header Divided style - end
   ========================================================================== */
/* ==========================================================================
   Header Standard style - begin
   ========================================================================== */
.qodef-header-standard .qodef-menu-area.qodef-menu-left .qodef-main-menu {
  width: auto;
  padding: 0 0 0 20px;
}

.qodef-header-standard .qodef-menu-area.qodef-menu-left .qodef-vertical-align-containers .qodef-position-left-inner {
  height: 100%;
}

.qodef-header-standard .qodef-menu-area.qodef-menu-left .qodef-vertical-align-containers .qodef-position-left:before,
.qodef-header-standard .qodef-menu-area.qodef-menu-left .qodef-vertical-align-containers .qodef-position-right:before {
  display: none;
}

.qodef-header-standard .qodef-menu-area.qodef-menu-left .qodef-vertical-align-containers .qodef-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.qodef-header-standard .qodef-menu-area.qodef-menu-center .qodef-vertical-align-containers .qodef-position-center-inner {
  height: 100%;
}

.qodef-header-standard .qodef-menu-area.qodef-menu-center .qodef-vertical-align-containers .qodef-position-right:before {
  display: none;
}

.qodef-header-standard .qodef-menu-area.qodef-menu-center .qodef-vertical-align-containers .qodef-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.qodef-header-standard .qodef-menu-area.qodef-menu-right .qodef-main-menu {
  width: auto;
}

.qodef-header-standard .qodef-menu-area.qodef-menu-right .qodef-vertical-align-containers .qodef-position-right-inner {
  height: 100%;
}

/* ==========================================================================
   Header Standard style - end
   ========================================================================== */
/* ==========================================================================
   Mobile header style - begin
   ========================================================================== */
.qodef-mobile-header {
  position: relative;
  display: none;
  z-index: 110;
  /* #General mobile header styles
    ========================================================================== */
  /* #End of general mobile header styles
   ========================================================================== */
  /* #Mobile logo styles
    ========================================================================== */
  /* #End of mobile logo styles
    ========================================================================== */
  /* #Mobile menu opener styles
    ========================================================================== */
  /* #End of mobile menu opener styles
    ========================================================================== */
  /* #Mobile menu navigation styles
    ========================================================================== */
  /* #End of mobile menu navigation styles
	========================================================================== */
}

.qodef-mobile-header .qodef-mobile-header-inner {
  position: relative;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  box-sizing: border-box;
}

.qodef-mobile-header .qodef-mobile-header-inner .qodef-mobile-header-holder {
  position: relative;
  z-index: 2;
  height: 100%;
}

.qodef-mobile-header .qodef-grid {
  height: 100%;
}

.qodef-mobile-header .qodef-vertical-align-containers {
  padding: 0;
}

.qodef-mobile-header .qodef-mobile-logo-wrapper a {
  display: block;
}

.qodef-mobile-header .qodef-mobile-logo-wrapper img {
  display: block;
  height: 100%;
  width: auto;
}

.qodef-mobile-header .qodef-mobile-menu-opener {
  position: relative;
  height: 100%;
  float: left;
  z-index: 2;
}

.qodef-mobile-header .qodef-mobile-menu-opener a {
  display: table;
  height: 100%;
  padding-right: 10px;
}

.qodef-mobile-header .qodef-mobile-menu-opener a > * {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  line-height: 1em;
}

.qodef-mobile-header .qodef-mobile-menu-opener a .qodef-mobile-menu-text {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  padding-left: 5px;
}

.qodef-mobile-header .qodef-mobile-menu-opener.qodef-mobile-menu-opened a {
  color: #d56a36;
}

.qodef-mobile-header .qodef-mobile-menu-opener.qodef-mobile-menu-opener-icon-pack .qodef-mobile-menu-icon {
  font-size: 20px;
}

.qodef-mobile-header .qodef-mobile-menu-opener.qodef-mobile-menu-opener-icon-pack .qodef-mobile-menu-icon * {
  display: block;
  line-height: inherit;
}

.qodef-mobile-header .qodef-mobile-menu-opener.qodef-mobile-menu-opener-icon-pack .qodef-mobile-menu-icon *:before {
  display: block;
  line-height: inherit;
}

.qodef-mobile-header .qodef-mobile-menu-opener.qodef-mobile-menu-opener-svg-path .qodef-mobile-menu-icon > * {
  vertical-align: middle;
}

.qodef-mobile-header .qodef-mobile-menu-opener.qodef-mobile-menu-opener-svg-path .qodef-mobile-menu-icon > *,
.qodef-mobile-header .qodef-mobile-menu-opener.qodef-mobile-menu-opener-svg-path .qodef-mobile-menu-icon path {
  fill: currentColor;
  stroke: currentColor;
}

.qodef-mobile-header .qodef-mobile-menu-opener.qodef-mobile-menu-opener-predefined {
  line-height: 1;
}

.qodef-mobile-header .qodef-mobile-menu-opener.qodef-mobile-menu-opener-predefined .qodef-hm-lines {
  position: relative;
  display: block;
  width: 23px;
  height: 17px;
}

.qodef-mobile-header .qodef-mobile-menu-opener.qodef-mobile-menu-opener-predefined .qodef-hm-lines .qodef-hm-line {
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: currentColor;
  border-radius: 12px;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.qodef-mobile-header .qodef-mobile-menu-opener.qodef-mobile-menu-opener-predefined .qodef-hm-lines .qodef-hm-line.qodef-line-1 {
  top: 0;
}

.qodef-mobile-header .qodef-mobile-menu-opener.qodef-mobile-menu-opener-predefined .qodef-hm-lines .qodef-hm-line.qodef-line-2 {
  top: 7px;
}

.qodef-mobile-header .qodef-mobile-menu-opener.qodef-mobile-menu-opener-predefined .qodef-hm-lines .qodef-hm-line.qodef-line-3 {
  bottom: 0;
}

.qodef-mobile-header .qodef-mobile-nav {
  display: none;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
}

.qodef-mobile-header .qodef-mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.qodef-mobile-header .qodef-mobile-nav ul li {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-transform: translateZ(0);
}

.qodef-mobile-header .qodef-mobile-nav ul li a, .qodef-mobile-header .qodef-mobile-nav ul li h6 {
  position: relative;
  display: block;
  padding: 9px 0;
  margin: 0;
  color: #555555;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
}

.qodef-mobile-header .qodef-mobile-nav ul li a:hover, .qodef-mobile-header .qodef-mobile-nav ul li h6:hover {
  color: #d56a36;
}

.qodef-mobile-header .qodef-mobile-nav ul ul {
  display: none;
  margin-left: 15px;
}

.qodef-mobile-header .qodef-mobile-nav ul ul li.current-menu-ancestor > a,
.qodef-mobile-header .qodef-mobile-nav ul ul li.current-menu-item > a,
.qodef-mobile-header .qodef-mobile-nav ul ul li.current-menu-ancestor > h6,
.qodef-mobile-header .qodef-mobile-nav ul ul li.current-menu-item > h6 {
  color: #d56a36;
}

.qodef-mobile-header .qodef-mobile-nav ul ul li a, .qodef-mobile-header .qodef-mobile-nav ul ul li h6 {
  font-size: 11px;
  line-height: 24px;
  letter-spacing: .15em;
  font-weight: 400;
  text-transform: uppercase;
}

.qodef-mobile-header .qodef-mobile-nav .qodef-grid > ul > li > a,
.qodef-mobile-header .qodef-mobile-nav .qodef-grid > ul > li > h6 {
  padding-left: 4px;
  font-size: 12px;
  letter-spacing: .15em;
  font-weight: 400;
  text-transform: uppercase;
}

.qodef-mobile-header .qodef-mobile-nav .qodef-grid > ul > li.qodef-active-item > a,
.qodef-mobile-header .qodef-mobile-nav .qodef-grid > ul > li.qodef-active-item > h6 {
  color: #d56a36;
}

.qodef-mobile-header .qodef-mobile-nav .qodef-grid > ul > li.qodef-active-item > .mobile_arrow > .qodef-sub-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.qodef-mobile-header .qodef-mobile-nav .mobile_arrow {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: auto;
  padding: 9px 12px 9px 0;
  font-size: 15px;
  line-height: inherit;
  text-align: right;
  box-sizing: border-box;
}

.qodef-mobile-header .qodef-mobile-nav .mobile_arrow:hover {
  cursor: pointer;
}

.qodef-mobile-header .qodef-mobile-nav .mobile_arrow .qodef-sub-arrow {
  line-height: 1;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.qodef-mobile-header .qodef-mobile-nav .mobile_arrow .fa-angle-down {
  display: none;
}

.qodef-mobile-header .qodef-mobile-nav li.qodef-opened > .mobile_arrow > .qodef-sub-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.qodef-mobile-header .qodef-mobile-nav > ul > li:last-child > a,
.qodef-mobile-header .qodef-mobile-nav > .qodef-grid > ul > li:last-child > a {
  border-bottom: none;
}

/* ==========================================================================
   Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky Mobile header style - begin
   ========================================================================== */
.qodef-sticky-up-mobile-header .qodef-animate-mobile-header .qodef-mobile-header-inner {
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  -moz-transition: -moz-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  transition: transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
}

.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

/* ==========================================================================
   Sticky Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky header style - begin
   ========================================================================== */
.qodef-sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  transition: transform 0.6s ease;
}

.qodef-sticky-header .qodef-grid {
  height: 100% !important;
}

.qodef-sticky-header.header-appear {
  transform: translateY(0%);
}

.admin-bar .qodef-sticky-header.header-appear {
  top: 32px;
}

.qodef-sticky-header .qodef-sticky-holder {
  position: relative;
  height: 100%;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
}

.qodef-sticky-header .qodef-sticky-holder .qodef-logo-wrapper a {
  max-height: 70px;
}

.qodef-sticky-header .qodef-sticky-holder .qodef-vertical-align-containers {
  padding: 0 40px;
}

.qodef-sticky-header .qodef-sticky-holder.qodef-menu-left .qodef-main-menu {
  width: auto;
  padding: 0 0 0 20px;
}

.qodef-sticky-header .qodef-sticky-holder.qodef-menu-left .qodef-vertical-align-containers .qodef-position-left-inner {
  height: 100%;
}

.qodef-sticky-header .qodef-sticky-holder.qodef-menu-left .qodef-vertical-align-containers .qodef-position-right:before {
  display: none;
}

.qodef-sticky-header .qodef-sticky-holder.qodef-menu-left .qodef-vertical-align-containers .qodef-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.qodef-sticky-header .qodef-sticky-holder.qodef-menu-center .qodef-vertical-align-containers .qodef-position-center-inner {
  height: 100%;
}

.qodef-sticky-header .qodef-sticky-holder.qodef-menu-center .qodef-vertical-align-containers .qodef-position-right:before {
  display: none;
}

.qodef-sticky-header .qodef-sticky-holder.qodef-menu-center .qodef-vertical-align-containers .qodef-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.qodef-sticky-header .qodef-sticky-holder.qodef-menu-right .qodef-main-menu {
  width: auto;
}

.qodef-sticky-header .qodef-sticky-holder.qodef-menu-right .qodef-vertical-align-containers .qodef-position-right-inner {
  height: 100%;
}

.qodef-sticky-header .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

/* ==========================================================================
   Sticky header style - end
   ========================================================================== */
/* ==========================================================================
   Top header style - begin
   ========================================================================== */
.qodef-top-bar {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 36px;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  background-color: #4c494a;
  z-index: 111;
  box-sizing: border-box;
}

.qodef-top-bar > .qodef-vertical-align-containers {
  padding: 0 40px;
}

.qodef-top-bar .qodef-vertical-align-containers .qodef-position-left:before,
.qodef-top-bar .qodef-vertical-align-containers .qodef-position-right:before {
  display: none;
}

.qodef-top-bar .qodef-vertical-align-containers .qodef-position-left-inner,
.qodef-top-bar .qodef-vertical-align-containers .qodef-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.qodef-top-bar .qodef-grid {
  height: 100%;
}

.qodef-top-bar .qodef-grid .qodef-vertical-align-containers {
  padding-left: 0;
  padding-right: 0;
}

.qodef-top-bar-in-grid-padding .qodef-top-bar .qodef-grid .qodef-vertical-align-containers {
  padding: 0 40px;
}

.qodef-top-bar .widget {
  margin: 0;
}

/* ==========================================================================
   Top header style - end
   ========================================================================== */
/* ==========================================================================
   Header styles - end
   ========================================================================== */

/*# sourceMappingURL=header-map.css.map */
