/* line 5, scss/qodef-forms.scss */
.qodef-page .qodef-field-description {
  margin: 10px 0;
  display: block;
}

/* line 14, scss/qodef-forms.scss */
.qodef-page input.qodef-form-element,
.qodef-page select.qodef-form-element,
.qodef-page textarea.qodef-form-element {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  -ms-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border-color: #ddd;
  font-size: 13px;
  outline: none;
}
/* line 21, scss/qodef-forms.scss */
.qodef-page input.qodef-form-element:focus,
.qodef-page select.qodef-form-element:focus,
.qodef-page textarea.qodef-form-element:focus {
  border-color: #ccc;
  -webkit-box-shadow: inset 0 0 1px #dddddd;
  -moz-box-shadow: inset 0 0 1px #dddddd;
  box-shadow: inset 0 0 1px #dddddd;
}
/* line 32, scss/qodef-forms.scss */
.qodef-page input[type='text'].qodef-form-element,
.qodef-page input[type='email'].qodef-form-element,
.qodef-page input[type='password'].qodef-form-element,
.qodef-page input[type='number'].qodef-form-element,
.qodef-page select.qodef-form-element,
.qodef-page textarea.qodef-form-element {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 35, scss/qodef-forms.scss */
.qodef-page input[type='text'].qodef-form-element.qodef-form-element-xxsmall,
.qodef-page input[type='email'].qodef-form-element.qodef-form-element-xxsmall,
.qodef-page input[type='password'].qodef-form-element.qodef-form-element-xxsmall,
.qodef-page input[type='number'].qodef-form-element.qodef-form-element-xxsmall,
.qodef-page select.qodef-form-element.qodef-form-element-xxsmall,
.qodef-page textarea.qodef-form-element.qodef-form-element-xxsmall {
  width: 60px;
}
/* line 35, scss/qodef-forms.scss */
.qodef-page input[type='text'].qodef-form-element.qodef-form-element-xsmall,
.qodef-page input[type='email'].qodef-form-element.qodef-form-element-xsmall,
.qodef-page input[type='password'].qodef-form-element.qodef-form-element-xsmall,
.qodef-page input[type='number'].qodef-form-element.qodef-form-element-xsmall,
.qodef-page select.qodef-form-element.qodef-form-element-xsmall,
.qodef-page textarea.qodef-form-element.qodef-form-element-xsmall {
  width: 100px;
}
/* line 39, scss/qodef-forms.scss */
.qodef-page input[type='text'].qodef-form-element.qodef-form-element-small,
.qodef-page input[type='email'].qodef-form-element.qodef-form-element-small,
.qodef-page input[type='password'].qodef-form-element.qodef-form-element-small,
.qodef-page input[type='number'].qodef-form-element.qodef-form-element-small,
.qodef-page select.qodef-form-element.qodef-form-element-small,
.qodef-page textarea.qodef-form-element.qodef-form-element-small {
  width: 155px;
}
/* line 43, scss/qodef-forms.scss */
.qodef-page input[type='text'].qodef-form-element.qodef-form-element-medium,
.qodef-page input[type='email'].qodef-form-element.qodef-form-element-medium,
.qodef-page input[type='password'].qodef-form-element.qodef-form-element-medium,
.qodef-page input[type='number'].qodef-form-element.qodef-form-element-medium,
.qodef-page select.qodef-form-element.qodef-form-element-medium,
.qodef-page textarea.qodef-form-element.qodef-form-element-medium {
  width: 255px;
}
/* line 47, scss/qodef-forms.scss */
.qodef-page input[type='text'].qodef-form-element.qodef-form-element-large,
.qodef-page input[type='email'].qodef-form-element.qodef-form-element-large,
.qodef-page input[type='password'].qodef-form-element.qodef-form-element-large,
.qodef-page input[type='number'].qodef-form-element.qodef-form-element-large,
.qodef-page select.qodef-form-element.qodef-form-element-large,
.qodef-page textarea.qodef-form-element.qodef-form-element-large {
  width: 500px;
}
/* line 52, scss/qodef-forms.scss */
.qodef-page #general textarea.qodef-form-element {
    resize: vertical;
}
/* line 60, scss/qodef-forms.scss */
.qodef-page input[type='text'].qodef-form-element,
.qodef-page input[type='email'].qodef-form-element,
.qodef-page input[type='password'].qodef-form-element,
.qodef-page input[type='number'].qodef-form-element,
.qodef-page select.qodef-form-element {
  height: 34px;
  line-height: 1.42857143;
}
/* line 70, scss/qodef-forms.scss */
.qodef-page input[type='text'].qodef-form-element,
.qodef-page input[type='email'].qodef-form-element,
.qodef-page input[type='password'].qodef-form-element,
.qodef-page input[type='number'].qodef-form-element,
.qodef-page select.qodef-form-element,
.qodef-page textarea.qodef-form-element {
  padding: 6px 12px;
}
/* line 75, scss/qodef-forms.scss */
.qodef-page input[type="radio"].qodef-form-element,
.qodef-page input[type="checkbox"].qodef-form-element {
  margin-top: 1px;
  outline: none;
}

.qodef-page .input-group-addon {
    font-size: 12px;
    background-color: #f7f7f7;
}

@media only screen and (max-width: 782px) {
  /* line 75, scss/qodef-forms.scss */
  .qodef-page input[type="radio"].qodef-form-element,
  .qodef-page input[type="checkbox"].qodef-form-element {
    width: 16px;
    height: 16px;
  }
}
@media only screen and (max-width: 782px) {
  /* line 84, scss/qodef-forms.scss */
  .qodef-page input[type="radio"].qodef-form-element:checked:before,
  .qodef-page input[type="checkbox"].qodef-form-element:checked:before {
    font: 400 21px/1 dashicons;
  }
}
@media only screen and (max-width: 782px) {
  /* line 92, scss/qodef-forms.scss */
  .qodef-page input[type="checkbox"].qodef-form-element:checked:before {
    margin: -3px 0 0 -4px;
  }
}
@media only screen and (max-width: 782px) {
  /* line 100, scss/qodef-forms.scss */
  .qodef-page input[type="radio"].qodef-form-element:checked:before {
    margin: 3px;
  }
}
/* line 108, scss/qodef-forms.scss */
.qodef-page .input-group {
  margin-bottom: 15px;
}
/* line 111, scss/qodef-forms.scss */
.qodef-page .input-group .input-group-addon {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.qodef-page .radio-inline input[type="radio"] + img {
    border: 2px solid transparent;
    -webkit-transition: border-color 0.15s ease-in-out;
    -moz-transition: border-color 0.15s ease-in-out;
    -ms-transition: border-color 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out;
}

.qodef-page .radio-inline input[type="radio"]:checked + img {
    border-color: #ced1d4;
}

.qodef-page .qodef-radio-group-holder.with-images .radio-inline {
    padding-left: 0;
}

@media only screen and (max-width: 782px) {
  /* line 118, scss/qodef-forms.scss */
  #wpbody select.qodef-form-element {
    font-size: 13px;
    height: 34px;
  }
}

/*
NEW CSS START
*/

.qodef-page .qodef-page-form-section.qodef-no-description .qodef-field-desc {
    display: none;
}

.qodef-page .qodef-page-form-section.qodef-no-description .qodef-section-content {
    width: 100%;
}

/* Repeater global style -  start */

.qodef-page .qodef-repeater-fields-row-inner,
.qodef-page .qodef-repeater-inner-fields-holder{
    display: table;
    width: 100%;
    vertical-align: middle;
    height: 100%;
    table-layout: fixed;
}

.qodef-page .qodef-repeater-fields,
.qodef-page .qodef-repeater-inner-fields{
    display: table-cell;
    width: 80%;
    height: 100%;
    vertical-align: middle;
    background: #f6f6f6;
}

.qodef-page .qodef-repeater-fields-row .qodef-repeater-wrapper .qodef-repeater-add{
    padding-left: 0;
}

.qodef-page .qodef-repeater-remove,
.qodef-page .qodef-repeater-sort {
    border-top: 1px solid #efefef;
    font-size: 20px;
    display: table-cell;
    width: 10%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.qodef-page .qodef-repeater-sort {
    cursor: move;
}

.qodef-page .qodef-repeater-sort:hover {
    background-color: #efefef;
}

.qodef-page .qodef-repeater-wrapper-inner:not(.sortable) .qodef-repeater-sort{
	display: none;
}

.qodef-page .qodef-repeater-add,
.qodef-page .qodef-repeater-inner-add {
    padding: 15px;
    display: inline-block
}

.qodef-page .qodef-field-desc h4 {
    margin-top: 0;
}

.qodef-page .placeholder,
.qodef-page .placeholder-sub{
    background-color: #dadada;
    border: 1px dashed #000;
    height: 75px;
}

.qodef-page .placeholder-sub {
    margin-left: 50px;
}

.qodef-page .qodef-repeater-fields-row.ui-sortable-helper {
    background-color: #fff;
}

.qodef-page .qodef-repeater-fields-row.second-level{
    margin-left: 50px;
}

/*Repeater Table style*/

.qodef-page .qodef-repeater-table .qodef-repeater-fields-holder{
	display: table;
	width: 100%;
}

.qodef-page .qodef-repeater-table .qodef-repeater-table-heading .qodef-repeater-table-cell{
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	padding: 15px;
}

.qodef-page .qodef-repeater-table .qodef-repeater-fields-holder{
	border-top: 1px solid #efefef;
}

.qodef-page .qodef-repeater-table .qodef-repeater-fields-row {
	text-align: center;
}

.qodef-page .qodef-repeater-table .qodef-repeater-fields-row .select2{
	text-align: left;
}

.qodef-page .qodef-repeater-table .qodef-page-form-section{
	border-top: none;
}

.qodef-page .qodef-repeater-table .qodef-repeater-remove,
.qodef-page .qodef-repeater-table .qodef-repeater-sort {
    border-top: none;
}

.qodef-page .qodef-repeater-table .qodef-repeater-fields,
.qodef-page .qodef-repeater-table .qodef-repeater-inner-fields{
	background-color: transparent;
}
/* Repeater global style -  end */

.qodef-page .map_canvas {
    height: 300px;
    margin: 20px 0;
}

.row.qodef-icon-collection-holder {
    margin-top: 20px;
}

/*
NEW CSS END
*/