/* ==========================================================================
   Search Post Type widget style - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
.widget.qodef-search-post-type-widget {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  line-height: 0;
}

.widget.qodef-search-post-type-widget .qodef-search-post-type {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.widget.qodef-search-post-type-widget .qodef-post-type-search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  display: none;
  background-color: #fff;
  z-index: 99;
}

.widget.qodef-search-post-type-widget .qodef-post-type-search-results ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 10px 20px;
  line-height: 0;
  box-sizing: border-box;
}

.widget.qodef-search-post-type-widget .qodef-post-type-search-results ul li {
  display: block;
  width: 100%;
}

.widget.qodef-search-post-type-widget .qodef-search-icon,
.widget.qodef-search-post-type-widget .qodef-search-loading {
  position: absolute;
  right: 20px;
  top: calc(50% - 9px);
  font-size: 18px;
  color: #4c494a;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.widget.qodef-search-post-type-widget .qodef-search-icon.qodef-hidden,
.widget.qodef-search-post-type-widget .qodef-search-loading.qodef-hidden {
  opacity: 0;
}

/* ==========================================================================
   Search Post Type widget style - end
   ========================================================================== */

/*# sourceMappingURL=search-post-type-widget-map.css.map */
