/*------------------------------------------------------------------
 * This is main responsive css file for theme. It is broken into following sections:
 * 1. Global responsive styles
 * 2. Blog responsive styles
 * 3. Footer responsive styles
 * 4. Header responsive styles
 * 5. Search responsive styles
 * 6. Title area responsive styles
 * 7. Shortcodes responsive styles
 * 8. Custom Post Types responsive styles
-------------------------------------------------------------------*/

/* ==========================================================================
   1. Global responsive styles
   ========================================================================== */

/* common mixins - start */

/* common mixins - end */

/* mixins styles - start */

/* mixins styles - end */

@media only screen and (max-width: 680px) {
  h1 {
    font-size: 40px;
    line-height: 48px;
  }

  h2 {
    font-size: 32px;
    line-height: 38px;
  }

  h3 {
    font-size: 27px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 1024px) {
  body:not(.qodef-content-is-behind-header):not(.error404) .qodef-content {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-hide-on-tablet {
    display: none !important;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-hide-on-mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 1200px) {
  .qodef-grid,
  .qodef-container-inner,
  .qodef-row-grid-section {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-grid,
  .qodef-container-inner,
  .qodef-row-grid-section {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-grid,
  .qodef-container-inner,
  .qodef-row-grid-section {
    width: 600px;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-grid,
  .qodef-container-inner,
  .qodef-row-grid-section {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-grid,
  .qodef-container-inner,
  .qodef-row-grid-section {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .qodef-grid,
  .qodef-container-inner,
  .qodef-row-grid-section {
    width: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  .qodef-boxed .qodef-wrapper .qodef-wrapper-inner,
  .qodef-boxed .qodef-wrapper .qodef-footer-inner {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-boxed .qodef-wrapper .qodef-wrapper-inner,
  .qodef-boxed .qodef-wrapper .qodef-footer-inner {
    width: 818px;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-boxed .qodef-wrapper .qodef-wrapper-inner,
  .qodef-boxed .qodef-wrapper .qodef-footer-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-boxed .qodef-wrapper .qodef-wrapper-inner,
  .qodef-boxed .qodef-wrapper .qodef-footer-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-boxed .qodef-wrapper .qodef-wrapper-inner,
  .qodef-boxed .qodef-wrapper .qodef-footer-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .qodef-boxed .qodef-wrapper .qodef-wrapper-inner,
  .qodef-boxed .qodef-wrapper .qodef-footer-inner {
    width: 92%;
  }
}

/* ==========================================================================
   Grid System responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1280px) {
  /*
	* If you changed some value for space do the same thing in product-list-main-and-vc scss files
	*/

  .qodef-huge-space .qodef-outer-space {
    margin: 0 -25px;
  }

  .qodef-huge-space .qodef-outer-space .qodef-item-space {
    padding: 0 25px;
    margin: 0 0 50px;
  }

  .qodef-huge-space.qodef-disable-bottom-space {
    margin-bottom: -50px;
  }

  .qodef-huge-space.qodef-columns-has-side-space {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1440px) {
  .qodef-grid-list.qodef-six-columns .qodef-masonry-grid-sizer {
    width: 20%;
  }

  .qodef-grid-list.qodef-six-columns .qodef-item-space {
    width: 20%;
  }

  .qodef-grid-list.qodef-six-columns .qodef-item-space.qodef-masonry-size-large-width,
  .qodef-grid-list.qodef-six-columns .qodef-item-space.qodef-masonry-size-large-width-height {
    width: 40%;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .qodef-grid-list.qodef-six-columns .qodef-item-space:nth-child(5n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1366px) {
  .qodef-grid-list.qodef-five-columns .qodef-masonry-grid-sizer {
    width: 25%;
  }

  .qodef-grid-list.qodef-five-columns .qodef-item-space {
    width: 25%;
  }

  .qodef-grid-list.qodef-five-columns .qodef-item-space.qodef-masonry-size-large-width,
  .qodef-grid-list.qodef-five-columns .qodef-item-space.qodef-masonry-size-large-width-height {
    width: 50%;
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid-list.qodef-five-columns .qodef-item-space:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1366px) {
  .qodef-grid-list.qodef-six-columns .qodef-masonry-grid-sizer {
    width: 25%;
  }

  .qodef-grid-list.qodef-six-columns .qodef-item-space {
    width: 25%;
  }

  .qodef-grid-list.qodef-six-columns .qodef-item-space.qodef-masonry-size-large-width,
  .qodef-grid-list.qodef-six-columns .qodef-item-space.qodef-masonry-size-large-width-height {
    width: 50%;
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .qodef-grid-list.qodef-six-columns .qodef-item-space:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-grid-list.qodef-four-columns .qodef-masonry-grid-sizer {
    width: 33.33333%;
  }

  .qodef-grid-list.qodef-four-columns .qodef-item-space {
    width: 33.33333%;
  }

  .qodef-grid-list.qodef-four-columns .qodef-item-space.qodef-masonry-size-large-width,
  .qodef-grid-list.qodef-four-columns .qodef-item-space.qodef-masonry-size-large-width-height {
    width: 66.66667%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid-list.qodef-four-columns .qodef-item-space:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-grid-list.qodef-five-columns .qodef-masonry-grid-sizer {
    width: 33.33333%;
  }

  .qodef-grid-list.qodef-five-columns .qodef-item-space {
    width: 33.33333%;
  }

  .qodef-grid-list.qodef-five-columns .qodef-item-space.qodef-masonry-size-large-width,
  .qodef-grid-list.qodef-five-columns .qodef-item-space.qodef-masonry-size-large-width-height {
    width: 66.66667%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid-list.qodef-five-columns .qodef-item-space:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-grid-list.qodef-six-columns .qodef-masonry-grid-sizer {
    width: 33.33333%;
  }

  .qodef-grid-list.qodef-six-columns .qodef-item-space {
    width: 33.33333%;
  }

  .qodef-grid-list.qodef-six-columns .qodef-item-space.qodef-masonry-size-large-width,
  .qodef-grid-list.qodef-six-columns .qodef-item-space.qodef-masonry-size-large-width-height {
    width: 66.66667%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .qodef-grid-list.qodef-six-columns .qodef-item-space:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-grid-list.qodef-three-columns .qodef-masonry-grid-sizer {
    width: 50%;
  }

  .qodef-grid-list.qodef-three-columns .qodef-item-space {
    width: 50%;
  }

  .qodef-grid-list.qodef-three-columns .qodef-item-space.qodef-masonry-size-large-width,
  .qodef-grid-list.qodef-three-columns .qodef-item-space.qodef-masonry-size-large-width-height {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid-list.qodef-three-columns .qodef-item-space:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-grid-list.qodef-four-columns .qodef-masonry-grid-sizer {
    width: 50%;
  }

  .qodef-grid-list.qodef-four-columns .qodef-item-space {
    width: 50%;
  }

  .qodef-grid-list.qodef-four-columns .qodef-item-space.qodef-masonry-size-large-width,
  .qodef-grid-list.qodef-four-columns .qodef-item-space.qodef-masonry-size-large-width-height {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid-list.qodef-four-columns .qodef-item-space:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-grid-list.qodef-five-columns .qodef-masonry-grid-sizer {
    width: 50%;
  }

  .qodef-grid-list.qodef-five-columns .qodef-item-space {
    width: 50%;
  }

  .qodef-grid-list.qodef-five-columns .qodef-item-space.qodef-masonry-size-large-width,
  .qodef-grid-list.qodef-five-columns .qodef-item-space.qodef-masonry-size-large-width-height {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid-list.qodef-five-columns .qodef-item-space:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-grid-list.qodef-six-columns .qodef-masonry-grid-sizer {
    width: 50%;
  }

  .qodef-grid-list.qodef-six-columns .qodef-item-space {
    width: 50%;
  }

  .qodef-grid-list.qodef-six-columns .qodef-item-space.qodef-masonry-size-large-width,
  .qodef-grid-list.qodef-six-columns .qodef-item-space.qodef-masonry-size-large-width-height {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .qodef-grid-list.qodef-six-columns .qodef-item-space:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-grid-list.qodef-two-columns .qodef-masonry-grid-sizer {
    width: 100%;
  }

  .qodef-grid-list.qodef-two-columns .qodef-item-space {
    width: 100%;
  }

  .qodef-grid-list.qodef-three-columns .qodef-masonry-grid-sizer {
    width: 100%;
  }

  .qodef-grid-list.qodef-three-columns .qodef-item-space {
    width: 100%;
  }

  .qodef-grid-list.qodef-four-columns .qodef-masonry-grid-sizer {
    width: 100%;
  }

  .qodef-grid-list.qodef-four-columns .qodef-item-space {
    width: 100%;
  }

  .qodef-grid-list.qodef-five-columns .qodef-masonry-grid-sizer {
    width: 100%;
  }

  .qodef-grid-list.qodef-five-columns .qodef-item-space {
    width: 100%;
  }

  .qodef-grid-list.qodef-six-columns .qodef-masonry-grid-sizer {
    width: 100%;
  }

  .qodef-grid-list.qodef-six-columns .qodef-item-space {
    width: 100%;
  }
}

/* ==========================================================================
   Grid System responsive style - end
   ========================================================================== */

/*# sourceMappingURL=../css/modules-responsive.css.map */
/* ==========================================================================
   Blog responsive styles - begin
   ========================================================================== */

/* common mixins - start */

/* common mixins - end */

/* mixins styles - start */

/* mixins styles - end */

@media only screen and (max-width: 768px) {
  .qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-right {
    margin-top: 15px;
  }

  .qodef-blog-holder article.format-link .qodef-post-link-holder .qodef-link-title {
    padding-right: 35%;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-blog-holder article .qodef-tags-holder .qodef-tags a {
    margin-bottom: 8px;
  }

  .qodef-blog-holder article .qodef-post-image-icon {
    bottom: 15px;
    right: 15px;
  }

  .qodef-blog-holder article.format-video .qodef-post-image-icon {
    font-size: 33px;
    padding: 7px;
  }

  .qodef-blog-holder article.format-audio .qodef-post-image-icon {
    font-size: 20px;
    padding: 15px;
  }

  .qodef-blog-holder article.format-link .qodef-post-link-holder .qodef-link-title {
    padding-right: 0;
  }

  .qodef-blog-holder article.format-quote .qodef-post-quote-holder .qodef-quote-title {
    padding-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-related-posts-holder .qodef-related-post {
    width: 50% !important;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-related-posts-holder .qodef-related-post {
    width: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom .qodef-post-info-bottom-left,
  .qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom .qodef-post-info-bottom-right {
    width: 100%;
    float: none;
  }

  .qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom .qodef-post-info-bottom-right {
    text-align: inherit;
    margin: 15px 0 0;
  }
}

/* ==========================================================================
   Blog Slider shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .qodef-blog-slider-holder.qodef-bs-carousel-centered .active.center .qodef-item-text-wrapper {
    opacity: 1;
  }
}

/* ==========================================================================
   Blog Slider shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Blog responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=blog-map-responsive.css.map */
/* ==========================================================================
   Footer responsive styles - begin
   ========================================================================== */

/* common mixins - start */

/* common mixins - end */

/* mixins styles - start */

/* mixins styles - end */

/* ==========================================================================
   Footer responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .qodef-page-footer .qodef-column-content.qodef-grid-col-3 {
    width: 50%;
    float: left;
  }

  .qodef-page-footer .qodef-column-content.qodef-grid-col-3:nth-child(2n+1) {
    clear: both;
  }

  .qodef-page-footer .qodef-column-content.qodef-grid-col-3:nth-child(3),
  .qodef-page-footer .qodef-column-content.qodef-grid-col-3:nth-child(4) {
    margin-top: 30px;
  }

  .qodef-page-footer .qodef-column-content.qodef-grid-col-4 {
    width: 33.33333333333333%;
    float: left;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-page-footer .qodef-column-content:not(:first-child) {
    margin-top: 30px;
  }
}

/* ==========================================================================
   Footer responsive style - end
   ========================================================================== */

/* ==========================================================================
   Footer responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=footer-map-responsive.css.map */
/* ==========================================================================
   Header responsive styles - begin
   ========================================================================== */

/* common mixins - start */

/* common mixins - end */

/* mixins styles - start */

/* mixins styles - end */

/* ==========================================================================
   Header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .qodef-page-header {
    display: none;
  }
}

/* ==========================================================================
   Header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Fixed header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  .qodef-boxed .qodef-page-header .qodef-fixed-wrapper.fixed {
    width: 1000px;
  }
}

/* ==========================================================================
   Fixed header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Mobile header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .qodef-mobile-header {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-paspartu-enabled .qodef-mobile-header .qodef-grid {
    width: 90%;
  }
}

/* ==========================================================================
   Mobile header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Sticky header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  .qodef-boxed .qodef-page-header .qodef-sticky-header {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 818px;
    left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 92%;
  }
}

/* ==========================================================================
   Sticky header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Top header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .qodef-top-bar {
    display: none;
  }
}

/* ==========================================================================
   Top header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Header responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=header-map-responsive.css.map */
/* ==========================================================================
   Search responsive styles - begin
   ========================================================================== */

/* common mixins - start */

/* common mixins - end */

/* mixins styles - start */

/* mixins styles - end */

/* ==========================================================================
# Search template responsive style - begin
========================================================================== */

@media only screen and (max-width: 1024px) {
  .qodef-search-page-holder article .qodef-post-image {
    width: 80px;
  }

  .qodef-search-page-holder article .qodef-post-title-area {
    padding: 0 0 0 105px;
    min-height: 80px;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-search-page-holder article .qodef-post-image {
    width: 60px;
  }

  .qodef-search-page-holder article .qodef-post-title-area {
    padding: 0 0 0 80px;
    min-height: 60px;
  }
}

/* ==========================================================================
# Search template responsive style - end
========================================================================== */

/* ==========================================================================
# Fullscreen search responsive - start
========================================================================== */

@media only screen and (max-width: 1280px) {
  .qodef-fullscreen-with-sidebar-search-holder .qodef-fullscreen-search-cell {
    padding: 50px 0 0;
  }

  .qodef-fullscreen-with-sidebar-search-holder .qodef-fullscreen-sidebar {
    margin: 20px 0 0;
  }

  .qodef-fullscreen-with-sidebar-search-holder .qodef-search-field {
    font-size: 70px;
  }

  .qodef-fullscreen-with-sidebar-search-holder .qodef-search-submit {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-fullscreen-with-sidebar-search-holder .qodef-form-holder-inner {
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-fullscreen-with-sidebar-search-holder .qodef-field-holder .qodef-search-field {
    font-size: 25px;
  }

  .qodef-fullscreen-with-sidebar-search-holder .qodef-search-submit {
    font-size: 25px;
    bottom: 25px !important;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-fullscreen-with-sidebar-search-holder .qodef-form-holder-inner {
    width: 80%;
  }
}

/* ==========================================================================
# Fullscreen search responsive - end
========================================================================== */

/* ==========================================================================
# Fullscreen search responsive - start
========================================================================== */

@media only screen and (max-width: 1024px) {
  .qodef-fullscreen-search-holder .qodef-form-holder-inner {
    width: 80%;
  }
}

/* ==========================================================================
# Fullscreen search responsive - end
========================================================================== */

/* ==========================================================================
   Search responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=search-map-responsive.css.map */
/* ==========================================================================
   Title responsive styles - begin
   ========================================================================== */

/* common mixins - start */

/* common mixins - end */

/* mixins styles - start */

/* mixins styles - end */

/* ==========================================================================
   Title responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .qodef-title-holder.qodef-has-bg-image {
    height: auto !important;
    background-image: none !important;
  }

  .qodef-title-holder.qodef-has-bg-image .qodef-title-image {
    display: block;
  }

  .qodef-title-holder.qodef-has-bg-image .qodef-title-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100% !important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .qodef-title-holder.qodef-title-va-header-bottom {
    height: auto !important;
  }

  .qodef-title-holder.qodef-title-va-header-bottom .qodef-title-wrapper {
    padding-top: 0 !important;
  }
}

/* ==========================================================================
   Title responsive style - end
   ========================================================================== */

/* ==========================================================================
   Centered Title type responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .qodef-title-holder.qodef-boxed-type .qodef-boxed-title-holder {
    position: relative;
    display: inline-block;
    min-width: 450px;
    bottom: 25px;
    padding: 26px 60px;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-title-holder.qodef-boxed-type .qodef-boxed-title-holder {
    min-width: 400px;
    padding: 10px 50px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-title-holder.qodef-boxed-type .qodef-boxed-title-holder {
    min-width: 285px;
    bottom: 0;
    padding: 10px 30px;
  }

  .qodef-title-holder.qodef-boxed-type .qodef-boxed-title-holder .qodef-title-separator {
    margin: 5px 0 5px;
  }

  .qodef-title-holder.qodef-boxed-type .qodef-page-subtitle {
    display: none;
  }
}

/* ==========================================================================
   Centered Title type responsive style - end
   ========================================================================== */

/* ==========================================================================
   Centered Title type responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .qodef-title-holder.qodef-centered-type .qodef-page-subtitle {
    padding: 0 !important;
  }
}

/* ==========================================================================
   Centered Title type responsive style - end
   ========================================================================== */

/* ==========================================================================
   Standard With Breadcrumbs Title type responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .qodef-title-holder.qodef-standard-with-breadcrumbs-type .qodef-title-info,
  .qodef-title-holder.qodef-standard-with-breadcrumbs-type .qodef-breadcrumbs-info {
    display: block;
    width: 100%;
  }

  .qodef-title-holder.qodef-standard-with-breadcrumbs-type .qodef-breadcrumbs-info {
    margin: 10px 0 0;
    text-align: initial;
    white-space: inherit;
  }
}

/* ==========================================================================
   Standard With Breadcrumbs Title type responsive style - end
   ========================================================================== */

/* ==========================================================================
   Title responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=title-map-responsive.css.map */
/* ==========================================================================
   Global partials
   ========================================================================== */

/* common mixins - start */

/* common mixins - end */

/* mixins styles - start */

/* mixins styles - end */

/* ==========================================================================
   Custom Post Types responsive styles
   ========================================================================== */

/* ==========================================================================
# Team responsive style - begin
========================================================================== */

@media only screen and (max-width: 1024px) {
  .qodef-team.info-bellow .qodef-team-image {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-team.info-hover {
    margin-bottom: 30px;
  }
}

/* ==========================================================================
# Team responsive style - end
========================================================================== */

@media only screen and (max-width: 680px) {
  .qodef-testimonials-holder.qodef-testimonials-image-pagination .qodef-testimonials-image-pagination-inner {
    padding: 0 10px 0 30%;
    box-sizing: border-box;
  }

  .qodef-testimonials-holder.qodef-testimonials-image-pagination .qodef-testimonials-image-pagination-inner .qodef-testimonial-text {
    font-size: 15px;
    line-height: 27px;
  }
}

/*# sourceMappingURL=../../../../plugins/peggi-core/assets/css/custom-post-types-map-responsive.css.map */
/* ==========================================================================
   Global partials
   ========================================================================== */

/* common mixins - start */

/* common mixins - end */

/* mixins styles - start */

/* mixins styles - end */

/* ==========================================================================
   Shortcodes responsive styles
   ========================================================================== */

/* ==========================================================================
   Button shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .qodef-btn.qodef-btn-large,
  .qodef-btn.qodef-btn-huge {
    padding: 14px 58px;
  }
}

/* ==========================================================================
   Button shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Call To Action shortcode responsive style - begin
   ========================================================================== */

@media only screen and (min-width: 1201px) and (max-width: 1300px) {
  .qodef-call-to-action-holder .qodef-grid {
    width: 1100px;
  }
}

@media only screen and (max-width: 1200px) {
  .qodef-call-to-action-holder.qodef-three-quarters-columns .qodef-cta-text-holder,
  .qodef-call-to-action-holder.qodef-four-fifths-columns .qodef-cta-text-holder {
    width: 66.66666666666667%;
  }

  .qodef-call-to-action-holder.qodef-three-quarters-columns .qodef-cta-button-holder,
  .qodef-call-to-action-holder.qodef-four-fifths-columns .qodef-cta-button-holder {
    width: 33.33333333333333%;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-call-to-action-holder.qodef-normal-layout .qodef-cta-inner,
  .qodef-call-to-action-holder.qodef-normal-layout .qodef-cta-text-holder,
  .qodef-call-to-action-holder.qodef-normal-layout .qodef-cta-button-holder {
    display: block;
  }

  .qodef-call-to-action-holder.qodef-normal-layout .qodef-cta-button-holder {
    margin: 28px 0 0;
    text-align: initial;
  }

  .qodef-call-to-action-holder.qodef-two-halves-columns .qodef-cta-text-holder,
  .qodef-call-to-action-holder.qodef-two-halves-columns .qodef-cta-button-holder,
  .qodef-call-to-action-holder.qodef-two-thirds-columns .qodef-cta-text-holder,
  .qodef-call-to-action-holder.qodef-two-thirds-columns .qodef-cta-button-holder,
  .qodef-call-to-action-holder.qodef-three-quarters-columns .qodef-cta-text-holder,
  .qodef-call-to-action-holder.qodef-three-quarters-columns .qodef-cta-button-holder,
  .qodef-call-to-action-holder.qodef-four-fifths-columns .qodef-cta-text-holder,
  .qodef-call-to-action-holder.qodef-four-fifths-columns .qodef-cta-button-holder {
    width: 100%;
  }
}

/* ==========================================================================
   Call To Action shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Cards Gallery shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 768px) {
  .qodef-cards-gallery .qodef-cg-fake-card {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }

  .qodef-cards-gallery.qodef-cg-shuffled-left .qodef-cg-card {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }

  .qodef-cards-gallery.qodef-cg-shuffled-left .qodef-cg-card.qodef-out {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .qodef-cards-gallery.qodef-cg-shuffled-left .qodef-cg-card:nth-last-child(6) {
    -webkit-transform: scale(0.3) translateX(84%);
    -moz-transform: scale(0.3) translateX(84%);
    transform: scale(0.3) translateX(84%);
  }

  .qodef-cards-gallery.qodef-cg-shuffled-left .qodef-cg-card:nth-last-child(5) {
    -webkit-transform: scale(0.4) translateX(60%);
    -moz-transform: scale(0.4) translateX(60%);
    transform: scale(0.4) translateX(60%);
  }

  .qodef-cards-gallery.qodef-cg-shuffled-left .qodef-cg-card:nth-last-child(4) {
    -webkit-transform: scale(0.5) translateX(39%);
    -moz-transform: scale(0.5) translateX(39%);
    transform: scale(0.5) translateX(39%);
  }

  .qodef-cards-gallery.qodef-cg-shuffled-left .qodef-cg-card:nth-last-child(3) {
    -webkit-transform: scale(0.6) translateX(25%);
    -moz-transform: scale(0.6) translateX(25%);
    transform: scale(0.6) translateX(25%);
  }

  .qodef-cards-gallery.qodef-cg-shuffled-left .qodef-cg-card:nth-last-child(2) {
    -webkit-transform: scale(0.7) translateX(11.2%);
    -moz-transform: scale(0.7) translateX(11.2%);
    transform: scale(0.7) translateX(11.2%);
  }

  .qodef-cards-gallery.qodef-cg-shuffled-right .qodef-cg-card {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }

  .qodef-cards-gallery.qodef-cg-shuffled-right .qodef-cg-card.qodef-out {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }

  .qodef-cards-gallery.qodef-cg-shuffled-right .qodef-cg-card:nth-last-child(6) {
    -webkit-transform: scale(0.3) translateX(-84%);
    -moz-transform: scale(0.3) translateX(-84%);
    transform: scale(0.3) translateX(-84%);
  }

  .qodef-cards-gallery.qodef-cg-shuffled-right .qodef-cg-card:nth-last-child(5) {
    -webkit-transform: scale(0.4) translateX(-60%);
    -moz-transform: scale(0.4) translateX(-60%);
    transform: scale(0.4) translateX(-60%);
  }

  .qodef-cards-gallery.qodef-cg-shuffled-right .qodef-cg-card:nth-last-child(4) {
    -webkit-transform: scale(0.5) translateX(-39%);
    -moz-transform: scale(0.5) translateX(-39%);
    transform: scale(0.5) translateX(-39%);
  }

  .qodef-cards-gallery.qodef-cg-shuffled-right .qodef-cg-card:nth-last-child(3) {
    -webkit-transform: scale(0.6) translateX(-25%);
    -moz-transform: scale(0.6) translateX(-25%);
    transform: scale(0.6) translateX(-25%);
  }

  .qodef-cards-gallery.qodef-cg-shuffled-right .qodef-cg-card:nth-last-child(2) {
    -webkit-transform: scale(0.7) translateX(-11.2%);
    -moz-transform: scale(0.7) translateX(-11.2%);
    transform: scale(0.7) translateX(-11.2%);
  }
}

/* ==========================================================================
   Cards Gallery shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Countdown shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  .qodef-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-countdown .countdown-row .countdown-section {
    padding: 4.5% 2% 5.5%;
  }

  .qodef-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 40px;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-countdown .countdown-row {
    margin: 0;
  }

  .qodef-countdown .countdown-row .countdown-section {
    width: 100% !important;
    margin: 0 0 20px 0;
  }

  .qodef-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 50px;
  }
}

/* ==========================================================================
   Countdown shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Custom Font shortcode responsive styles - begin
   ========================================================================== */

@media only screen and (max-width: 768px) {
  .qodef-custom-font-holder.qodef-disable-title-break br {
    display: none;
  }
}

/* ==========================================================================
   Custom Font shortcode responsive styles - end
   ========================================================================== */

/* ==========================================================================
   Elements Holder shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1366px) {
  .qodef-elements-holder.qodef-responsive-mode-1366.qodef-two-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-1366.qodef-three-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-1366.qodef-four-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-1366.qodef-five-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-1366.qodef-six-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-1366.qodef-one-column-alignment-left .qodef-eh-item .qodef-eh-item-content {
    text-align: left;
  }

  .qodef-elements-holder.qodef-responsive-mode-1366.qodef-one-column-alignment-right .qodef-eh-item .qodef-eh-item-content {
    text-align: right;
  }

  .qodef-elements-holder.qodef-responsive-mode-1366.qodef-one-column-alignment-center .qodef-eh-item .qodef-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-elements-holder.qodef-responsive-mode-1024.qodef-two-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-1024.qodef-three-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-1024.qodef-four-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-1024.qodef-five-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-1024.qodef-six-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-1024.qodef-one-column-alignment-left .qodef-eh-item .qodef-eh-item-content {
    text-align: left;
  }

  .qodef-elements-holder.qodef-responsive-mode-1024.qodef-one-column-alignment-right .qodef-eh-item .qodef-eh-item-content {
    text-align: right;
  }

  .qodef-elements-holder.qodef-responsive-mode-1024.qodef-one-column-alignment-center .qodef-eh-item .qodef-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-elements-holder.qodef-responsive-mode-768.qodef-two-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-768.qodef-three-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-768.qodef-four-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-768.qodef-five-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-768.qodef-six-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-768.qodef-one-column-alignment-left .qodef-eh-item .qodef-eh-item-content {
    text-align: left;
  }

  .qodef-elements-holder.qodef-responsive-mode-768.qodef-one-column-alignment-right .qodef-eh-item .qodef-eh-item-content {
    text-align: right;
  }

  .qodef-elements-holder.qodef-responsive-mode-768.qodef-one-column-alignment-center .qodef-eh-item .qodef-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-elements-holder.qodef-responsive-mode-680.qodef-two-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-680.qodef-three-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-680.qodef-four-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-680.qodef-five-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-680.qodef-six-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-680.qodef-one-column-alignment-left .qodef-eh-item .qodef-eh-item-content {
    text-align: left;
  }

  .qodef-elements-holder.qodef-responsive-mode-680.qodef-one-column-alignment-right .qodef-eh-item .qodef-eh-item-content {
    text-align: right;
  }

  .qodef-elements-holder.qodef-responsive-mode-680.qodef-one-column-alignment-center .qodef-eh-item .qodef-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-elements-holder.qodef-responsive-mode-480.qodef-two-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-480.qodef-three-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-480.qodef-four-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-480.qodef-five-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-480.qodef-six-columns .qodef-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .qodef-elements-holder.qodef-responsive-mode-480.qodef-one-column-alignment-left .qodef-eh-item .qodef-eh-item-content {
    text-align: left;
  }

  .qodef-elements-holder.qodef-responsive-mode-480.qodef-one-column-alignment-right .qodef-eh-item .qodef-eh-item-content {
    text-align: right;
  }

  .qodef-elements-holder.qodef-responsive-mode-480.qodef-one-column-alignment-center .qodef-eh-item .qodef-eh-item-content {
    text-align: center;
  }

  .qodef-elements-holder .qodef-eh-item-content {
    padding: 0 10px;
  }
}

/* ==========================================================================
   Elements Holder shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Frame Slider shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1440px) {
  .qodef-frame-slider-holder .qodef-fs-phone {
    background-size: contain;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-frame-slider-holder {
    padding: 74px 0;
  }

  .qodef-frame-slider-holder .qodef-fs-phone {
    height: 100%;
    width: 72%;
    background-size: 100% auto;
  }

  .qodef-frame-slider-holder .qodef-fs-slides img {
    width: 66%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-frame-slider-holder {
    padding: 57px 0 66px;
  }

  .qodef-frame-slider-holder .qodef-fs-phone {
    width: 76%;
  }
}

/* ==========================================================================
   Frame Slider shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Full Screen Image Slider shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1440px) {
  .qodef-full-screen-image-slider .qodef-fsis-content-image img {
    max-width: 440px;
  }
}

@media only screen and (max-width: 1280px) {
  .qodef-full-screen-image-slider .qodef-fsis-slider .owl-dots {
    bottom: calc(8% - 14px);
  }

  .qodef-full-screen-image-slider .qodef-fsis-thumb-nav {
    top: 16%;
    height: 68%;
  }

  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-image-hover .qodef-fsis-frame-top,
  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-image-hover .qodef-fsis-frame-bottom {
    height: 14%;
  }

  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-image-hover .qodef-fsis-frame-left,
  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-image-hover .qodef-fsis-frame-right {
    width: 14%;
  }

  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-active-image .qodef-fsis-frame-top,
  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-active-image .qodef-fsis-frame-bottom {
    height: 0;
  }

  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-active-image .qodef-fsis-frame-left,
  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-active-image .qodef-fsis-frame-right {
    width: 0;
  }

  .qodef-full-screen-image-slider .qodef-fsis-content-image img {
    max-width: 370px;
  }

  .qodef-full-screen-image-slider .qodef-fsis-frame-top,
  .qodef-full-screen-image-slider .qodef-fsis-frame-bottom {
    height: 16%;
  }

  .qodef-full-screen-image-slider .qodef-fsis-frame-right,
  .qodef-full-screen-image-slider .qodef-fsis-frame-left {
    width: 16%;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-full-screen-image-slider .qodef-fsis-content-image img {
    max-width: 340px;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-full-screen-image-slider .qodef-fsis-slider .owl-nav {
    display: none;
  }

  .qodef-full-screen-image-slider .qodef-fsis-slider .owl-dots {
    bottom: calc(5% - 14px);
  }

  .qodef-full-screen-image-slider .qodef-fsis-thumb-nav {
    display: none;
  }

  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-content-image-init .qodef-fsis-image-left {
    left: 2%;
  }

  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-content-image-init .qodef-fsis-image-right {
    right: 5%;
  }

  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-content-image-init .qodef-fsis-subtitle {
    margin: 15px 0 0;
  }

  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-image-hover .qodef-fsis-image-left {
    left: calc(2% - 10px);
  }

  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-image-hover .qodef-fsis-image-right {
    right: calc(5% - 10px);
  }

  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-image-hover .qodef-fsis-frame-top,
  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-image-hover .qodef-fsis-frame-bottom {
    height: 10%;
  }

  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-image-hover .qodef-fsis-frame-left,
  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-image-hover .qodef-fsis-frame-right {
    width: 10%;
  }

  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-active-image .qodef-fsis-image-left {
    left: calc(2% - 25px);
  }

  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-active-image .qodef-fsis-image-right {
    right: calc(5% - 25px);
  }

  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-active-image .qodef-fsis-frame-top,
  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-active-image .qodef-fsis-frame-bottom {
    height: 0;
  }

  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-active-image .qodef-fsis-frame-left,
  .qodef-full-screen-image-slider .qodef-fsis-item.qodef-fsis-active-image .qodef-fsis-frame-right {
    width: 0;
  }

  .qodef-full-screen-image-slider .qodef-fsis-frame-top,
  .qodef-full-screen-image-slider .qodef-fsis-frame-bottom {
    height: 10%;
  }

  .qodef-full-screen-image-slider .qodef-fsis-frame-right,
  .qodef-full-screen-image-slider .qodef-fsis-frame-left {
    width: 10%;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-full-screen-image-slider .qodef-fsis-slider .owl-dots {
    display: none;
  }

  .qodef-full-screen-image-slider .qodef-fsis-content-image {
    display: none;
  }
}

/* ==========================================================================
   Full Screen Image Slider shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Google Map shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .qodef-google-map-overlay {
    display: block;
  }
}

/* ==========================================================================
   Google Map shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Interactive link showcase shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1440px) {
  .qodef-ils-holder .qodef-ils-item-link {
    font-size: 100px;
  }
}

@media only screen and (max-width: 1366px) {
  .qodef-ils-holder .qodef-ils-item-link {
    font-size: 70px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-ils-holder .qodef-ils-item-link {
    font-size: 54px;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-ils-holder .qodef-ils-item-link {
    font-size: 40px;
    text-align: center;
  }
}

/* ==========================================================================
   Interactive link showcase shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Item Showcase shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  .qodef-item-showcase-holder .qodef-is-image {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    margin-top: 0 !important;
  }

  .qodef-item-showcase-holder .qodef-is-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .qodef-item-showcase-holder .qodef-is-item-holder.qodef-is-left-holder,
  .qodef-item-showcase-holder .qodef-is-item-holder.qodef-is-right-holder {
    float: right;
    width: 50%;
    padding: 0 0 0 50%;
  }

  .qodef-item-showcase-holder .qodef-is-item-holder.qodef-is-right-holder {
    margin: 36px 0 0;
  }

  .qodef-item-showcase-holder .qodef-is-item {
    margin: 36px 0 0;
  }

  .qodef-item-showcase-holder .qodef-is-item.qodef-is-left {
    text-align: left;
  }

  .qodef-item-showcase-holder .qodef-is-item.qodef-is-left .qodef-is-content {
    padding: 0 0 0 20px;
  }

  .qodef-item-showcase-holder .qodef-is-item:not(.qodef-appeared) {
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    transform: translateX(-40px);
  }
}

@media only screen and (max-width: 680px) {
  .qodef-item-showcase-holder .qodef-is-image {
    display: none;
  }

  .qodef-item-showcase-holder .qodef-is-item-holder.qodef-is-left-holder,
  .qodef-item-showcase-holder .qodef-is-item-holder.qodef-is-right-holder {
    float: none;
    width: 100%;
    padding: 0;
  }

  .qodef-item-showcase-holder .qodef-is-item {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(0) !important;
    -moz-transform: translateX(0) translateY(0) !important;
    transform: translateX(0) translateY(0) !important;
  }

  .qodef-item-showcase-holder .qodef-is-item.qodef-is-left .qodef-is-content,
  .qodef-item-showcase-holder .qodef-is-item.qodef-is-right .qodef-is-content {
    padding: 0;
  }
}

/* ==========================================================================
   Item Showcase shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Masonry Elements Holder shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1440px) {
  .qodef-masonry-elements-holder .qodef-masonry-elements-item.qodef-large-width,
  .qodef-masonry-elements-holder .qodef-masonry-elements-item.qodef-large-width-height {
    width: 50% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-masonry-elements-holder .qodef-masonry-elements-item {
    width: 50% !important;
  }

  .qodef-masonry-elements-holder .qodef-masonry-elements-item.qodef-large-width,
  .qodef-masonry-elements-holder .qodef-masonry-elements-item.qodef-large-width-height {
    width: 100% !important;
  }

  .qodef-masonry-elements-holder .qodef-masonry-elements-grid-sizer {
    width: 50% !important;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-masonry-elements-holder .qodef-masonry-elements-item {
    width: 100% !important;
  }

  .qodef-masonry-elements-holder .qodef-masonry-elements-item.qodef-large-width,
  .qodef-masonry-elements-holder .qodef-masonry-elements-item.qodef-large-width-height {
    width: 100% !important;
  }

  .qodef-masonry-elements-holder .qodef-masonry-elements-grid-sizer {
    width: 100% !important;
  }
}

/* ==========================================================================
   Masonry lements Holder shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Process shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .qodef-process-holder .qodef-process-inner {
    margin: 0 -50px;
  }

  .qodef-process-holder .qodef-process-item {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-process-holder .qodef-process-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .qodef-process-holder .qodef-process-item {
    width: 100% !important;
    float: none;
    padding: 0;
    text-align: inherit;
  }

  .qodef-process-holder .qodef-pi-content:after {
    display: none;
  }
}

/* ==========================================================================
   Process shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Section Title shortcode responsive styles - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .qodef-section-title-holder.qodef-st-two-columns {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-section-title-holder {
    padding: 0 !important;
  }

  .qodef-section-title-holder.qodef-st-two-columns .qodef-st-title,
  .qodef-section-title-holder.qodef-st-two-columns .qodef-st-text {
    width: 100%;
    float: none !important;
    text-align: initial !important;
  }

  .qodef-section-title-holder.qodef-st-two-columns .qodef-st-text {
    margin: 14px 0 0;
  }

  .qodef-section-title-holder.qodef-st-disable-title-break .qodef-st-title br {
    display: none;
  }
}

/* ==========================================================================
   Section Title shortcode responsive styles - end
   ========================================================================== */

/* ==========================================================================
   Split Section responsive styles - begin
   ========================================================================== */

@media only screen and (max-width: 1366px) {
  .qodef-ss-holder.qodef-ss-break-1366.qodef-ss-image-right .qodef-ss-image {
    position: relative;
    left: 0;
  }

  .qodef-ss-holder.qodef-ss-break-1366 .qodef-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }

  .qodef-ss-holder.qodef-ss-break-1366 .qodef-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }

  .qodef-ss-holder.qodef-ss-break-1366 .qodef-ss-image img {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-ss-holder.qodef-ss-break-1024.qodef-ss-image-right .qodef-ss-image {
    position: relative;
    left: 0;
  }

  .qodef-ss-holder.qodef-ss-break-1024 .qodef-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }

  .qodef-ss-holder.qodef-ss-break-1024 .qodef-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }

  .qodef-ss-holder.qodef-ss-break-1024 .qodef-ss-image img {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-ss-holder.qodef-ss-break-768.qodef-ss-image-right .qodef-ss-image {
    position: relative;
    left: 0;
  }

  .qodef-ss-holder.qodef-ss-break-768 .qodef-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }

  .qodef-ss-holder.qodef-ss-break-768 .qodef-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }

  .qodef-ss-holder.qodef-ss-break-768 .qodef-ss-image img {
    display: block;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-ss-holder.qodef-ss-break-680.qodef-ss-image-right .qodef-ss-image {
    position: relative;
    left: 0;
  }

  .qodef-ss-holder.qodef-ss-break-680 .qodef-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }

  .qodef-ss-holder.qodef-ss-break-680 .qodef-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }

  .qodef-ss-holder.qodef-ss-break-680 .qodef-ss-image img {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-ss-holder.qodef-ss-break-480.qodef-ss-image-right .qodef-ss-image {
    position: relative;
    left: 0;
  }

  .qodef-ss-holder.qodef-ss-break-480 .qodef-ss-content {
    left: 0;
    width: 100%;
    padding: 25px;
  }

  .qodef-ss-holder.qodef-ss-break-480 .qodef-ss-image {
    position: relative;
    width: 100%;
    background-image: none !important;
  }

  .qodef-ss-holder.qodef-ss-break-480 .qodef-ss-image img {
    display: block;
  }
}

/* ==========================================================================
   Split Section responsive styles - end
   ========================================================================== */

/* ==========================================================================
   Stacked Images responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 680px) {
  .qodef-stacked-images-holder.qodef-si-position-left .qodef-si-images {
    margin: 0 30px 30px 0;
  }

  .qodef-stacked-images-holder.qodef-si-position-left .qodef-si-images .qodef-si-stack-image {
    left: 30px;
  }

  .qodef-stacked-images-holder.qodef-si-position-right .qodef-si-images {
    margin: 0 0 30px 30px;
  }

  .qodef-stacked-images-holder.qodef-si-position-right .qodef-si-images .qodef-si-stack-image {
    right: 30px;
  }

  .qodef-stacked-images-holder .qodef-si-images.qodef-appeared .qodef-si-stack-image {
    top: 30px;
  }

  .qodef-stacked-images-holder .qodef-si-images .qodef-si-stack-image {
    top: 80px;
  }
}

/* ==========================================================================
   Stacked Images responsive style - end
   ========================================================================== */

/* ==========================================================================
   Tabs shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1366px) {
  .qodef-tabs.qodef-tabs-standard .qodef-tabs-nav li a {
    padding: 13px 57px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-tabs.qodef-tabs-standard .qodef-tabs-nav li a {
    padding: 7px 21px;
    text-align: center;
  }

  .qodef-tabs.qodef-tabs-boxed .qodef-tabs-nav li a {
    padding: 7px 18px;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-tabs.qodef-tabs-standard .qodef-tabs-nav li {
    display: block;
    float: none;
  }

  .qodef-tabs.qodef-tabs-standard .qodef-tabs-nav li a {
    width: 100%;
  }

  .qodef-tabs.qodef-tabs-boxed .qodef-tabs-nav li {
    display: block;
    float: none;
    margin: 0 0 8px;
  }

  .qodef-tabs.qodef-tabs-boxed .qodef-tabs-nav li a {
    width: 100%;
  }
}

/* ==========================================================================
   Tabs shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Vertical Split Slider shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  body.qodef-vss-initialized {
    overflow-y: visible !important;
    height: auto !important;
  }

  .qodef-vertical-split-slider,
  #multiscroll-nav {
    display: none;
  }

  .qodef-vss-responsive {
    display: block;
  }
}

/* ==========================================================================
   Vertical Split Slider shortcode responsive style - end
   ========================================================================== */

/*# sourceMappingURL=../../../../plugins/peggi-core/assets/css/shortcodes-map-responsive.css.map */
/* ==========================================================================
   Global partials
   ========================================================================== */

/* common mixins - start */

/* common mixins - end */

/* mixins styles - start */

/* mixins styles - end */

/* ==========================================================================
   Widgets responsive styles
   ========================================================================== */

/* ==========================================================================
   Instagram widget responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .qodef-instagram-feed:not(.qodef-instagram-carousel) li img {
    width: 100%;
  }

  .qodef-instagram-feed:not(.qodef-instagram-carousel).qodef-col-6 li {
    width: 25%;
  }

  .qodef-instagram-feed:not(.qodef-instagram-carousel).qodef-col-9 li {
    width: 25%;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-instagram-feed:not(.qodef-instagram-carousel).qodef-col-6 li {
    width: 33.33333%;
  }

  .qodef-instagram-feed:not(.qodef-instagram-carousel).qodef-col-9 li {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-instagram-feed:not(.qodef-instagram-carousel) li {
    width: 50% !important;
  }
}

/* ==========================================================================
   Instagram widget responsive style - end
   ========================================================================== */

/*# sourceMappingURL=../../../../plugins/peggi-instagram-feed/assets/css/widget-map-responsive.css.map */
/* ==========================================================================
   Global partials
   ========================================================================== */

/* common mixins - start */

/* common mixins - end */

/* mixins styles - start */

/* mixins styles - end */

/* ==========================================================================
   Shortcodes responsive styles
   ========================================================================== */

/*# sourceMappingURL=../../../../plugins/peggi-twitter-feed/assets/css/shortcodes-map-responsive.css.map */