@media only screen and (max-width: 1024px){
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
}

@media only screen and (min-width: 681px) and (max-width: 768px){
}

@media only screen and (max-width: 680px){
h1 { font-size: 40px;line-height: 48px;}h2 { font-size: 32px;line-height: 38px;}h3 { font-size: 27px;line-height: 32px;}}