/* ==========================================================================
   Search responsive styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
# Search template responsive style - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .qodef-search-page-holder article .qodef-post-image {
    width: 80px;
  }
  .qodef-search-page-holder article .qodef-post-title-area {
    padding: 0 0 0 105px;
    min-height: 80px;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-search-page-holder article .qodef-post-image {
    width: 60px;
  }
  .qodef-search-page-holder article .qodef-post-title-area {
    padding: 0 0 0 80px;
    min-height: 60px;
  }
}

/* ==========================================================================
# Search template responsive style - end
========================================================================== */
/* ==========================================================================
# Fullscreen search responsive - start
========================================================================== */
@media only screen and (max-width: 1280px) {
  .qodef-fullscreen-with-sidebar-search-holder .qodef-fullscreen-search-cell {
    padding: 50px 0 0;
  }
  .qodef-fullscreen-with-sidebar-search-holder .qodef-fullscreen-sidebar {
    margin: 20px 0 0;
  }
  .qodef-fullscreen-with-sidebar-search-holder .qodef-search-field {
    font-size: 70px;
  }
  .qodef-fullscreen-with-sidebar-search-holder .qodef-search-submit {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-fullscreen-with-sidebar-search-holder .qodef-form-holder-inner {
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-fullscreen-with-sidebar-search-holder .qodef-field-holder .qodef-search-field {
    font-size: 25px;
  }
  .qodef-fullscreen-with-sidebar-search-holder .qodef-search-submit {
    font-size: 25px;
    bottom: 25px !important;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-fullscreen-with-sidebar-search-holder .qodef-form-holder-inner {
    width: 80%;
  }
}

/* ==========================================================================
# Fullscreen search responsive - end
========================================================================== */
/* ==========================================================================
# Fullscreen search responsive - start
========================================================================== */
@media only screen and (max-width: 1024px) {
  .qodef-fullscreen-search-holder .qodef-form-holder-inner {
    width: 80%;
  }
}

/* ==========================================================================
# Fullscreen search responsive - end
========================================================================== */
/* ==========================================================================
   Search responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=search-map-responsive.css.map */
