/* ==========================================================================
   Search styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
# Search opener - begin
========================================================================== */
.qodef-search-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  line-height: 1;
  margin: 0 10px;
}

.qodef-search-opener .qodef-search-opener-wrapper {
  display: block;
}

.qodef-search-opener .qodef-search-opener-wrapper > * {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;
}

.qodef-search-opener .qodef-search-opener-wrapper > *:before {
  display: block;
  line-height: inherit;
}

.qodef-search-opener.qodef-search-opener-svg-path .qodef-search-opener-wrapper > * {
  vertical-align: middle;
}

.qodef-search-opener.qodef-search-opener-svg-path .qodef-search-opener-wrapper > *,
.qodef-search-opener.qodef-search-opener-svg-path .qodef-search-opener-wrapper path {
  fill: currentColor;
  stroke: currentColor;
}

.qodef-light-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-search-opener,
.qodef-light-header .qodef-top-bar .qodef-search-opener {
  color: #fff !important;
}

.qodef-light-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-search-opener:hover,
.qodef-light-header .qodef-top-bar .qodef-search-opener:hover {
  color: #d56a36 !important;
}

.qodef-dark-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-search-opener,
.qodef-dark-header .qodef-top-bar .qodef-search-opener {
  color: #4c494a !important;
}

.qodef-dark-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-search-opener:hover,
.qodef-dark-header .qodef-top-bar .qodef-search-opener:hover {
  color: #d56a36 !important;
}

/* ==========================================================================
# Search opener - end
========================================================================== */
/* ==========================================================================
# Search template style - begin
========================================================================== */
.qodef-search-page-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 80px;
}

.qodef-search-page-holder .qodef-search-page-form {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 30px;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-search-title {
  margin: 0 0 20px;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-search-label {
  display: block;
  font-size: 13px;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 10px;
  clear: both;
  border-bottom: 1px solid #ebebeb;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-column-left {
  display: table-cell;
  vertical-align: top;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-column-right {
  display: table-cell;
  width: 1%;
  text-align: left;
  vertical-align: top;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-search-field {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 20px 0 3px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-search-field::-webkit-input-placeholder {
  color: inherit;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-search-field:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-search-field::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-search-field:-ms-input-placeholder {
  color: inherit;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-search-submit {
  position: relative;
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0;
  font-size: 18px;
  color: #555555;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-search-submit:hover {
  color: #4c494a;
}

.qodef-search-page-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 30px 0;
  margin: 0;
  border-bottom: 1px solid #ebebeb;
}

.qodef-search-page-holder article.sticky .qodef-post-title a {
  color: #d56a36;
}

.qodef-search-page-holder article.page .qodef-post-title-area .qodef-post-info > div.qodef-post-info-category {
  display: none;
}

.qodef-search-page-holder article .qodef-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-search-page-holder article .qodef-post-image {
  display: block;
  float: left;
  width: 130px;
}

.qodef-search-page-holder article .qodef-post-image a, .qodef-search-page-holder article .qodef-post-image img {
  display: block;
}

.qodef-search-page-holder article .qodef-post-title-area {
  min-height: 130px;
  padding: 0 0 0 150px;
}

.qodef-search-page-holder article .qodef-post-title-area.qodef-no-thumbnail {
  padding: 0;
  min-height: inherit;
}

.qodef-search-page-holder article .qodef-post-title-area .qodef-post-title-area-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.qodef-search-page-holder article .qodef-post-title-area .qodef-post-title-area-inner .qodef-post-title {
  margin: 0;
}

.qodef-search-page-holder article .qodef-post-title-area .qodef-post-title-area-inner .qodef-post-excerpt {
  margin: 7px 0 0;
}

.qodef-search-page-holder .qodef-blog-pagination {
  margin: 50px 0 0;
}

/* ==========================================================================
# Search template style - end
========================================================================== */
/* ==========================================================================
# Fullscreen search - start
========================================================================== */
/* Fullscreen search general style - start
========================================================================== */
.qodef-fullscreen-with-sidebar-search-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 105;
  opacity: 0;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-fullscreen-search-table {
  display: table;
  width: 100%;
  height: 100%;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-fullscreen-search-cell {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: top;
  text-align: center;
  padding: 110px 0 0;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-fullscreen-search-inner:not(.qodef-grid) {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 1501px) {
  .qodef-fullscreen-with-sidebar-search-holder .qodef-fullscreen-search-inner:not(.qodef-grid) {
    width: 1500px;
    margin: 0 auto;
  }
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-form-holder-inner {
  position: relative;
  width: 100%;
  margin: auto;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-field-holder {
  display: block;
  position: relative;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-search-field {
  position: relative;
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0 0 0 15px;
  background: transparent;
  outline: none;
  font-family: inherit;
  font-size: 89px;
  color: #d9cac1;
  line-height: 1;
  letter-spacing: -0.02em;
  border-left: 6px solid #d9cac1;
  font-weight: 600;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-search-field:focus {
  border-bottom: 0;
  color: #4c494a;
  border-color: #4c494a;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-search-submit {
  position: absolute;
  right: 0;
  bottom: 40px;
  width: auto;
  color: #d9cac1;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-search-submit.qodef-search-submit-icon-pack {
  font-size: 64px;
  line-height: 1em;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-search-submit.qodef-search-submit-svg-path > *,
.qodef-fullscreen-with-sidebar-search-holder .qodef-search-submit.qodef-search-submit-svg-path path {
  fill: currentColor;
  stroke: currentColor;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-search-submit:hover {
  color: #4c494a;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-search-close {
  position: absolute;
  top: 40px;
  right: 75px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-search-close.qodef-search-close-icon-pack {
  font-size: 26px;
  line-height: 1em;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-search-close.qodef-search-close-icon-pack span {
  display: block;
  line-height: inherit;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-search-close.qodef-search-close-icon-pack span:before {
  display: block;
  line-height: inherit;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-search-close.qodef-search-close-svg-path > * {
  vertical-align: middle;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-search-close.qodef-search-close-svg-path > *,
.qodef-fullscreen-with-sidebar-search-holder .qodef-search-close.qodef-search-close-svg-path path {
  fill: currentColor;
  stroke: currentColor;
}

.admin-bar .qodef-fullscreen-with-sidebar-search-holder .qodef-search-close {
  top: 72px;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-search-close:hover {
  color: #4c494a;
}

.qodef-fullscreen-with-sidebar-search-holder .qodef-fullscreen-sidebar {
  margin: 26px 0 0;
}

/* Fullscreen search general style - end
========================================================================== */
/* Fullscreen search fade style - start
========================================================================== */
.qodef-search-fade .qodef-fullscreen-with-sidebar-search-holder {
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  z-index: 112;
  box-sizing: border-box;
}

.qodef-search-fade .qodef-fullscreen-with-sidebar-search-holder .qodef-fullscreen-search-table {
  background-color: #d56a36;
}

.qodef-search-fade-out.qodef-search-fade .qodef-fullscreen-with-sidebar-search-holder {
  -webkit-animation: search_fade_out 0.2s ease-out both;
  -moz-animation: search_fade_out 0.2s ease-out both;
  animation: search_fade_out 0.2s ease-out both;
}

.qodef-search-fade-in.qodef-search-fade .qodef-fullscreen-with-sidebar-search-holder.qodef-animate {
  -webkit-animation: search_fade_in 0.3s ease both;
  -moz-animation: search_fade_in 0.3s ease both;
  animation: search_fade_in 0.3s ease both;
}

.qodef-search-fade .qodef-fullscreen-with-sidebar-search-holder.qodef-animate .qodef-search-close {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes search_fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes search_fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes search_fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes search_fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

/* Fullscreen search fade style - end
========================================================================== */
/* ==========================================================================
# Fullscreen search - end
========================================================================== */
/* ==========================================================================
# Fullscreen search - start
========================================================================== */
/* Fullscreen search general style - start
========================================================================== */
.qodef-fullscreen-search-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 105;
  opacity: 0;
}

.qodef-fullscreen-search-holder .qodef-fullscreen-search-table {
  display: table;
  width: 100%;
  height: 100%;
}

.qodef-fullscreen-search-holder .qodef-fullscreen-search-cell {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.qodef-fullscreen-search-holder .qodef-form-holder-inner {
  position: relative;
  width: 38%;
  margin: auto;
  background-color: #fff;
  padding: 33px 42px;
  box-sizing: border-box;
}

.qodef-fullscreen-search-holder .qodef-field-holder {
  display: block;
  position: relative;
}

.qodef-fullscreen-search-holder .qodef-search-field {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: .09em;
  color: #4c494a;
  line-height: 2em;
  background: transparent;
  border: 0;
  border-radius: 0;
  outline: none;
}

.qodef-fullscreen-search-holder .qodef-search-submit {
  position: absolute;
  right: 36px;
  top: 50%;
  width: auto;
  color: #4c494a;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.qodef-fullscreen-search-holder .qodef-search-submit:hover {
  color: #d56a36;
}

.qodef-fullscreen-search-holder .qodef-search-submit.qodef-search-submit-icon-pack {
  font-size: 26px;
  line-height: 1em;
}

.qodef-fullscreen-search-holder .qodef-search-submit.qodef-search-submit-svg-path > *,
.qodef-fullscreen-search-holder .qodef-search-submit.qodef-search-submit-svg-path path {
  fill: currentColor;
  stroke: currentColor;
}

.qodef-fullscreen-search-holder .qodef-search-close {
  position: absolute;
  top: 33px;
  right: 70px;
  margin-top: -10px;
  margin-right: -10px;
  padding: 10px;
  color: #555555;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  background-color: #fff;
}

.admin-bar .qodef-fullscreen-search-holder .qodef-search-close {
  top: 72px;
}

.qodef-fullscreen-search-holder .qodef-search-close:hover {
  color: #4c494a;
}

.qodef-fullscreen-search-holder .qodef-search-close.qodef-search-close-icon-pack {
  font-size: 25px;
  line-height: 1em;
}

.qodef-fullscreen-search-holder .qodef-search-close.qodef-search-close-icon-pack * {
  display: block;
  line-height: inherit;
}

.qodef-fullscreen-search-holder .qodef-search-close.qodef-search-close-icon-pack *:before {
  display: block;
  line-height: inherit;
}

.qodef-fullscreen-search-holder .qodef-search-close.qodef-search-close-svg-path > * {
  vertical-align: middle;
}

.qodef-fullscreen-search-holder .qodef-search-close.qodef-search-close-svg-path > *,
.qodef-fullscreen-search-holder .qodef-search-close.qodef-search-close-svg-path path {
  fill: currentColor;
  stroke: currentColor;
}

/* Fullscreen search general style - end
========================================================================== */
/* Fullscreen search fade style - start
========================================================================== */
.qodef-search-fade .qodef-fullscreen-search-holder {
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  z-index: 112;
  box-sizing: border-box;
}

.qodef-search-fade .qodef-fullscreen-search-holder .qodef-fullscreen-search-table {
  background-color: rgba(255, 255, 255, 0.98);
}

.qodef-search-fade-out.qodef-search-fade .qodef-fullscreen-search-holder {
  -webkit-animation: search_fade_out 0.2s ease-out both;
  -moz-animation: search_fade_out 0.2s ease-out both;
  animation: search_fade_out 0.2s ease-out both;
}

.qodef-search-fade-in.qodef-search-fade .qodef-fullscreen-search-holder.qodef-animate {
  -webkit-animation: search_fade_in 0.3s ease both;
  -moz-animation: search_fade_in 0.3s ease both;
  animation: search_fade_in 0.3s ease both;
}

.qodef-search-fade .qodef-fullscreen-search-holder.qodef-animate .qodef-search-close {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes search_fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes search_fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes search_fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes search_fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

/* Fullscreen search fade style - end
========================================================================== */
/* ==========================================================================
# Fullscreen search - end
========================================================================== */
/* ==========================================================================
# Slide From Header Bottom search general style - start
========================================================================== */
.qodef-slide-from-header-bottom-holder {
  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
  display: none;
  padding: 25px;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ebebeb;
  overflow: hidden;
  z-index: 9999;
  box-sizing: border-box;
}

.qodef-fixed-header-appear .qodef-slide-from-header-bottom-holder,
.qodef-sticky-header-appear .qodef-slide-from-header-bottom-holder,
.qodef-mobile-header.mobile-header-appear .qodef-slide-from-header-bottom-holder {
  position: fixed;
}

.qodef-slide-from-header-bottom-holder .qodef-form-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
}

.qodef-slide-from-header-bottom-holder .qodef-form-holder .qodef-search-field,
.qodef-slide-from-header-bottom-holder .qodef-form-holder .qodef-search-submit {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  margin: 0;
  height: 44px;
  line-height: 42px;
  color: #555555;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.qodef-slide-from-header-bottom-holder .qodef-form-holder .qodef-search-field {
  width: calc(100% - 40px);
  padding: 0 10px 0 20px;
  font-family: inherit;
}

.qodef-slide-from-header-bottom-holder .qodef-form-holder .qodef-search-field:focus {
  color: #4c494a;
}

.qodef-slide-from-header-bottom-holder .qodef-form-holder .qodef-search-submit {
  width: 40px;
  padding: 0 12px 0 0;
  cursor: pointer;
}

.qodef-slide-from-header-bottom-holder .qodef-form-holder .qodef-search-submit:hover {
  color: #4c494a;
}

.qodef-slide-from-header-bottom-holder .qodef-form-holder .qodef-search-submit.qodef-search-submit-icon-pack {
  font-size: 15px;
  line-height: 1em;
}

.qodef-slide-from-header-bottom-holder .qodef-form-holder .qodef-search-submit.qodef-search-submit-icon-pack * {
  display: block;
  line-height: inherit;
}

.qodef-slide-from-header-bottom-holder .qodef-form-holder .qodef-search-submit.qodef-search-submit-icon-pack *:before {
  display: block;
  line-height: inherit;
}

.qodef-slide-from-header-bottom-holder .qodef-form-holder .qodef-search-submit.qodef-search-submit-svg-path > * {
  vertical-align: middle;
}

.qodef-slide-from-header-bottom-holder .qodef-form-holder .qodef-search-submit.qodef-search-submit-svg-path > *,
.qodef-slide-from-header-bottom-holder .qodef-form-holder .qodef-search-submit.qodef-search-submit-svg-path path {
  fill: currentColor;
  stroke: currentColor;
}

/* ==========================================================================
# Slide From Header Bottom search general style - end
========================================================================== */
/* ==========================================================================
# Slide From Window top search general style - start
========================================================================== */
.qodef-search-slides-from-window-top .qodef-top-bar,
.qodef-search-slides-from-window-top .qodef-page-header,
.qodef-search-slides-from-window-top .qodef-fixed-wrapper.fixed,
.qodef-search-slides-from-window-top .qodef-mobile-header {
  top: 0;
  -webkit-transition: top 0.25s ease-out;
  -moz-transition: top 0.25s ease-out;
  transition: top 0.25s ease-out;
}

.qodef-search-slides-from-window-top.qodef-search-open .qodef-top-bar,
.qodef-search-slides-from-window-top.qodef-search-open .qodef-page-header,
.qodef-search-slides-from-window-top.qodef-search-open .qodef-fixed-wrapper.fixed,
.qodef-search-slides-from-window-top.qodef-search-open .qodef-mobile-header {
  top: 50px;
}

.qodef-search-slides-from-window-top.qodef-search-open .qodef-search-slide-window-top {
  height: 50px;
}

.qodef-search-slides-from-window-top.qodef-search-open.qodef-sticky-up-mobile-header .qodef-animate-mobile-header .qodef-mobile-header-inner,
.qodef-search-slides-from-window-top.qodef-search-open .qodef-sticky-header.header-appear {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  transform: translateY(50px);
}

.qodef-search-slides-from-window-top.qodef-search-open.admin-bar.qodef-sticky-up-mobile-header .qodef-animate-mobile-header .qodef-mobile-header-inner,
.qodef-search-slides-from-window-top.qodef-search-open.admin-bar .qodef-sticky-header.header-appear {
  -webkit-transform: translateY(82px);
  -moz-transform: translateY(82px);
  transform: translateY(82px);
}

.qodef-search-slide-window-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  margin: 0;
  color: #fff;
  background-color: #4c494a;
  overflow: hidden;
  z-index: 201;
  -webkit-transition: top 0.25s ease-out, height 0.25s ease-out;
  -moz-transition: top 0.25s ease-out, height 0.25s ease-out;
  transition: top 0.25s ease-out, height 0.25s ease-out;
}

.admin-bar .qodef-search-slide-window-top {
  top: 32px;
}

.qodef-search-slide-window-top .qodef-grid .qodef-search-form-inner {
  padding: 0;
}

.qodef-search-slide-window-top .qodef-search-form-inner {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}

.qodef-search-slide-window-top .qodef-search-submit {
  color: #fff;
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 40px;
}

.qodef-search-slide-window-top .qodef-search-submit.qodef-search-submit-icon-pack {
  font-size: 14px;
  line-height: 1;
}

.qodef-search-slide-window-top .qodef-search-submit.qodef-search-submit-icon-pack > * {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.qodef-search-slide-window-top .qodef-search-submit.qodef-search-submit-svg-path > * {
  vertical-align: middle;
}

.qodef-search-slide-window-top .qodef-search-submit.qodef-search-submit-svg-path > *,
.qodef-search-slide-window-top .qodef-search-submit.qodef-search-submit-svg-path path {
  fill: currentColor;
  stroke: currentColor;
}

.qodef-search-slide-window-top .qodef-search-close {
  color: #fff;
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 40px;
}

.qodef-search-slide-window-top .qodef-search-close.qodef-search-close-icon-pack {
  font-size: 20px;
  line-height: 1em;
}

.qodef-search-slide-window-top .qodef-search-close.qodef-search-close-icon-pack span {
  display: block;
  line-height: inherit;
}

.qodef-search-slide-window-top .qodef-search-close.qodef-search-close-icon-pack span:before {
  display: block;
  line-height: inherit;
}

.qodef-search-slide-window-top .qodef-search-close.qodef-search-close-svg-path > * {
  vertical-align: middle;
}

.qodef-search-slide-window-top .qodef-search-close.qodef-search-close-svg-path > *,
.qodef-search-slide-window-top .qodef-search-close.qodef-search-close-svg-path path {
  fill: currentColor;
  stroke: currentColor;
}

.qodef-search-slide-window-top .qodef-swt-search-field {
  padding: 0 30px;
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.qodef-search-slide-window-top .qodef-swt-search-field:focus {
  color: #fff;
}

/* ==========================================================================
# Slide From Window top search general style - end
========================================================================== */
/* ==========================================================================
   Search styles - end
   ========================================================================== */

/*# sourceMappingURL=search-map.css.map */
