/* ==========================================================================
   Events styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
.qodef-events-list {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-events-list .qodef-item-space img {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.21, 0.6, 0.44, 1);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.21, 0.6, 0.44, 1);
  transition: transform 0.4s cubic-bezier(0.21, 0.6, 0.44, 1);
}

.qodef-events-list .qodef-item-space:hover .qodef-events-list-item-image-holder a:after {
  opacity: 1;
}

.qodef-events-list .qodef-item-space:hover .qodef-events-list-item-image-holder img {
  display: block;
  -webkit-transform: scale(1.05) translateZ(0);
  -moz-transform: scale(1.05) translateZ(0);
  transform: scale(1.05) translateZ(0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.21, 0.6, 0.44, 2.18);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.21, 0.6, 0.44, 2.18);
  transition: transform 0.4s cubic-bezier(0.21, 0.6, 0.44, 2.18);
}

.qodef-events-list.qodef-el-list .qodef-events-list-item-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 30px;
  box-sizing: border-box;
  background-color: #fff;
}

.qodef-events-list.qodef-el-list .qodef-events-list-item-content {
  padding: 0 21px;
  box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
  .qodef-events-list.qodef-el-list .qodef-events-list-item-holder {
    padding: 15px;
  }
  .qodef-events-list.qodef-el-list .qodef-events-list-item-content {
    padding: 0;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-events-list.qodef-el-list .qodef-events-list-item-holder {
    padding: 30px;
  }
}

.qodef-events-list.qodef-el-simple .qodef-events-list-item-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-events-list.qodef-el-simple .qodef-events-list-item-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 45px 35px;
  box-sizing: border-box;
  background-color: #fff;
}

.qodef-events-list.qodef-el-simple .qodef-events-list-item-info {
  margin-top: 5px;
}

.qodef-events-list.qodef-el-simple .qodef-events-list-item-date-holder {
  top: 0;
  left: 0;
  bottom: auto;
}

.qodef-events-list.qodef-el-split .qodef-item-space {
  margin-bottom: -10px;
}

.qodef-events-list.qodef-el-split .qodef-item-space:hover .qodef-events-list-item-holder {
  background-color: #fff;
}

.qodef-events-list.qodef-el-split .qodef-item-space:nth-child(2n+0) {
  margin-top: 50px;
}

.qodef-events-list.qodef-el-split.qodef-skin-dark .qodef-item-space:hover .qodef-events-list-item-holder {
  background-color: #ebebeb;
}

.qodef-events-list.qodef-el-split .qodef-events-list-item-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 30px;
  box-sizing: border-box;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.qodef-events-list.qodef-el-split .qodef-events-list-item-image-holder,
.qodef-events-list.qodef-el-split .qodef-events-list-item-content {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

@media only screen and (max-width: 680px) {
  .qodef-events-list.qodef-el-split .qodef-events-list-item-image-holder,
  .qodef-events-list.qodef-el-split .qodef-events-list-item-content {
    display: block;
    width: 100%;
  }
}

.qodef-events-list.qodef-el-split .qodef-events-list-item-content {
  padding-left: 27px;
  box-sizing: border-box;
}

@media only screen and (max-width: 680px) {
  .qodef-events-list.qodef-el-split .qodef-events-list-item-content {
    padding-left: 22px;
  }
}

.qodef-events-list.qodef-el-split .qodef-events-list-item-title-holder {
  padding-right: 45px;
  box-sizing: border-box;
}

.qodef-events-list.qodef-el-table .qodef-el-item-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  table-layout: initial;
  margin-bottom: 30px;
}

.qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-date-holder {
  display: inline-table;
  vertical-align: middle;
}

.qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-date-holder .qodef-el-item-date {
  min-width: 126px;
}

.qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-date-holder .qodef-el-item-date-day {
  min-height: 103px;
  margin: 0;
  line-height: 103px;
  letter-spacing: .05em;
}

.qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-date-holder .qodef-el-item-date-day-title {
  display: block;
  height: 35px;
  margin-top: 2px;
  font-size: 11px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #4c494a;
}

.qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-date-holder .qodef-el-item-date-day-title,
.qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-date-holder .qodef-el-item-date-day {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
}

.qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder {
  display: inline-table;
  margin-left: 2px;
  vertical-align: middle;
  width: calc(100% - 128px);
  min-height: 140px;
  background: #fff;
}

.qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-title {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 0 30px 0 60px;
  width: 42%;
}

.qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-date-and-time-holder {
  padding: 0 30px;
}

.qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-location-and-price-holder {
  padding: 0 60px 0 30px;
}

.qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-location-and-price-holder .qodef-el-item-price.qodef-free {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;
  padding: 5px 12px;
  box-sizing: border-box;
  background-color: #d56a36;
  color: #fff;
  line-height: 1.8em;
}

.qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-date-and-time-holder,
.qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-location-and-price-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 29%;
}

.qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-date-and-time-holder .qodef-el-item-time {
  padding-top: 13px;
}

.qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-date-and-time-holder .qodef-events-item-info-icon {
  font-size: 15px;
  margin-right: 15px;
}

.qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-location-and-price-holder .qodef-events-item-info-icon {
  font-size: 15px;
  margin-right: 13px;
}

.qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-location-and-price-holder .qodef-el-item-price-holder {
  padding-top: 13px;
}

@media only screen and (min-width: 681px) and (max-width: 1024px) {
  .qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-date-holder .qodef-el-item-date {
    min-width: 90px;
  }
  .qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder {
    width: calc(100% - 92px);
  }
  .qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-title {
    display: block;
    padding: 0 30px;
    width: auto;
    margin: 15px 0;
  }
  .qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-date-and-time-holder,
  .qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-location-and-price-holder {
    display: inline-block;
    width: 40%;
    padding: 0 0 0 30px;
  }
}

@media only screen and (max-width: 680px) {
  .qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-date-holder {
    position: absolute;
    display: block;
    right: 0;
  }
  .qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-date-holder .qodef-el-item-date {
    min-width: 40px;
    padding: 0 5px;
  }
  .qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-date-holder .qodef-el-item-date .qodef-el-item-date-day {
    min-height: 25px;
    margin: 10px 0 0;
    line-height: 25px;
    font-size: 18px;
  }
  .qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-date-holder .qodef-el-item-date .qodef-el-item-date-day-title {
    margin-top: 0;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
  }
  .qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder {
    display: inline-block;
    width: 100%;
    margin-left: 0;
  }
  .qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-title {
    display: block;
    margin: 0;
    padding: 10px 70px 10px 20px;
    width: auto;
  }
  .qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-date-and-time-holder {
    display: block;
    width: 90%;
    padding: 20px 20px 10px;
  }
  .qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-date-and-time-holder .qodef-el-item-time {
    padding-top: 5px;
  }
  .qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-location-and-price-holder {
    display: inline-block;
    width: 90%;
    padding: 0 20px 20px;
  }
  .qodef-events-list.qodef-el-table .qodef-el-item-holder .qodef-el-item-conntent-holder .qodef-el-item-location-and-price-holder .qodef-el-item-price-holder {
    padding-top: 5px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-events-list.qodef-grid-list.qodef-el-split.qodef-two-columns .qodef-item-space {
    width: 100% !important;
  }
  .qodef-events-list.qodef-grid-list.qodef-el-split.qodef-two-columns .qodef-item-space:nth-child(2n+0) {
    margin-top: 0;
  }
}

.qodef-events-list-item {
  margin-bottom: 50px;
}

.qodef-events-list-item-image-holder {
  position: relative;
  overflow: hidden;
}

.qodef-events-list-item-image-holder img {
  display: block;
  -webkit-transform: scale(1) translateZ(0);
  -moz-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  transition: transform 0.3s ease;
}

.qodef-events-list-item-image-holder a {
  display: block;
}

.qodef-events-list-item-image-holder a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  opacity: 0;
  z-index: 2;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.qodef-events-list-item-content {
  margin-top: 26px;
}

.qodef-events-list-item-date-holder {
  position: absolute;
  top: 22px;
  left: 22px;
  width: 54px;
  height: 80px;
  text-align: center;
  box-sizing: border-box;
  z-index: 5;
}

.qodef-events-list-item-date-holder .qodef-events-list-item-date-inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.qodef-events-list-item-date-holder .qodef-events-list-item-date-day {
  display: block;
  background-color: #fff;
  margin: 0;
  padding: 15px 10px;
  box-sizing: border-box;
}

.qodef-events-list-item-date-holder .qodef-events-list-item-date-month {
  display: block;
  margin-top: 2px;
  background-color: #fff;
  color: #4c494a;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;
  padding: 1px 10px;
  box-sizing: border-box;
}

.qodef-events-list-item-title-holder {
  position: relative;
}

.qodef-events-list-item-title-holder .qodef-events-list-item-title {
  margin: 0;
}

@media only screen and (max-width: 680px) {
  .qodef-events-list-item-title-holder {
    padding-right: 0;
  }
  .qodef-events-list-item-title-holder .qodef-events-list-item-price {
    position: relative;
    top: auto;
    margin-top: 14px;
  }
}

.qodef-events-list-item-info {
  margin-top: 16px;
  padding: 0;
}

.qodef-events-list-item-info > div {
  padding: 4px 0;
}

.qodef-events-list-item-info span {
  display: inline-block;
  vertical-align: top;
}

.qodef-events-list-item-info .qodef-events-item-info-icon {
  position: relative;
  top: 1px;
  width: 22px;
  font-size: 15px;
}

.qodef-events-list-item-info .qodef-events-item-info-icon * {
  display: block;
  line-height: inherit;
}

.qodef-events-list-item-info .qodef-events-list-item-location-holder {
  margin-top: 1px;
}

.qodef-events-list-item-info .qodef-events-list-item-price {
  font-size: 16px;
  color: #4c494a;
  letter-spacing: 0.04em;
  margin-top: 10px;
}

.qodef-events-list-item-info .qodef-events-list-item-price.qodef-free {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;
  padding: 1px 12px;
  box-sizing: border-box;
  background-color: #d56a36;
  color: #fff;
}

#tribe-events-content-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 20px;
  /* #Content styles - start
	   ========================================================================== */
  /* #Content styles - end
	   ========================================================================== */
}

#tribe-events-content-wrapper #tribe-bar-form {
  background: none;
  /* #Events filter styles - start
	   ========================================================================== */
  /* #Filter styles - end
		   ========================================================================== */
  /* #View as styles - start
	   ========================================================================== */
  /* #View as styles - end
	   ========================================================================== */
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  float: none;
  margin: 10px 0 30px;
  right: 0;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters input[type=text] {
  border: 1px solid #ebebeb;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters .tribe-bar-filters-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters .tribe-bar-filters-inner > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 0;
  box-sizing: border-box;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-date-filter {
  width: calc((100% - 200px) / 2);
  padding-right: 30px;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-search-filter {
  width: calc((100% - 200px) / 2);
  padding-right: 30px;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 200px;
  margin: 0;
  z-index: 2;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters label {
  display: block;
  margin: 0 0 21px;
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters input[type=text] {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 46px;
  margin-bottom: 20px;
  padding: 12px 25px;
  font-size: 11px;
  outline: none;
  resize: none;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  -moz-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters input[type=text]::-webkit-input-placeholder {
  color: inherit;
  font-style: normal;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters input[type=text]:-moz-placeholder {
  color: inherit;
  font-style: normal;
  opacity: 1;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters input[type=text]::-moz-placeholder {
  color: inherit;
  font-style: normal;
  opacity: 1;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters input[type=text]:-ms-input-placeholder {
  color: inherit;
  font-style: normal;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters input[type=text]:focus {
  border-color: #d56a36;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters .tribe-bar-submit .tribe-events-button {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-top: 30px;
  padding: 13px 25px;
  color: #fff;
  background-color: #d56a36;
  border: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: .15em;
  outline: none;
  resize: none;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

#tribe-events-content-wrapper #tribe-bar-form .tribe-bar-filters .tribe-bar-submit .tribe-events-button:hover {
  color: #fff;
  background-color: #f39e59;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views {
  position: relative;
  display: inline-block;
  width: 100% !important;
  vertical-align: middle;
  float: none;
  left: 0;
  padding: 0 0 16px;
  margin: 0 0 37px;
  border-bottom: 1px solid #ebebeb;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-inner {
  padding: 0;
  background: none;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-inner > label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0 16px 0 0;
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-inner > label:after {
  content: ':';
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-select {
  display: none;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-list {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: auto;
  float: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: auto;
  float: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a {
  color: #d56a36;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option:last-child a {
  margin: 0;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
  padding: 0;
  margin: 0 20px 0 0;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: .15em;
  background-color: transparent;
}

#tribe-events-content-wrapper #tribe-bar-form #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a span {
  min-height: inherit;
  padding: 0;
  background: none;
}

#tribe-events-content-wrapper #tribe-events-content {
  position: relative;
  padding: 0;
  margin: 0;
}

#tribe-events-content-wrapper #tribe-events-content .tribe-events-page-title {
  margin: 0 0 44px;
  padding: 0 150px;
  font-size: 35px;
  font-weight: 500;
}

#tribe-events-content-wrapper #tribe-events-content .tribe-events-notices {
  background: transparent;
  border-radius: 0;
  border: 1px solid #efefef;
  color: #555555;
  margin: 10px 0 18px;
  padding: 12px 35px 12px 14px;
  text-shadow: none;
}

#tribe-events-content-wrapper #tribe-events-content .tribe-events-sub-nav .tribe-events-nav-previous a,
#tribe-events-content-wrapper #tribe-events-content .tribe-events-sub-nav .tribe-events-nav-next a {
  position: relative;
  font-size: 14px;
  font-weight: 300;
}

#tribe-events-content-wrapper #tribe-events-content .tribe-events-sub-nav .tribe-events-nav-previous span,
#tribe-events-content-wrapper #tribe-events-content .tribe-events-sub-nav .tribe-events-nav-next span {
  display: none;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .tribe-events-nav-previous a:before,
#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .tribe-events-nav-next a:after, #tribe-events-content-wrapper #tribe-events-content.tribe-events-month .tribe-events-nav-previous a:before,
#tribe-events-content-wrapper #tribe-events-content.tribe-events-month .tribe-events-nav-next a:after, #tribe-events-content-wrapper #tribe-events-content.tribe-events-day .tribe-events-nav-previous a:before,
#tribe-events-content-wrapper #tribe-events-content.tribe-events-day .tribe-events-nav-next a:after {
  position: relative;
  top: 3px;
  font-family: 'ElegantIcons';
  font-size: 19px;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .tribe-events-nav-next a:after, #tribe-events-content-wrapper #tribe-events-content.tribe-events-month .tribe-events-nav-next a:after, #tribe-events-content-wrapper #tribe-events-content.tribe-events-day .tribe-events-nav-next a:after {
  content: '\35';
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .tribe-events-nav-previous a:before, #tribe-events-content-wrapper #tribe-events-content.tribe-events-month .tribe-events-nav-previous a:before, #tribe-events-content-wrapper #tribe-events-content.tribe-events-day .tribe-events-nav-previous a:before {
  content: '\34';
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-month .tribe-events-sub-nav .tribe-events-nav-previous,
#tribe-events-content-wrapper #tribe-events-content.tribe-events-month .tribe-events-sub-nav .tribe-events-nav-next {
  position: absolute;
  top: 3px;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-month .tribe-events-sub-nav .tribe-events-nav-previous {
  left: 0;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-month .tribe-events-sub-nav .tribe-events-nav-next {
  right: 0;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar {
  margin: 20px 0 10px;
  border-top: 1px solid #ebebeb;
  font-size: 11px;
  font-weight: 400;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title a {
  color: #4c494a;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured {
  background-color: #d56a36;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured h3.tribe-events-month-event-title a {
  color: #fff;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar thead tr {
  border: 0;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar thead th {
  color: #4c494a;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;
  background-color: #fff;
  padding: 25px 10px;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody tr {
  border: 0;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody td {
  height: 136px;
  border-color: #ebebeb;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody td:hover {
  box-shadow: none;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody td.tribe-events-has-events div[id*=tribe-events-daynum-] {
  color: #4c494a;
  background-color: #f3ded4;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody td.tribe-events-present div[id*=tribe-events-daynum-] {
  color: #fff;
  background-color: #f3ded4;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody td div[id*=tribe-events-daynum-] {
  padding: 12px 14px;
  text-align: left;
  color: #4c494a;
  background-color: #f8f8f8;
  font-size: 18px;
  font-weight: 400;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody td div[id*=tribe-events-daynum-] a {
  font-size: 18px;
  line-height: inherit;
  font-weight: 500;
  color: inherit;
  background-color: inherit;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody td div[id*=tribe-events-daynum-] a:hover {
  color: #d56a36;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe_events:hover .tribe-events-tooltip {
  opacity: 1 !important;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-tooltip {
  display: block !important;
  bottom: 100% !important;
  width: 290px;
  padding: 30px 20px;
  text-align: left;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
  opacity: 0 !important;
  visibility: hidden;
  -webkit-transform: translate3d(0, 10px, 0);
  -moz-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  -webkit-transition: transform 0.3s cubic-bezier(0.27, -0.22, 0.26, 1.37), opacity 0.3s ease, visibility 0.3s;
  -moz-transition: transform 0.3s cubic-bezier(0.27, -0.22, 0.26, 1.37), opacity 0.3s ease, visibility 0.3s;
  transition: transform 0.3s cubic-bezier(0.27, -0.22, 0.26, 1.37), opacity 0.3s ease, visibility 0.3s;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-tooltip .tribe-events-arrow {
  width: 0;
  height: 0;
  bottom: -15px;
  background: none;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-tooltip .tribe-events-arrow:after {
  content: '';
  position: absolute;
  left: -10px;
  bottom: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-tooltip .tribe-events-event-thumb {
  float: none;
  padding: 0;
  margin-top: 22px;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-tooltip .tribe-events-event-thumb img {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: inherit;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-tooltip .tribe-event-description {
  display: none;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-tooltip h4 {
  margin-bottom: 10px;
  color: #4c494a;
  font-weight: 500;
  letter-spacing: .08em;
}

#tribe-events-content-wrapper #tribe-events-content table.tribe-events-calendar tbody .tribe-events-tooltip .tribe-events-abbr {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #555555;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .tribe-events-notices {
  background: transparent;
  border-radius: 0;
  border: 1px solid #efefef;
  color: #555555;
  margin: 10px 0 18px;
  padding: 12px 35px 12px 14px;
  text-shadow: none;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .tribe-events-loop {
  max-width: inherit;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .tribe-events-loop .tribe-events-list-separator-month {
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: .08em;
  font-weight: 500;
  text-transform: uppercase;
  color: #4c494a;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .tribe-events-loop .tribe-events-content p {
  max-height: 50px;
  overflow: hidden;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .type-tribe_events {
  padding: 60px 0 0;
  margin: 60px 0 0;
  border-top: 1px solid #ebebeb;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .type-tribe_events.tribe-events-first {
  padding: 12px 0 0;
  border: 0;
}

@media only screen and (min-width: 769px) {
  #tribe-events-content-wrapper #tribe-events-content.tribe-events-list .type-tribe_events.tribe-events-last {
    margin-bottom: 60px;
  }
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .qodef-events-list-item-image-holder img {
  width: 100%;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .qodef-events-list-item-title {
  margin-bottom: 10px;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .qodef-events-single-meta-item {
  margin-bottom: 10px;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .qodef-events-single-meta-item > * {
  display: inline-block;
  vertical-align: top;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .qodef-events-single-meta-icon {
  margin-right: 5px;
  font-size: 15px;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .qodef-events-single-meta-icon * {
  display: block;
  line-height: inherit;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .qodef-events-list-item-excerpt {
  margin: 29px 0 0;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .qodef-events-list-item-excerpt p {
  margin: 0;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-list .tribe-events-list-event-description .tribe-events-read-more {
  font-size: 11px !important;
  letter-spacing: .15em !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-mounth .tribe-events-calendar td .type-tribe_events {
  display: block;
}

#tribe-events-content-wrapper #tribe-events-content.tribe-events-mounth .tribe-events-calendar td .type-tribe_events:after {
  display: none;
}

#tribe-events-content-wrapper #tribe-events-content .tribe-events-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: left;
  width: auto;
  border-radius: 0;
  font-weight: 400;
  letter-spacing: .15em;
  background-color: #d56a36;
}

#tribe-events-content-wrapper #tribe-events-content .tribe-events-button:hover {
  background-color: #f39e59 !important;
}

#tribe-events-content-wrapper #tribe-events-content .tribe-events-sub-nav li a {
  background: none;
  padding: 0;
}

#tribe-events-content-wrapper #tribe-events-header {
  margin-bottom: 0;
}

#tribe-events-content-wrapper #tribe-events-header .tribe-events-sub-nav {
  display: none;
}

#tribe-events-content-wrapper #tribe-events-footer {
  margin: 0;
  padding-top: 40px;
}

#tribe-events-content-wrapper #tribe-events-footer:before, #tribe-events-content-wrapper #tribe-events-footer:after,
#tribe-events-content-wrapper #tribe-events-header:before,
#tribe-events-content-wrapper #tribe-events-header:after {
  background-color: transparent;
}

#tribe-events-content-wrapper #tribe-bar-collapse-toggle {
  padding: 12px 25px;
  margin-bottom: 13px;
}

#tribe-events-content-wrapper #tribe-bar-collapse-toggle span.tribe-bar-toggle-arrow {
  right: 15px;
  top: 10px;
}

#tribe-events-content-wrapper .tribe-events-day .tribe-events-day-time-slot h5 {
  padding: 0;
  margin: 1.5em 0 0.15em;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 500;
  border: 1px solid #efefef;
  color: #4c494a;
  background-color: transparent;
}

@media only screen and (min-width: 769px) {
  #tribe-events-content-wrapper .tribe-events-day .type-tribe_events {
    margin-bottom: 60px;
  }
}

.qodef-tribe-events-single .qodef-events-single-main-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  min-height: 88px;
  margin: 26px 0 37px;
}

.qodef-tribe-events-single .qodef-events-single-date-holder {
  position: absolute;
  top: 8px;
  left: 0;
  width: 80px;
  height: 91px;
  text-align: center;
  box-sizing: border-box;
}

.qodef-tribe-events-single .qodef-events-single-date-holder .qodef-events-single-date-inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.qodef-tribe-events-single .qodef-events-single-date-holder .qodef-events-single-date-day {
  display: block;
  background-color: #f6f6f6;
  margin: 0;
  padding: 19px 10px;
  box-sizing: border-box;
}

.qodef-tribe-events-single .qodef-events-single-date-holder .qodef-events-single-date-month {
  display: block;
  margin-top: 2px;
  background-color: #f6f6f6;
  color: #4c494a;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;
  padding: 2px 10px;
  box-sizing: border-box;
}

.qodef-tribe-events-single .qodef-events-single-title-holder {
  position: relative;
  padding: 0 70px 0 108px;
}

.qodef-tribe-events-single .qodef-events-single-title-holder h2.qodef-events-single-title {
  margin: 0;
}

.qodef-tribe-events-single .qodef-events-single-title-holder .qodef-events-single-date {
  margin: 22px 0 0;
}

.qodef-tribe-events-single .qodef-events-single-title-holder .qodef-events-single-date > span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.qodef-tribe-events-single .qodef-events-single-title-holder span.qodef-events-single-info-icon {
  position: relative;
  top: 1px;
  margin-right: 7px;
}

.qodef-tribe-events-single .qodef-events-single-title-holder span.qodef-events-single-info-icon * {
  display: block;
  line-height: inherit;
}

.qodef-tribe-events-single .qodef-events-single-title-holder .qodef-events-single-cost {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 18px;
  box-sizing: border-box;
  font-size: 18px;
  letter-spacing: 0.04em;
}

@media only screen and (max-width: 480px) {
  .qodef-tribe-events-single .qodef-events-single-title-holder .qodef-events-single-cost {
    position: relative;
    padding: 5px 0;
  }
}

.qodef-tribe-events-single .qodef-events-single-title-holder .qodef-events-single-cost.qodef-free {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #fff;
  background-color: #d56a36;
}

.qodef-tribe-events-single .qodef-events-single-main-content .tribe-events-cal-links {
  margin-top: 35px;
  margin-bottom: 0;
}

.qodef-tribe-events-single .qodef-events-single-main-content .tribe-events-cal-links .tribe-events-button {
  position: relative;
  overflow: hidden;
  margin-right: 20px !important;
  padding: 17px 40px !important;
  font-weight: 400 !important;
  letter-spacing: .15em !important;
  color: #fff !important;
  background-color: #d56a36 !important;
  border: 0 !important;
  border-radius: 0 !important;
  box-sizing: border-box;
  z-index: 2;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.qodef-tribe-events-single .qodef-events-single-main-content .tribe-events-cal-links .tribe-events-button:hover {
  color: #fff !important;
  background-color: #f39e59 !important;
}

.qodef-tribe-events-single .qodef-events-single-main-content .tribe-events-event-image {
  margin-bottom: 30px;
}

.qodef-tribe-events-single .qodef-events-single-main-content .tribe-events-venue-map {
  width: 100%;
  float: none;
  margin: 0;
  border: none;
  padding: 0;
  border-radius: 0;
}

.qodef-tribe-events-single .qodef-events-single-main-content .tribe-events-venue-map > div {
  height: 0 !important;
  padding-bottom: 61%;
}

@media only screen and (max-width: 1024px) {
  .qodef-tribe-events-single .qodef-events-single-main-content .tribe-events-venue-map {
    margin-bottom: 30px;
  }
}

.qodef-tribe-events-single .qodef-events-single-meta {
  margin-top: 55px;
}

.qodef-tribe-events-single .qodef-events-single-meta h3 {
  margin-bottom: 29px;
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .qodef-tribe-events-single .qodef-events-single-meta .qodef-grid-col-4 {
    width: 50%;
  }
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-meta-item {
  margin-bottom: 19px;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-meta-item > * {
  display: inline-block;
  vertical-align: top;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-meta-item span.qodef-events-single-meta-icon {
  position: relative;
  top: 1px;
  margin-right: 10px;
  font-size: 17px;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-meta-item span.qodef-events-single-meta-icon * {
  display: block;
  line-height: inherit;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-meta-item .qodef-events-single-meta-value > a {
  color: #f39e59;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-meta-item .qodef-events-single-meta-value > a:hover {
  color: #4c494a;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder {
  margin: 95px 0 0px;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-nav-image {
  position: relative;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-nav-image:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 73, 74, 0.11);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-nav-image img {
  display: block;
  width: 190px;
}

@media only screen and (max-width: 1024px) {
  .qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-nav-image img {
    display: none;
  }
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-nav-image:hover:after {
  opacity: 1;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-single-prev-event,
.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-single-next-event {
  display: table;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-single-prev-event .qodef-events-nav-image,
.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-single-prev-event .qodef-events-nav-text,
.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-single-next-event .qodef-events-nav-image,
.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-single-next-event .qodef-events-nav-text {
  display: table-cell;
  vertical-align: middle;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-single-prev-event .qodef-events-nav-text > a,
.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-single-next-event .qodef-events-nav-text > a {
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 500;
  color: #4c494a;
  text-transform: uppercase;
  letter-spacing: 0.09em;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-single-prev-event .qodef-events-nav-text > a:hover,
.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-single-next-event .qodef-events-nav-text > a:hover {
  color: #d56a36;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-single-prev-event .qodef-events-nav-text .qodef-events-nav-label,
.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-single-next-event .qodef-events-nav-text .qodef-events-nav-label {
  display: block;
  color: #4c494a;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-single-prev-event {
  float: left;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-single-prev-event .qodef-events-nav-text {
  padding: 0 20% 0 29px;
  box-sizing: border-box;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-single-next-event {
  float: right;
  text-align: right;
}

.qodef-tribe-events-single .qodef-events-single-meta .qodef-events-single-navigation-holder .qodef-events-single-next-event .qodef-events-nav-text {
  padding: 0 29px 0 20%;
  box-sizing: border-box;
}

/* ==========================================================================
   Events styles - end
   ========================================================================== */

/*# sourceMappingURL=events-list-map.css.map */
